<mat-stepper #stepper [selectedIndex]="0" [formGroup]="questionnaireForm" [animationDuration]="'0'">
  <ng-container formArrayName="pages">
    <mat-step
      *ngFor="let page of questionnairePages; index as pageIndex"
      [formArrayName]="pageIndex"
      [stepControl]="questionnaireForm.controls.pages.controls[pageIndex]"
    >
      <div class="questions-container">
        <div *ngFor="let question of page.entries; index as questionIndex">
          <dt-questionaire-question [question]="question" [formIndex]="questionIndex"></dt-questionaire-question>
        </div>
      </div>
      <div class="navigation-container">
        <ng-container [ngSwitch]="stepper.selectedIndex === 0">
          <button mat-raised-button *ngSwitchCase="true" (click)="openStatus.emit()" i18n>Zurück zur Übersicht</button>
          <button mat-raised-button matStepperPrevious color="accent" *ngSwitchCase="false" i18n>Zurück</button>
        </ng-container>
        <ng-container [ngSwitch]="stepper.selectedIndex === stepper.steps.length - 1">
          <button mat-raised-button *ngSwitchCase="true" (click)="openStatus.emit()" i18n>Weiter zur Übersicht</button>
          <button mat-raised-button matStepperNext color="accent" *ngSwitchCase="false" i18n>Weiter</button>
        </ng-container>
      </div>
    </mat-step>
  </ng-container>
</mat-stepper>
