@use 'variables' as dt;

.questions-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

mat-stepper {
  &::ng-deep {
    .mat-step-icon {
      margin-right: 0;

      &.mat-step-icon-state-error mat-icon {
        color: dt.$orange;
      }
    }

    .mat-step-label {
      min-width: 0;
    }
  }
}
