:host {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 16px;
}

button {
  position: relative;
  margin-right: 8px;
}

dt-event-configuration {
  display: block;
  margin-bottom: 16px;
}
