<dt-step-title [showStepNumber]="false" i18n>Mache ein erstes Brainstorming</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Schreibe alle Aspekte auf, die Dir in der Entscheidungssituation wichtig sind.</ng-template>
  <ng-template #subDescription i18n
    >Orientiere Dich beispielsweise daran, welche Eigenschaften eine optimale Lösung aufweisen würde oder worin sich mögliche Lösungen
    unterscheiden.</ng-template
  >
</dt-step-description>

<p i18n *ngIf="createdAspects">Deine fünf wichtigsten grundlegenden Werte aus Schritt 1 wurden bereits automatisch übernommen.</p>

<div>
  <dt-objective-aspect-list [pageKey]="pageKey"></dt-objective-aspect-list>
</div>
