<form class="add-aspect-form">
  <div class="dt-inputbox">
    <input
      #newAspect
      type="text"
      name="aspekt"
      title="Name des neuen Aspekts"
      [(ngModel)]="newAspectValue"
      [disabled]="readonly"
      i18n-title
      data-cy="add-aspect-or-objective-input"
    />
  </div>
  <dt-button
    (click)="addAspect()"
    [disabled]="readonly || !newAspectValue || newAspectValue.length === 0"
    i18n
    data-cy="add-aspect-or-objective-button"
    >Aspekt hinzufügen</dt-button
  >
</form>

<div>
  <div *ngIf="decisionData.projectMode !== 'professional'" class="settings-container">
    <dt-select [(selectedOptions)]="filter">
      <dt-select-label i18n>Aspekte anzeigen</dt-select-label>
      <dt-select-option [value]="'all'" i18n>Aktuelle Aspekte</dt-select-option>
      <dt-select-option [value]="'onlyCurrent'" i18n>Aus diesem Schritt</dt-select-option>
      <dt-select-option [value]="'currentAndPrevious'" i18n>Bis zu diesem Schritt</dt-select-option>
    </dt-select>
  </div>

  <div class="aspect-list">
    <ng-container *ngFor="let element of mergedAspectsWithIndexes; trackBy: trackByIndex; let i = index">
      <div (dragenter)="dragEnter($event)" (dragover)="dragOver($event, i)" (dragleave)="dragLeave($event)">
        <dt-aspect-box
          #aspectBox
          *ngIf="!isHidden(element)"
          [name]="element.aspect.name"
          (nameChange)="onNameChange($event, i)"
          (deleteClick)="deleteAspect(i)"
          class="aspect"
          [readonly]="readonly"
          [grayedOut]="element.isDeleted"
          [draggable]="!readonly && !aspectBox.isEditing"
          (dragstart)="dragStart($event, i)"
          (dragend)="dragEnd()"
          (dragover)="dragOver($event, i)"
          (drop)="drop($event)"
          [currentlyDragging]="!currentlyDragging(undefined)"
          [currentlyDraggingBox]="currentlyDragging(i)"
        ></dt-aspect-box>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #confirmDeleteModal let-data let-dialogRef="dialogRef">
  <dt-modal-content (closeClick)="dialogRef.close()" [showFooter]="true" [flexContent]="true" [dialogRef]="dialogRef">
    <ng-template #title i18n>Löschen bestätigen</ng-template>
    <ng-template #content>
      <p i18n
        >Der Aspekt &bdquo;{{ data.name }}&ldquo; ist Teil der Zielhierarchie. Bist Du sicher, dass Du den Aspekt löschen möchtest? Der
        Aspekt wird dabei auch aus der Zielhierarchie entfernt.</p
      >
    </ng-template>
    <ng-template #footer>
      <dt-button
        (click)="deleteAspectFromTree(mergedAspectsWithIndexes[data.index].idx); this.updateMergedAspects(); dialogRef.close()"
        color="warn"
        i18n
        >Ja, löschen</dt-button
      >
      <dt-button (click)="dialogRef.close()" type="raised-less" i18n>Nein, abbrechen</dt-button>
    </ng-template>
  </dt-modal-content>
</ng-template>
