<dt-modal-content [flexContent]="true" (closeClick)="dialogRef.close()">
  <ng-template #title i18n>Fehlende Daten</ng-template>

  <ng-template #content>
    <p>
      {{ data.message }}
      <ng-container i18n>Beachte dabei auch folgende Punkte:</ng-container>
    </p>
    <mat-error class="dt-error" *ngFor="let err of data.errors">
      <dt-error-msg [error]="err"></dt-error-msg>
    </mat-error>
  </ng-template>

  <ng-template #footer>
    <dt-button type="raised-less" (click)="dialogRef.close()" i18n>Schließen</dt-button>
  </ng-template>
</dt-modal-content>
