@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-alternative-box {
    .box {
      background-color: klug-colors.$klug-orange;
      border: 2px solid klug-colors.$klug-orange;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  klug-alternative-box input {
    font-size: mat.font-size($typography-config, 'subheading-1');
    line-height: 1;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
