@use 'variables' as dt;

:host {
  display: flex;
}

.container {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 1fr 1fr;

  flex-basis: 100vh;

  overflow: auto;

  .objective-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1;

    background-color: rgb(220, 220, 220);
    font-weight: bold;
    color: dt.$blue-darken-2;
    padding: 10px;

    text-align: center;

    grid-row: 2;

    button {
      width: 30px;
      height: 30px;
    }
  }

  .scales-container {
    display: flex;
    grid-row: 3;
    grid-column: 1 / 3;

    .graph-container {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      padding: 20px;

      .content {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex: 1;
        width: 100%;
      }

      .buffer {
        max-height: 20vh;
      }

      dt-scale-descriptor,
      dt-scale-values {
        flex: 1;
      }
    }
  }
}

.column-container {
  overflow: auto;
  max-height: 100%;
  width: 50%;

  .dropdown-container {
    height: 50px;
    z-index: 20;
    display: flex;

    &.left-dropdown {
      justify-content: left;
      padding-left: 20px;
    }

    &.right-dropdown {
      justify-content: right;
      padding-right: 20px;
    }
  }
}

.scroll-container {
  position: relative;
  height: calc(100% - 50px);

  &.first-column {
    grid-column: 1;
    border-right: 1px solid gray;
  }

  &.second-column {
    grid-column: 2;
    border-left: 1px solid gray;
  }
}
