<dt-modal-content [contentPadding]="false" (closeClick)="dialogRef.close()">
  <ng-template #title i18n>Referenzziel auswählen</ng-template>
  <ng-template #content>
    <div>
      <table>
        <tr>
          <th></th>
          <th i18n>Ziel</th>
          <th i18n>Skala (Einheit)</th>
          <th i18n>Zielgewicht</th>
        </tr>
        <tr *ngFor="let objective of sortedObjectives" [class.disabled]="objective[2] === 0">
          <td>
            <mat-radio-button
              [disabled]="objective[2] === 0"
              [checked]="referenceObjectiveIdx === objective[1]"
              (change)="referenceObjectiveIdx = objective[1]"
            ></mat-radio-button>
          </td>
          <td>{{ objective[0].name }}</td>
          <td>
            <ng-container *ngIf="objective[0].isNumerical">
              <span><span i18n>Numerisch</span> ({{ objective[0].numericalData.unit }})</span>
            </ng-container>
            <ng-container *ngIf="objective[0].isVerbal">
              <span i18n>Verbal</span>
            </ng-container>
            <ng-container *ngIf="objective[0].isIndicator">
              <span><span i18n>Konstruierte Skala</span> ({{ '%' }})</span>
            </ng-container>
          </td>
          <td>{{ objective[2] != null ? objective[2] + '%' : '-' }}</td>
        </tr>
      </table>
    </div>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="submit()" icon="save" iconPosition="left" i18n [disabled]="currentReferenceObjectiveIdx === referenceObjectiveIdx"
      >Übernehmen</dt-button
    >
    <dt-button type="raised-less" (click)="dialogRef.close()" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>
