<dt-modal-content>
  <ng-template #title i18n>Projekt aus Nightly-Version</ng-template>
  <ng-template #content>
    <p i18n>Du hast ein Projekt importiert, welches mit einer Nightly-Version des Entscheidungsnavis erstellt wurde.</p>
    <p i18n>Dies kann zu Inkonsistenzen, Datenverlust oder einem Absturz der Anwendung führen.</p>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="dialogRef.close()" i18n>Verstanden</dt-button>
  </ng-template>
</dt-modal-content>
