@import '../shared/decision-statement-note-container';

.template-text {
  margin-top: 32px;
  text-align: center;
}

p.template-selection {
  margin: 16px 24px;
}

dt-template-selection {
  flex: 1;
  min-height: 0;
}
