.list {
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  gap: 16px;
  padding: 0 8px;

  .column {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.add-influence-factor {
  margin-top: 16px;

  display: flex;
  justify-content: center;
}
