<dt-modal-content size="small" (closeClick)="close()">
  <ng-template #title i18n>Passwort zurücksetzen</ng-template>
  <ng-template #content>
    <ng-container [ngSwitch]="done">
      <form *ngSwitchCase="false" #actualForm="ngForm" class="dt-form" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
        <mat-form-field>
          <mat-label i18n>E-Mail-Adresse</mat-label>
          <input type="email" matInput formControlName="email" required />
          <mat-error *ngIf="resetForm.hasError('required', 'email')" i18n>Bitte gib eine E-Mail-Adresse an</mat-error>
          <mat-error *ngIf="resetForm.hasError('email', 'email')" i18n>Bitte gib eine gültige E-Mail-Adresse an</mat-error>
        </mat-form-field>

        <mat-error *ngIf="resetForm.getError('server-error') === 'rate-limit'" i18n
          >Du hast in kurzer Zeit zu viele Anfragen gestellt. Bitte versuche es später noch einmal.</mat-error
        >

        <mat-error *ngIf="resetForm.getError('server-error') === 'account-not-found'" i18n
          >Es existiert kein Account zu dieser E-Mail-Adresse.</mat-error
        >

        <mat-error *ngIf="resetForm.getError('server-error') === 'something'" i18n
          >Bei der Übertragung der Daten ist ein Fehler aufgetreten.</mat-error
        >

        <button
          mat-raised-button
          [dtOverlayProgress]="resetForm.disabled"
          type="submit"
          color="accent"
          [disabled]="(!resetForm.valid && !actualForm.submitted) || resetForm.disabled"
          i18n
          >Passwort zurücksetzen</button
        >
      </form>
      <ng-container *ngSwitchCase="true">
        <p i18n>Dir wurde eine E-Mail zum Zurücksetzen Deines Passworts zugeschickt.</p>
        <p i18n>Keine E-Mail erhalten? Prüfe Deinen Spam Ordner.</p>
      </ng-container>
    </ng-container>
  </ng-template>
</dt-modal-content>
