@use 'variables' as dt;

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

dt-template-selection {
  overflow-y: auto;
  // Each list item for a template is 56px high.
  min-height: 56px * 4;
}

mat-form-field {
  display: block;
}

p,
mat-form-field {
  margin: 8px 24px;
}

.header {
  @include dt.typography-level-old(body-1);
  padding: 12px 24px 8px 24px;
}

.mode-selection .entry {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: #e5e5e5;
  }

  .bold {
    font-weight: 500;
  }
}
