<div>
  <mat-form-field *ngIf="passwordChange">
    <mat-label i18n>Altes Passwort</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'test'" formControlName="oldPassword" required />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      tabindex="-1"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.hasError('required', 'oldPassword')" i18n>Bitte gib Dein altes Passwort an</mat-error>
  </mat-form-field>

  <mat-form-field i18n-hintLabel hintLabel="Mindestens 8 Zeichen">
    <mat-label
      ><ng-container [ngSwitch]="newPassword">
        <ng-container i18n *ngSwitchCase="true">Neues Passwort</ng-container>
        <ng-container i18n *ngSwitchCase="false">Passwort</ng-container>
      </ng-container></mat-label
    >

    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      tabindex="-1"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.hasError('required', 'password')" i18n>Bitte gib ein Passwort an</mat-error>
    <mat-error *ngIf="form.hasError('minlength', 'password')" i18n>Das Passwort muss mindestens 8 Zeichen lang sein</mat-error>
  </mat-form-field>
  <dt-passwordstrength [password]="form.get('password').value" (passwordValid)="passwordValid = $event"></dt-passwordstrength>

  <mat-form-field>
    <mat-label
      ><ng-container [ngSwitch]="newPassword">
        <ng-container i18n *ngSwitchCase="true">Neues Passwort wiederholen</ng-container>
        <ng-container i18n *ngSwitchCase="false">Passwort wiederholen</ng-container>
      </ng-container></mat-label
    >
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordRepeat" required />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      tabindex="-1"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    <mat-error *ngIf="form.hasError('required', 'passwordRepeat')" i18n>Bitte wiederhole Dein Passwort</mat-error>
    <mat-error *ngIf="form.hasError('matchOther', 'passwordRepeat')" i18n>Die Passwörter stimmen nicht überein</mat-error>
  </mat-form-field>
</div>
