@use 'variables' as dt;

:host > h1 {
  margin: 0 auto;
}

.alternative-add-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  > * {
    margin: 5px;
  }

  > label {
    margin-left: 0;
  }

  > .dt-inputbox {
    flex: 1 0 250px;

    > input {
      margin: 0;
    }
  }
}

dt-screw-list {
  height: 591px;
}
