<div class="center-weights-container">
  <div class="weights-container">
    <div *ngFor="let objective of decisionData.objectives; index as objectiveIndex" class="weight mat-elevation-z3">
      <div class="header">
        <dt-note-btn
          [(comment)]="decisionData.weights.explanations[objectiveIndex]"
          [darkBackground]="true"
          [caption]="objective.name | noteBtnPreset : 'objectiveWeight'"
        ></dt-note-btn>
        <div
          class="objective-name"
          #nameOverflow="dtOverflow"
          [dtOverflow]
          [matTooltip]="objective.name"
          [matTooltipDisabled]="!nameOverflow.isOverflowing"
          >{{ objective.name }}</div
        >
      </div>
      <div class="scale-container">
        <span i18n>Von</span
        ><span
          class="extrema"
          #fromOverflow="dtOverflow"
          [dtOverflow]
          [matTooltip]="getMin(objective)"
          [matTooltipDisabled]="!fromOverflow.isOverflowing"
          >{{ getMin(objective) }}</span
        ><span i18n>bis</span
        ><span
          class="extrema"
          #toOverflow="dtOverflow"
          [dtOverflow]
          [matTooltip]="getMax(objective)"
          [matTooltipDisabled]="!toOverflow.isOverflowing"
          >{{ getMax(objective) }}</span
        >

        <div class="indicator-info" [dtHoverPopover]="indicatorScaleInfoPopover" *ngIf="objective.isIndicator">
          <mat-icon>info</mat-icon>

          <ng-template #indicatorScaleInfoPopover>
            <div class="indicator-scale-info-popover mat-elevation-z3">
              <div class="table-wrapper">
                <table>
                  <tr>
                    <td i18n>Indikator</td>
                    <td i18n>Bandbreite</td>
                    <td i18n>Einheit</td>
                  </tr>

                  <tr *ngFor="let indicator of getIndicatorScaleInfo(objective)">
                    <td>{{ indicator[0] }}</td>
                    <td>{{ indicator[1] }} <span i18n>bis</span> {{ indicator[2] }}</td>
                    <td [ngSwitch]="!!indicator[3]"
                      ><span *ngSwitchCase="true">{{ indicator[3] }}</span
                      ><span class="no-unit" *ngSwitchCase="false" i18n>Keine</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="controls-container">
        <button
          *ngIf="isNormalized()"
          mat-stroked-button
          class="modify-weight-button"
          color="accent"
          (dtDynamicChange)="adjustWeight(objectiveIndex, -1)"
          [disabled]="objectiveWeights[objectiveIndex].value === 0"
          >&ndash;
        </button>

        <button *ngIf="!isFinished()" mat-button color="accent" (click)="setWeightToMax(objectiveIndex)"> Max.</button>

        <div class="weight-display" *ngIf="isFinished()">
          <div class="weight-value" [ngSwitch]="isFinished() && isNormalized()">
            <span *ngSwitchCase="true">{{ this.percentages[objectiveIndex][0] / 100 | percent : '1.1-1' }}</span>
            <span *ngSwitchCase="false">-</span>
          </div>
          <div *dtProjectMode="'educational'" class="accuracy">
            {{ weightPre(objectiveIndex) }}
          </div>
        </div>
        <button
          *ngIf="isNormalized()"
          mat-stroked-button
          class="modify-weight-button"
          color="accent"
          (dtDynamicChange)="adjustWeight(objectiveIndex, 1)"
          [disabled]="objectiveWeights[objectiveIndex].value === 0"
          >+
        </button>
      </div>
      <div class="slider-container">
        <dt-bar-slider
          [value]="objectiveWeights[objectiveIndex].value || 0"
          [min]="0"
          [max]="maxInputValue"
          (valueChange)="changeWeight(objectiveIndex, $event, false)"
          [interval]="true"
          [precision]="objectiveWeights[objectiveIndex].precision"
          [width]="40"
          [length]="sliderLength"
        ></dt-bar-slider>
      </div>
      <div class="bottom-container">
        <ng-container *dtProjectMode="['educational', 'professional']">
          <ng-container *ngIf="isFinished() && isNormalized()" [ngSwitch]="decisionData.weights.tradeoffObjectiveIdx === objectiveIndex">
            <button *ngSwitchCase="true" i18n mat-stroked-button color="accent" (click)="openReferenceObjectiveSelection()"
              >Referenzziel</button
            >
            <button
              *ngSwitchCase="false"
              mat-stroked-button
              color="primary"
              [disabled]="objectiveWeights[objectiveIndex].value === 0"
              routerLink="{{ tradeoffUrl }}/{{ objectiveIndex }}"
              [ngSwitch]="isTradeoffVerified(objectiveIndex)"
            >
              <ng-container i18n>Trade-off</ng-container>&nbsp;
              <mat-icon *ngSwitchCase="true" class="verified" matTooltip="Trade-off verifiziert" i18n-matTooltip>verified</mat-icon>
              <mat-icon *ngSwitchCase="false" class="unverified" matTooltip="Trade-off nicht verifiziert" i18n-matTooltip>warning</mat-icon>
            </button>
          </ng-container>
        </ng-container>
        <div class="weight-input-container" *ngIf="!isNormalized() && hasDefaultMaxWeight">
          <input
            tabindex="1"
            dtValidateNumberInput
            type="number"
            step="1"
            [min]="0"
            [max]="100"
            [ngModel]="objectiveWeights[objectiveIndex].value / 2.5 | round"
            (blur)="changeWeight(objectiveIndex, weightInput.valueAsNumber * 2.5, false)"
            i18n-placeholder
            placeholder="Gewicht (0-100)"
            #weightInput
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-container" *ngIf="showResetButton">
  <dt-button
    i18n
    type="raised-less"
    dtConfirmPopover="Zielgewichte wirklich zurücksetzen?"
    i18n-dtConfirmPopover
    dtConfirmPopoverConfirmText="Zurücksetzen"
    i18n-dtConfirmPopoverConfirmText
    (dtConfirmPopoverConfirm)="resetWeights()"
    >Zurücksetzen</dt-button
  >
  <dt-button *ngIf="isFinished() && !isNormalized()" type="raised" (click)="checkDefaultTradeoffObjective(); normalize()" i18n
    >in Prozent berechnen
  </dt-button>
</div>

<ng-template #notification>
  <span i18n>Präzisionsintervall entfernt!</span>
</ng-template>
