@use 'variables' as dt;
@use '@angular/material' as mat;

.button-container {
  display: flex;
  justify-content: center;
}

.button-container:not(:empty) {
  margin-top: 10px;
}

.center-weights-container {
  display: flex;
  justify-content: center;
}

.weights-container {
  display: flex;

  padding: 0 5px 5px 5px;

  overflow: auto;

  gap: 20px;

  .weight {
    display: flex;
    flex-direction: column;

    background-color: white;

    width: 215px;
    flex-shrink: 0;

    .header {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;

      background-color: dt.$objective;

      // Allocate space for an objective name spanning over two lines.
      height: 2 * mat.line-height(dt.$typography, body-1) * mat.font-size(dt.$typography, body-1);
      box-sizing: content-box;

      padding: 5px 10px;

      .objective-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        @include dt.typography-level-old(body-1);
        font-weight: 500;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;

        color: white;
      }
    }

    .controls-container {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;

      gap: 15px;

      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      button.modify-weight-button {
        line-height: 24px;
        height: 25px;
        font-size: 1.4rem;
        min-width: 40px;
        padding: 0;
      }

      .weight-display {
        display: flex;
        flex-direction: column;
        align-items: center;

        .weight-value {
          font-weight: 500;
          text-align: center;
          min-width: 6ch;
        }

        .accuracy {
          font-size: dt.font-size-old(caption);
          color: gray;
        }
      }
    }

    .slider-container {
      padding: 10px;
    }

    .bottom-container {
      button {
        width: 100%;
        height: 36px;

        border-radius: 0;
      }

      .weight-input-container {
        height: 36px;
        background-color: #f5f5f5;

        input {
          margin: 0;

          height: 100%;
          text-align: center;
          padding-left: 1.5ch;

          &::placeholder {
            color: lightgray;
          }
        }
      }

      mat-icon.verified {
        color: dt.$blue;
      }

      mat-icon.unverified {
        color: dt.$crimson-red;
      }
    }
  }
}

.scale-container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: dt.font-size-old(caption);

  text-align: center;

  background-color: dt.$objective-darken-1;
  color: rgba(255, 255, 255, 0.6);

  padding: 0 10px;
  height: 40px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .extrema {
    flex: 1;
    max-width: max-content;

    overflow: hidden;
    text-overflow: ellipsis;

    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;

    margin: 0 0.5ch;
  }

  .indicator-info {
    display: flex;
    justify-content: flex-end;

    mat-icon {
      margin-left: 5px;

      cursor: pointer;

      transition: 150ms color linear;

      &:hover {
        color: white;
      }
    }
  }
}

.indicator-scale-info-popover {
  display: flex;
  flex-direction: column;

  border-radius: 5px;

  background-color: white;

  .table-wrapper {
    table {
      border-collapse: separate;
      border-spacing: 0;

      tr:not(:last-child) td {
        border-bottom: 1px solid rgba(211, 211, 211, 0.5);
      }

      tr:first-child {
        border-bottom: 1px solid lightgray;
        background-color: #e3e6e8;
        font-weight: 500;
      }

      td {
        text-align: center;
        padding: 5px 10px;
        text-align: center;
        border-right: 1px solid lightgray;
      }

      .no-unit {
        color: lightgray;
        font-style: italic;
      }
    }
  }
}
