<div class="list">
  <div
    class="delimiter"
    (mouseenter)="activeDelimiter = 0; dragEnterDelimiter($event, 0)"
    (mouseleave)="activeDelimiter = -1"
    (mouseup)="dropDelimiter($event, 0)"
    [class.active]="activeDelimiter === 0"
  >
    <div class="delimiter-line" [class.visible]="dragging && (draggingChild || currentlyDraggedIndex !== 0)"></div>
  </div>

  <ng-container *ngFor="let element of listElements; let i = index">
    <div
      class="element-content"
      [class.dragging]="dragging && !draggingChild && currentlyDraggedIndex === i"
      (dragstart)="dragStart($event, i)"
      (mouseup)="dropElement($event, i)"
      (mouseenter)="dragEnterElement($event, i)"
      (mouseleave)="dragLeaveElement($event, i)"
      [attr.index]="i"
    >
      <ng-container [ngTemplateOutlet]="elementTemplate" [ngTemplateOutletContext]="{ $implicit: element, index: i }"></ng-container>
      <div class="group-overlay" [class.current-recipient]="currentRecipientIndex === i" *ngIf="allowGrouping && dragging">
        <ng-container *ngIf="dragging && currentlyDraggedIndex !== i" i18n>Alternative eingruppieren</ng-container>
      </div>
    </div>

    <div
      class="delimiter"
      (mouseenter)="activeDelimiter = i + 1; dragEnterDelimiter($event, i + 1)"
      (mouseleave)="activeDelimiter = -1"
      (mouseup)="dropDelimiter($event, i + 1)"
      [class.active]="activeDelimiter === i + 1"
    >
      <div
        class="delimiter-line"
        [class.visible]="dragging && (draggingChild || (currentlyDraggedIndex !== i && currentlyDraggedIndex !== i + 1))"
      ></div>
    </div>
  </ng-container>
</div>

<ng-template #error>
  <div style="display: flex; align-items: center">
    <mat-icon>error</mat-icon>
    <span style="margin-left: 10px" i18n>Gruppierte Alternativen können nicht in andere Alternativen eingruppiert werden!</span>
  </div>
</ng-template>
