@use 'variables' as dt;

.delimiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10px;

  .delimiter-line {
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s;
    height: 3px;

    &.visible {
      background-color: lightgray;
    }
  }

  &.active .delimiter-line.visible {
    background-color: dt.$orange;
  }
}

.element-content {
  position: relative;

  &.dragging {
    opacity: 0.2;
  }

  .group-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.7);

    transition: opacity 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    @include dt.typography-level-old(subheading-2);

    &.current-recipient {
      border: 2px solid dt.$orange;
      color: dt.$orange;
    }
  }
}

/**
 * Global styles
 */

::ng-deep {
  .dt-drag-move-cursor * {
    cursor: move !important;
  }

  .dt-drag-group-cursor * {
    cursor: cell !important;
  }

  .dt-drag-group-invalid-cursor * {
    cursor: not-allowed !important;
  }
}
