<div class="table-container" #tablecontainer>
  <div
    class="header-container"
    matSort
    [matSortActive]="defaultSortColumn"
    [matSortDirection]="defaultSortDirection"
    [matSortDisabled]="!sortChangeable"
    matSortDisableClear
    (matSortChange)="sortEvent($event)"
  >
    <div class="header" *ngFor="let column of columns; let i = index">
      <ng-container *ngIf="column.sortable; then sortable; else notSortable"></ng-container>
      <ng-template #sortable
        ><span [mat-sort-header]="column.id">{{ column.name }}</span></ng-template
      >
      <ng-template #notSortable
        ><span>{{ column.name }}</span></ng-template
      >
    </div>
    <ng-content select="[header]"></ng-content>
  </div>

  <div class="scroll-container">
    <div class="body-container">
      <div class="column" *ngFor="let column of columns" [style.flex]="column.flex ? 1 : null">
        <div
          class="cell"
          (click)="clickEvent($event, i)"
          (mouseenter)="hoverRow = i"
          (mouseleave)="hoverRow = -1"
          *ngFor="let element of data; let i = index"
          [style.background-color]="(clickableRows && i === hoverRow) || selectedIndex === i ? '#e6e6e6' : null"
          [style.cursor]="clickableRows ? 'pointer' : null"
          [style.height.px]="rowHeight"
        >
          <ng-container [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{ $implicit: element, index: i }">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
