@use 'sass:map';
@use 'sass:list';
@use '@angular/material' as mat;
@use '../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-comparison-graph {
    .box {
      color: white;
      &.objective {
        background-color: klug-colors.$klug-red;
      }

      &.comparison {
        background-color: list.nth(klug-colors.$klug-diagram-colors, 7);

        &.unset {
          background-color: white;
          border: 5px solid list.nth(klug-colors.$klug-diagram-colors, 7);
          color: list.nth(klug-colors.$klug-diagram-colors, 7);
        }
      }

      &:empty:not(:first-child) {
        background-color: lightgray;
      }
    }
  }

  .klug-weight-comparison-modal {
    .option {
      background-color: gray;

      &.objective {
        background-color: klug-colors.$klug-red;
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  klug-comparison-graph {
    .comparison-grid .box {
      @include mat.typography-level($typography-config, 'subheading-1');

      &:not(.comparison) {
        font-weight: 500;
      }
    }
  }

  .klug-weight-comparison-modal {
    .option {
      @include mat.typography-level($typography-config, 'subheading-1');
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
