:host {
  display: flex;
  flex-direction: column;
  overflow: auto;

  min-height: 200px;
}

.comparison-grid-container {
  display: flex;
  justify-content: center;
  overflow: auto;

  .comparison-grid {
    display: grid;
    grid-auto-rows: max-content;

    gap: 2px;

    overflow: auto;
    border-radius: 5px;

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      padding: 5px;
      min-height: 50px;

      &.comparison {
        cursor: pointer;

        .equal {
          font-style: italic;
        }
      }

      &.column {
        position: sticky;
        top: 0;
      }

      &.row {
        position: sticky;
        left: 0;
      }

      &.header {
        z-index: 1;
        background-color: white;
      }
    }
  }
}

.klug-weight-comparison-modal {
  padding: 24px;
  overflow: hidden;

  .klug-weight-comparison-grid {
    display: grid;
    grid-auto-rows: 100%;
    height: 200px;
    max-height: 200px;

    transition: transform 250ms;

    .weight-container {
      display: flex;

      place-self: center;

      gap: 20px;

      padding: 50px 0;

      .option {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        user-select: none;
        cursor: pointer;

        color: white;
        padding: 10px 20px;
      }
    }
  }
}
