<div class="dt-limit-width">
  <dt-step-title *ngIf="showTitle" [showStepNumber]="false" i18n>Zielfokussierte Suche nach neuen Alternativen</dt-step-title>

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *ngIf="!decisionData.isProfessional()" i18n
        >Entwickle neue Alternativen, indem Du Dich auf Deine Ziele fokussierst.</ng-container
      >
      <ng-container *ngIf="decisionData.isProfessional()" i18n
        >Hier kannst Du Ideen eintragen, wie Du die Ziele gut erreichen könntest. Diese Ideen kannst Du einzeln und in Kombination nutzen,
        um neue Alternativen zu formulieren.</ng-container
      >
    </ng-template>
    <ng-template #subDescription i18n
      >Überlege, wie Alternativen aussehen könnten, die jeweils eines Deiner Ziele optimal erfüllen.</ng-template
    >
  </dt-step-description>
</div>

<div class="groups">
  <dt-objective-group *ngFor="let ziel of decisionData.objectives; let i = index" [notePage]="ideas" [noteGroupIdx]="i">
    <span class="dt-group-headline" i18n
      >Ideen, wie Du im Ziel<br /><b>"{{ ziel.name }}"</b><br />
      ein sehr gutes Ergebnis erreichen könntest:</span
    >
    <div *ngIf="aspects[i].length > 0" class="dt-group-body aspects">
      <dt-collapsible class="mat-caption" [open]="true" [arrow]="'right'">
        <span class="dt-collapsible-caption" i18n>Im letzten Schritt hast Du folgende Aspekte genannt:</span>
        <ul class="dt-collapsible-body browser-default">
          <li *ngFor="let aspect of aspects[i]">{{ aspect }}</li>
        </ul>
      </dt-collapsible>
    </div>
  </dt-objective-group>
</div>

<div class="dt-limit-width">
  <form (submit)="addAlternative()" class="alternative-add-form">
    <label for="alternative" i18n>Eine neue (kreative) Alternative wäre:</label>
    <div class="dt-inputbox">
      <input
        type="text"
        id="alternative"
        name="alternative"
        [(ngModel)]="newAlternative"
        placeholder="Alternative"
        title="Name der neuen Alternative"
        i18n-title
        data-cy="add-alternative-input"
      />
    </div>
    <dt-button [disabled]="!newAlternative || newAlternative.length === 0" i18n data-cy="add-alternative-button"
      >Alternative hinzufügen</dt-button
    >
  </form>

  <dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>

  <ng-template #notify>
    <span class="notification-text" i18n>Neue Alternative hinzugefügt!</span>
  </ng-template>
</div>
