@use 'variables' as dt;

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dt-group-headline {
  // Do not overflow parent
  max-width: 100%;
}

.dt-group-body {
  background-color: #eee;
  color: #555;
  padding: 5px;

  & > ul {
    margin: 0;
  }
}

.aspects dt-collapsible {
  font-size: dt.font-size-old(caption);
}

.aspects dt-collapsible ul {
  margin: 0;
  padding-left: 1.5em;
}

.alternative-add-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;

  > * {
    margin: 5px;
  }

  > .dt-inputbox {
    flex: 1 0 250px;

    > input {
      margin: 0;
    }
  }
}

.notification-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
