<dt-modal-content
  [size]="'big'"
  [showFooter]="selectedTabIndex === 1"
  (closeClick)="dialogRef.close()"
  [contentPadding]="false"
  [flexContent]="true"
>
  <ng-template #title>{{ decisionData.decisionProblem }}</ng-template>
  <ng-template #content>
    <mat-tab-group
      [(selectedIndex)]="decisionData.savedValues.projectDescriptionSelectedIndex"
      mat-stretch-tabs
      color="accent"
      mat-align-tabs="center"
    >
      <mat-tab>
        <ng-template mat-tab-label i18n>Beschreibung</ng-template>
        <dt-rich-text-editor
          [(text)]="decisionData.projectNotes"
          [modalPadding]="true"
          placeholder="Beginne mit der Formulierung Deiner Projektbeschreibung"
          i18n-placeholder
        ></dt-rich-text-editor>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label i18n>Ergebnismatrix</ng-template>
        <dt-project-view [addShadow]="true"></dt-project-view>
      </mat-tab>
      <mat-tab *dtProjectMode="['educational', 'professional']">
        <ng-template mat-tab-label i18n>Entscheidungsqualität</ng-template>
        <dt-decision-quality-chart [allowRevise]="true" (closeParent)="dialogRef.close()"></dt-decision-quality-chart>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label i18n>Eigenschaften</ng-template>
        <div class="section">
          <h4 class="title" i18n>Titel</h4>
          <mat-form-field subscriptSizing="dynamic" [ngStyle]="{ 'width.ch': inputProjectName.value.length }" appearance="fill">
            <mat-label i18n>Titel des Projektes</mat-label>
            <input [(ngModel)]="decisionData.decisionProblem" #inputProjectName matInput type="text" />
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Daten zum Projekt</h4>
          <div>
            <pre i18n>Speicherort:</pre>
            <ng-container [ngSwitch]="projectLocation">
              <ng-container *ngSwitchCase="'online'" i18n>Entscheidungsnavi Cloud</ng-container>
              <ng-container *ngSwitchCase="'local'" i18n>Lokal</ng-container>
            </ng-container>
          </div>
          <div>
            <pre i18n>Erstellungsdatum:</pre>
            <ng-container *ngIf="dates; else onlyCloud">{{ dates[0] | date : 'mediumDate' }}</ng-container>
          </div>
          <div>
            <pre i18n>Änderungsdatum:</pre>
            <ng-container *ngIf="dates; else onlyCloud">{{ dates[1] | date : 'mediumDate' }}</ng-container>
          </div>
          <ng-template #onlyCloud i18n>Nur für Entscheidungsnavi Cloud Projekte verfügbar</ng-template>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Erstellt von</h4>
          <div class="user-name">
            <mat-form-field subscriptSizing="dynamic" [ngStyle]="{ 'width.ch': inputAuthorName.value.length }" appearance="fill">
              <mat-label i18n>Name des Autors</mat-label>
              <input [(ngModel)]="decisionData.authorName" #inputAuthorName matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Modus</h4>
          <span>Entscheidungsnavi {{ decisionData.projectMode | titlecase }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Dateigröße</h4>
          <div [class.over-limit]="projectSize > 10"
            >{{ projectSize.toFixed(3) }} <span *ngIf="projectLocation === 'online'" i18n>von 10</span> MB
          </div>
        </div>
        <mat-divider></mat-divider>
        <div *dtProjectMode="['starter', 'educational']" class="section">
          <h4 class="title" i18n>Projektfortschritt</h4>
          <div class="project-progress-container">
            <ul i18n>
              <li>Schritt 1: {{ projectStatusText[0] }}</li>
              <li>Schritt 2: {{ projectStatusText[1] }}</li>
              <li>Schritt 3: {{ projectStatusText[2] }}</li>
              <li>Schritt 4: {{ projectStatusText[3] }}</li>
              <li *dtProjectMode="'educational'">Schritt 5: {{ projectStatusText[4] }}</li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #footer>
    <dt-button
      (click)="exportAsExcel(true)"
      i18n
      i18n-matTooltip
      matTooltip="Exportieren wie aktuell dargestellt"
      matTooltipPosition="above"
      >Aktuelle Übersicht als Excel exportieren</dt-button
    >
    <dt-button
      (click)="exportAsExcel(false)"
      i18n
      i18n-matTooltip
      matTooltip="Exportieren mit allen Zielen &amp; Alternativen aufgeklappt"
      matTooltipPosition="above"
      >Gesamtübersicht als Excel exportieren</dt-button
    >
  </ng-template>
</dt-modal-content>
