<ng-container [ngSwitch]="relevantInfluenceFactors.length === 0">
  <div *ngSwitchCase="true" i18n>Keine Einschränkungen auf bestimmte Szenarien möglich.</div>
  <table *ngSwitchCase="false">
    <tr>
      <th i18n>Einflussfaktor bzw. Ziel/Indikator</th>
      <th i18n>Zustände</th>
      <th i18n>W.-keit</th>
    </tr>
    <tr *ngFor="let entry of relevantInfluenceFactors">
      <td>
        {{ getName(entry) }}
        <div class="predefined-description" *ngIf="isPredefinedKey(entry.key)">
          {{ getPredefinedDescription(entry.key) }}
        </div>
      </td>
      <td>{{ getStateName(entry) }}</td>
      <td>{{ entry.expected | percent }}</td>
    </tr>
  </table>
</ng-container>
