<mat-chip-listbox [multiple]="true">
  <mat-chip-option [selected]="selectedTagIds.includes(tag.id)" *ngFor="let tag of visibleTags" (click)="tagClick.emit(tag)">
    {{ tag.name | localizedString }}
  </mat-chip-option>
  <mat-chip-option *ngIf="hasOverflow" [dtHoverPopover]="popoverTemplate" dtHoverPopoverPosition="right">&mldr;</mat-chip-option>
</mat-chip-listbox>

<ng-template #popoverTemplate>
  <div class="popover">
    <mat-chip-listbox [multiple]="true">
      <mat-chip-option [selected]="selectedTagIds.includes(tag.id)" *ngFor="let tag of overflowingTags" (click)="tagClick.emit(tag)">
        {{ tag.name | localizedString }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
</ng-template>
