<dt-extendable-header i18n-headerName variation="large" headerName="Das brauchst Du in diesem Teilschritt" [initialOpening]="true">
  <p i18n
    >Die Boxen in der Mitte stellen Deine Stellhebel dar, die Du auf Deine Entscheidungssituation anpassen kannst. Zwei Stellhebel werden
    bereits standardmäßig angezeigt. Mit Klick auf eine der dunklen oberen Boxen oben öffnet sich ein Fenster, in dem Du einen Stellhebel
    bearbeiten kannst. Hier kannst Du Deinen Stellhebel und die möglichen Positionen des Stellhebels benennen und mit Klick auf den Button
    „Stellhebelposition hinzufügen“ neue mögliche Stellhebelpositionen hinzufügen. Auf diese Weise kannst Du bis zu acht
    Stellhebelpositionen erzeugen. Mithilfe der Mülleimer-Buttons kannst Du Positionen wieder löschen (beachte, dass jeder Stellhebel
    mindestens 2 Positionen haben muss). Das Icon <mat-icon>drag_handle</mat-icon> links von den Stellhebelpositionen dient dazu, die
    Positionen per Drag &amp; Drop vertikal zu verschieben. Um Deine Änderungen zu speichern und das Bearbeitungsfenster wieder zu
    schließen, nutze den Button „Übernehmen“. Den Button „Verwerfen“ und das X oben rechts nutzt Du, wenn Du Deine Änderungen nicht
    speichern und das Fenster wieder schließen möchtest. Um einen Stellhebel zu löschen, nutze den „Löschen“ Button (nur bei mehr als 2
    Stellhebeln möglich).</p
  >
  <p i18n
    >Links neben den Stellhebeln stehen die Alternativen, die Du bis jetzt ggf. schon definiert hast. Wenn Du einen Alternativennamen
    anklickst, wird automatisch die unterste Zeile bei allen Stellhebeln markiert. Dies bedeutet, dass Du dieser Alternative noch keine
    Stellhebelpositionen zugeordnet hast. Um Positionen zuzuordnen, klicke auf das Schloss neben dem Alternativennamen. Wenn Du nun einzelne
    Stellhebelpositionen anklickst, ordnest Du diese der Alternative zu. Klicke erneut auf das Schloss, um die Auswahl zu übernehmen. Du
    kannst auch, ohne das Schloss zu öffnen, Stellhebelpositionen zu Alternativen zuordnen. Klicke dazu den Alternativennamen an und
    anschließend per Doppelklick oder gedrückter Shift-Taste auf die einzelnen Positionen.</p
  >
  <p i18n
    >Um neue Alternativen aus den Stellhebeln zu erzeugen, klicke einfach auf die Positionen, trage den Namen der Alternative in das Feld
    unterhalb der Stellhebel ein und übernehme die neue Alternative mithilfe des Buttons oder Enter. Die Alternative ist direkt mit den
    ausgewählten Positionen verknüpft und erscheint in der Liste neben den Stellhebeln. Beachte aber, dass hierzu keine der Alternativen
    links neben den Stellhebeln ausgewählt sein darf.</p
  >
  <p i18n
    >Wenn Du mit der Maus über einzelne Stellhebelpositionen oder die Verbindungslinien zwischen den Stellhebeln fährst, werden alle
    Alternativen markiert, die dieser Position bzw. Verbindung zugeordnet sind.</p
  >
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Das kannst Du in allen Teilschritten gebrauchen" [isLast]="true">
  <p i18n
    >Neue Alternativen kannst Du mithilfe des entsprechenden Buttons unterhalb Deiner Alternativenliste hinzufügen. Um Deine Alternativen zu
    beschreiben, nutze das weiße Textfeld in den Boxen oder das Kommentardreieck oben rechts in der Box, welches den Texteditor öffnet.
    Verwende den Mülleimer <mat-icon>delete</mat-icon>, um eine Alternative zu löschen. Mithilfe der Pfeilbuttons
    <mat-icon>expand_more</mat-icon> oben rechts in den Boxen kannst Du Alternativen einklappen. Eine Ein- und Ausklappfunktion für alle
    Alternativen findest Du rechts über der obersten Box. Halte die Kopfzeile einer Box fest, um sie vertikal zu verschieben.</p
  >
  <p i18n
    >Oben rechts findest Du eine Filterfunktion, mit der Du Dir nur bestimmte Alternativen anzeigen lassen kannst. Es gibt die folgenden
    drei Filtereinstellungen:</p
  >
  <ul>
    <li i18n
      >Aktuelle Alternativen: Zeigt Dir alle Alternativen an, die Du in allen Teilschritten erarbeitet hast (auch in späteren als
      diesem).</li
    >
    <li i18n
      >Bis zu diesem Schritt: Zeigt Dir diejenigen Alternativen an, die nur in diesem Schritt und den Schritten davor ermittelt wurden.</li
    >
    <li i18n>Aus diesem Schritt: Zeigt Dir alle Alternativen an, die nur in diesem Schritt gefunden wurden.</li>
  </ul>
  <br />
  <p i18n
    >Beachte, dass gelöschte Alternativen in Deiner Historie ebenfalls nicht mehr angezeigt werden. Je nach Filteroption kann es vorkommen,
    dass Du gesperrte Alternativen angezeigt bekommst (erkennbar am Schloss links neben dem Namen). Dies passiert dann, wenn Du Alternativen
    zusammengefasst hast, die übergeordnete Alternative an sich aber erst in einem späteren Schritt erstellt wurde (s. hierzu den
    Teilschritt „Sinnvolles Zusammenfassen“).</p
  >
</dt-extendable-header>
