<div class="dt-help-padding">
  <div class="tables-container">
    <div class="shortcuts-table">
      <p i18n class="row-line">Funktion</p>
      <p i18n class="column-line row-line">Icon</p>
      <p i18n class="row-line">Shortcut</p>
      <p i18n>Vollbildmodus</p>
      <div class="column-line">
        <mat-icon>fullscreen</mat-icon>
      </div>
      <div></div>
      <p i18n>Ansicht zurücksetzen</p>
      <div class="column-line">
        <mat-icon>center_focus_weak</mat-icon>
      </div>
      <div></div>
      <p i18n>Rückgängig/Vorwärts</p>
      <div class="column-line">
        <mat-icon>undo</mat-icon>
        <mat-icon>redo</mat-icon>
      </div>
      <p><kbd i18n>Strg</kbd> + <kbd>Z</kbd> / <kbd>Y</kbd></p>
      <p i18n>Vergrößern/Verkleinern</p>
      <div class="column-line">
        <mat-icon>zoom_in</mat-icon>
        <mat-icon>zoom_out</mat-icon>
      </div>
      <p><kbd i18n>Strg</kbd> + <span i18n>Mausrad</span></p>
      <p i18n>Bildexport</p>
      <div class="column-line">
        <mat-icon>photo</mat-icon>
      </div>
    </div>
    <p i18n>Die folgenden Buttons funktionieren nur, wenn Du einen Aspekt in der Zielhierarchie ausgewählt bzw. markiert hast:</p>
    <div class="shortcuts-table">
      <p i18n class="row-line">Funktion</p>
      <p i18n class="column-line row-line">Icon</p>
      <p i18n class="row-line">Shortcut</p>

      <p i18n>Einfärben</p>
      <div class="column-line">
        <mat-icon>brush</mat-icon>
        <span>A</span>
      </div>
      <div></div>

      <p i18n>Formatierung löschen</p>
      <div class="column-line">
        <mat-icon>format_clear</mat-icon>
      </div>
      <div></div>

      <p i18n>Ziel rechts einfügen</p>
      <div class="column-line">
        <svg dtInlineSVG="assets/hierarchy/icons/insert_right.svg"></svg>
      </div>
      <p *ngIf="!isMacOS"><kbd i18n>Einf</kbd></p>
      <p *ngIf="isMacOS"><kbd i18n>Strg</kbd> + <kbd>V</kbd></p>

      <p i18n>Ziel darüber/darunter einfügen</p>
      <div class="column-line">
        <svg dtInlineSVG="assets/hierarchy/icons/insert_below.svg"></svg>
        <svg dtInlineSVG="assets/hierarchy/icons/insert_above.svg"></svg>
      </div>
      <p><kbd i18n>Shift</kbd> + <kbd i18n>Enter</kbd> / <kbd i18n>Enter</kbd></p>

      <p i18n>Baum aus-/einklappen</p>
      <div class="column-line">
        <mat-icon>unfold_less</mat-icon>
        <mat-icon>unfold_more</mat-icon>
      </div>
      <p *ngIf="!isMacOS"><kbd i18n>Strg</kbd> + <kbd>→</kbd> / <kbd>←</kbd></p>
      <p *ngIf="isMacOS"><kbd i18n>Strg</kbd> + <kbd i18n>Shift</kbd> + <kbd>→</kbd> / <kbd>←</kbd></p>

      <p i18n>Ziele gruppieren</p>
      <div class="column-line">
        <mat-icon>group_work</mat-icon>
      </div>
      <p><kbd i18n>Pos1</kbd>/<kbd i18n>Home</kbd></p>

      <p i18n>Ziel löschen</p>
      <div class="column-line">
        <mat-icon>delete</mat-icon>
      </div>
      <p><kbd i18n>Entf</kbd></p>

      <p i18n>Markiertes Ziel bearbeiten</p>
      <div class="column-line"></div>
      <p><kbd i18n>Leertaste</kbd> / <kbd>F2</kbd></p>

      <p i18n>Bearbeitungsmodus verlassen</p>
      <div class="column-line"></div>
      <p><kbd i18n>Esc</kbd></p>
    </div>
  </div>
</div>
