<ng-container *dtProjectMode="'educational'">
  <p i18n
    >In diesem Schritt sollst Du herausfinden, welche Ziele für Dich in der Entscheidungssituation von Relevanz sind. Eine wohlüberlegte
    Formulierung von Zielen ist der wichtigste (!) Schritt im gesamten Entscheidungsprozess. Nimm Dir deshalb allein für diesen Schritt
    mindestens eine Stunde Zeit.</p
  >
  <p i18n
    >Du folgst einem strukturierten Prozess, in dem Du zunächst relativ frei und kreativ alle Aspekte aufschreiben sollst, die theoretisch
    von Relevanz in der Bewertung der Alternativen sein könnten. Dann werden diese Aspekte sukzessive hinterfragt und weiter strukturiert,
    bis Du am Ende mit wenigen wirklich fundamentalen Zielen diesen Schritt beenden kannst.</p
  >
  <p i18n
    >Von „fundamentalen“ Zielen spricht man, wenn das Ziel für sich gesehen einen wirklichen Wert für Dich darstellt und nicht nur deshalb
    wichtig erscheint, weil es auf etwas anderes für Dich wichtiges „instrumental“ wirkt. Das größte Problem in der Zielformulierung ist es,
    dass sich Menschen zu wenig Gedanken über die mit der Entscheidung zu beeinflussenden fundamentalen Werte machen, deshalb nicht gut ihre
    Fundamentalziele formulieren können und sich somit vorschnell mit der Formulierung von Instrumentalzielen zufriedengeben
    <a (click)="modal.open()">(Beispiel)</a>.</p
  >

  <dt-modal #modal>
    <ng-template i18n #title>Beispiel</ng-template>
    <ng-template #content>
      <p i18n
        >Wer zum Beispiel eine neue Wohnung sucht und Wert darauf legt, dass er von dort gut zur Arbeitsstelle kommt, sollte nicht
        „Entfernung zur Arbeitsstelle“ als Ziel formulieren. Die Entfernung ist nämlich eigentlich unwichtig. Es kommt wohl vielmehr darauf
        an, wie schnell, wie angenehm und wie kostengünstig man zur Arbeit kommt. Insofern sollte man eher die Ziele „Zeit bis zur
        Arbeitsstelle“, „Annehmlichkeit des Weges“ und „Kosten“ als fundamentale Ziele nennen. „Entfernung“ ist nur ein Instrumentalziel.</p
      >
    </ng-template>
  </dt-modal>
</ng-container>

<ng-container *dtProjectMode="'starter'">
  <div class="dt-help-padding">
    <p i18n
      >Die Formulierung von Zielen ist der wichtigste und meist auch schwierigste Schritt im gesamten Entscheidungsprozess. Von einem
      &bdquo;fundamentalen&ldquo; Ziel spricht man, wenn das Ziel für sich gesehen einen wirklichen Wert für Dich darstellt und nicht nur
      deshalb wichtig erscheint, weil es auf etwas anderes für Dich Wichtiges &bdquo;instrumental&ldquo; wirkt. Solche Ziele werden wiederum
      als &bdquo;Instrumentalziele&ldquo; bezeichnet. Das größte Problem in der Zielformulierung ist, dass sich Menschen zu wenig Gedanken
      über die mit der Entscheidung zu beeinflussenden fundamentalen Werte machen, deshalb ihre Fundamentalziele nicht gut formulieren
      können und sich somit vorschnell mit der Formulierung von Instrumentalzielen zufriedengeben.</p
    >
    <p i18n
      >Im <a [dtModeTrigger]="'educational'">Entscheidungsnavi Educational</a> wirst Du in diesem Schritt einem strukturierten Prozess
      folgen, in dem Du zunächst relativ frei und kreativ alle Aspekte aufschreiben sollst, die theoretisch von Relevanz in der Bewertung
      der Alternativen sein könnten. Dann werden diese Aspekte sukzessive hinterfragt und weiter strukturiert, bis Du diesen Schritt am Ende
      mit wenigen wirklich fundamentalen Zielen beenden kannst.</p
    >
  </div>
</ng-container>
