@use 'sass:math';
@use 'sass:color';

@use 'variables' as dt;

:host {
  display: flex;
  position: relative;
}

.node {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;

  transition: background-color 100ms ease-in;

  padding: 3px;

  // Fixes graphics glitch in Chrome
  transform: translateZ(0);

  .aspect-note-btn {
    visibility: hidden;
  }

  &.focused .aspect-note-btn {
    visibility: visible;
  }

  input {
    outline: none;
    text-align: center;
    z-index: 0;
    min-width: 30px;
  }

  &.focused {
    outline: 1px solid rgb(248, 147, 30);
    box-shadow: 0 0 5px hsl(32, 94%, 55%);
  }

  &[draggable='true']:not(.first) {
    cursor: grab;
  }

  &.first {
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
  }

  &.fundamental {
    padding: 10px;
    background-color: #3b4c5b;
    margin: 5px 0px;

    input {
      color: white;
      font-weight: 500;
      z-index: 0;
    }

    .input-placeholder {
      color: white;
    }
  }

  &.aspect {
    margin-left: 2px;
    margin: 1px 0px;
  }

  .editable-label {
    margin: 0;
    border: none;
    background: none;
    user-select: auto;
    height: 100%;
  }

  .input-placeholder {
    display: flex;
    align-items: center;
    padding: 1px;
    white-space: pre;

    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 40px;

    margin-left: -5px;

    &[hidden] {
      display: none;
    }

    &.empty {
      background-color: #3b4c5b2e;
    }
  }

  &[drag='down'] {
    box-shadow: inset 0px -5px 0px -2px orange;
  }

  &[drag='up'] {
    box-shadow: inset 0px 5px 0px -2px orange;
  }

  &[drag='right'] {
    box-shadow: inset -5px 0px 0px -2px orange;
  }
}

dt-note-btn {
  cursor: pointer;
}

.with-add-buttons {
  $add-size: 40px;

  .plus-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: dt.$orange;
  }

  .suggest-add-buttons-catching-area {
    position: absolute;
    // Prevent popping up at load times (it has no state at this moment).
    transform: scale(0);

    padding: 5px;

    bottom: -(6px + 5px);
    right: -(6px + 5px);

    .suggest-add-buttons {
      display: flex;

      width: 16px;
      height: 16px;

      justify-content: center;
      align-items: center;

      box-shadow: 0 0 2px 2px #fff;
      background-color: #fff;
      transition: 100ms all ease;

      border-radius: 50%;

      .plus-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }

    &:hover .suggest-add-buttons {
      transform: scale(1.2);
    }
  }

  .add {
    position: absolute;
    background-color: transparent;
    transition: 100ms all ease-in;

    // First translate all add buttons to their respective sides...
    &.top {
      top: -$add-size;
    }

    &.bottom {
      bottom: -$add-size;
    }

    &.right {
      right: -$add-size;
    }

    &.left {
      left: -$add-size;
    }

    // ...and then center them there.
    &.top,
    &.bottom {
      left: calc(50% - #{0.5 * $add-size});
    }

    &.left,
    &.right {
      top: calc(50% - #{0.5 * $add-size});
    }

    .plus {
      display: flex;

      justify-content: center;
      align-items: center;

      width: $add-size;
      height: $add-size;

      // Inject a portion of pure white since we need a more or less opaque background when overlapping.
      // Repeat the color at the last stop (which ideally should be `transparent`) so that Safari can handle it.
      background: radial-gradient(color.mix(dt.$orange, #fff, 15%) 10%, rgba(color.mix(dt.$orange, #fff, 15%), 0) 70%);
      transition: 100ms all ease;

      .plus-icon {
        color: rgba(dt.$orange, 0.9);
      }
    }
  }

  .suggest-add-buttons-catching-area,
  .add {
    // Higher than all invisible containers around a node.
    z-index: 11;
    cursor: pointer;

    & > * {
      -webkit-tap-highlight-color: transparent;
    }
  }

  &:not(.aspect) {
    .suggest-add-buttons-catching-area {
      padding: 5px;
      bottom: -(8px + 5px);
      right: -(8px + 5px);

      .suggest-add-buttons {
        box-shadow: none;
      }
    }
  }

  &.add-buttons-open {
    .suggest-add-buttons-catching-area {
      transform: scale(0);
    }

    .add {
      opacity: 1;
      transform: translate(0, 0) scale(1);

      &:hover .plus {
        transform: scale(1.2);
      }
    }
  }

  &.add-buttons-suggested .suggest-add-buttons-catching-area {
    transform: scale(1);
  }

  &.add-buttons-closed .suggest-add-buttons-catching-area {
    transform: scale(0);
  }

  &.add-buttons-suggested .add,
  &.add-buttons-closed .add {
    // Hide the buttons and translate them such that we have an animation when opening.
    opacity: 0;

    &.top {
      transform: translate(0, 100%) scale(0);
    }

    &.right {
      transform: translate(-100%, 0) scale(0);
    }

    &.bottom {
      transform: translate(0, -100%) scale(0);
    }

    &.left {
      transform: translate(100%, 0) scale(0);
    }
  }
}
