@use 'variables' as dt;

$cell-base-width: 100px;
$cell-base-height: 50px;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.table-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

table {
  border-spacing: 0;
}

th,
td {
  background-color: #e7e8ea;
  min-width: $cell-base-width;
  width: $cell-base-width;
  min-height: $cell-base-height;
  padding: 5px;

  border-bottom: 1px solid dt.$blue-lighten-5;
  text-align: center;
  font-weight: normal;
  line-height: 1.4;

  &:not(:last-child) {
    border-right: 1px solid dt.$blue-lighten-7;
  }
}

thead {
  th {
    background-color: dt.$blue-darken-3;
    color: white;
    border-bottom: none;
  }

  th.objective-cell {
    background-color: dt.$blue-darken-3;
    cursor: pointer;

    border-bottom: 1px solid dt.$blue-lighten-5;

    &:hover {
      background-color: dt.$blue-darken-4;
    }
  }
}

td.uf-cell {
  text-align: left;

  div.uf-state {
    text-align: right;
  }
}

.uf-name {
  margin-bottom: 4px;
}

div.single-line {
  white-space: nowrap;
  height: 1.4em;
}

th.alternative-name-container {
  &.alternative-expandable {
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &:not(.alternative-expandable) mat-icon {
    display: none;
  }

  .alternative-name {
    flex: 1;
  }
}

th.objective-cell,
th.alternative-name-container {
  min-width: 170px;
}

thead {
  position: sticky;
  top: 0;

  background-color: #fafafa;
  z-index: 10;
}

th:first-child {
  background-color: #fafafa;
  position: sticky;
  left: 0;
  z-index: 1;
}

div.alternative-objective-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cell-container {
  display: flex;
  align-items: center;
}
