<div class="content">
  <ng-container *ngIf="decisionData.objectives.length > 0 && decisionData.alternatives.length > 0; else noData">
    <div class="table-wrapper" [class.mat-elevation-z8]="addShadow">
      <table>
        <!-- The table header (has two rows due to indicators) -->
        <thead>
          <tr>
            <th></th>
            <th></th>

            <th
              *ngFor="let objective of decisionData.objectives; let i = index"
              [attr.colspan]="
                (data.isObjectiveExpanded[i] ? (objective.isIndicator ? objective.indicatorData.indicators.length + 2 : 2) : 1) +
                (data.isAnyIfExpanded(i) ? 1 : 0)
              "
              class="objective-cell"
              (click)="data.isObjectiveExpanded[i] = !data.isObjectiveExpanded[i]"
            >
              <div class="cell-container">
                <mat-icon *ngIf="!data.isObjectiveExpanded[i]">arrow_right</mat-icon>
                <mat-icon *ngIf="data.isObjectiveExpanded[i]">arrow_drop_down</mat-icon>
                <div class="alternative-objective-cell">
                  <span class="bold" i18n>Ziel {{ i + 1 }}</span>
                  <div>
                    <ng-container>
                      <span class="mat-caption">{{ objective.name }}</span>
                      <div class="single-line mat-caption" i18n
                        >(Gewicht {{ data.normalizedWeights[i] * 100 | safeNumber : '?' : '1.0-1' }}%)</div
                      >
                    </ng-container>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th></th>
            <th class="bold" i18n>Gesamtnutzen</th>

            <ng-container *ngFor="let objective of decisionData.objectives; let objIdx = index">
              <th *ngIf="data.isAnyIfExpanded(objIdx)" i18n>Einflussfaktor</th>

              <!-- Show results only if expanded -->
              <ng-container *ngIf="data.isObjectiveExpanded[objIdx]">
                <ng-container *ngIf="objective.isIndicator; else noIndicatorObj">
                  <!-- One column per indicator for indicator objectives -->
                  <th *ngFor="let indicator of objective.indicatorData.indicators; let i = index">
                    <span class="bold" i18n>Indikator {{ i + 1 }}</span>
                    <br />
                    <ng-container i18n
                      >{{ indicator.name }}<div class="single-line">(Gewicht {{ indicator.coefficient }})</div></ng-container
                    >
                  </th>

                  <!-- One column for the result -->
                  <th class="bold" i18n>Ergebnis</th>
                </ng-container>

                <!-- Only one single value row for non-indicator objectives -->
                <ng-template #noIndicatorObj>
                  <th *ngIf="objective.isVerbal" class="bold" i18n>Verbaler Wert</th>
                  <th *ngIf="objective.isNumerical" class="bold" i18n>Numerischer Wert</th>
                </ng-template>
              </ng-container>

              <!-- One row for the utility -->
              <th class="bold" i18n>Nutzen</th>
            </ng-container>
          </tr>
        </thead>

        <!-- The table body -->
        <tr *ngFor="let altIdx of data.sortedAlternaticeIndices; let altNumber = index">
          <!-- Left-most column denotes the alternative -->
          <th
            class="alternative-name-container"
            [class.alternative-expandable]="data.isAlternativeExpandable[altNumber]"
            (click)="data.isAlternativeExpanded[altIdx] = !data.isAlternativeExpanded[altIdx]"
          >
            <div class="cell-container">
              <mat-icon *ngIf="!data.isAlternativeExpanded[altIdx]">arrow_right</mat-icon>
              <mat-icon *ngIf="data.isAlternativeExpanded[altIdx]">arrow_drop_down</mat-icon>
              <div class="alternative-objective-cell">
                <span class="bold" i18n>Alternative {{ altNumber + 1 }}</span>
                <div class="alternative-name">
                  <span class="mat-caption">{{ decisionData.alternatives[altIdx].name }}</span>
                </div>
              </div>
            </div>
          </th>

          <!-- Total utility -->
          <td>{{ data.totalAlternativeUtilities[altIdx] | safeNumber : '?' : '1.4-4' }}</td>

          <ng-container *ngFor="let objective of decisionData.objectives; let objIdx = index">
            <td *ngIf="data.isAnyIfExpanded(objIdx)" class="uf-cell">
              <ng-container *ngIf="data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null">
                <div class="uf-name italic single-line"
                  >{{ decisionData.outcomes[altIdx][objIdx].influenceFactor | influenceFactorName }}:</div
                >

                <ng-container
                  *ngFor="
                    let _ of [].constructor(decisionData.outcomes[altIdx][objIdx].influenceFactor.states.length);
                    let stateIdx = index
                  "
                >
                  <div class="uf-state single-line"
                    >{{ decisionData.outcomes[altIdx][objIdx].influenceFactor | stateName : stateIdx }} ({{
                      decisionData.outcomes[altIdx][objIdx].influenceFactor.states[stateIdx].probability | safeNumber : '?' : '1.0-1'
                    }}%)</div
                  >
                </ng-container>
              </ng-container>
            </td>

            <ng-container *ngIf="data.isObjectiveExpanded[objIdx]">
              <!-- Show the outcome value -->
              <td *ngIf="objective.isNumerical">
                <ng-container
                  *ngIf="
                    data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null;
                    else numericalNotExpanded
                  "
                >
                  <div class="uf-name single-line"></div>
                  <ng-container *ngFor="let value of decisionData.outcomes[altIdx][objIdx].values">
                    <div class="single-line">{{ value | safeNumber : '?' }} {{ objective.numericalData.unit }}</div>
                  </ng-container>
                </ng-container>

                <ng-template #numericalNotExpanded>
                  {{ data.minimalOutcomes[altIdx][objIdx][0] | safeNumber : '?' }}
                  <ng-container
                    *ngIf="
                      decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                      data.minimalOutcomes[altIdx][objIdx][0] !== data.maximalOutcomes[altIdx][objIdx][0]
                    "
                  >
                    <ng-container i18n>bis</ng-container>
                    {{ data.maximalOutcomes[altIdx][objIdx][0] | safeNumber : '?' }}</ng-container
                  >
                  {{ objective.numericalData.unit }}
                </ng-template>
              </td>

              <td *ngIf="objective.isVerbal">
                <ng-container
                  *ngIf="
                    data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null;
                    else verbalNotExpanded
                  "
                >
                  <div class="uf-name single-line"></div>

                  <ng-container *ngFor="let state of decisionData.outcomes[altIdx][objIdx].values">
                    <div class="single-line">{{
                      decisionData.outcomes[altIdx][objIdx].values | numberCast | safeArrayIndex : objective.verbalData.options : '?' : -1
                    }}</div>
                  </ng-container>
                </ng-container>

                <ng-template #verbalNotExpanded>
                  {{ data.minimalOutcomes[altIdx][objIdx][0] | numberCast | safeArrayIndex : objective.verbalData.options : '?' : -1 }}
                  <ng-container
                    *ngIf="
                      decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                      data.minimalOutcomes[altIdx][objIdx][0] !== data.maximalOutcomes[altIdx][objIdx][0]
                    "
                  >
                    <ng-container i18n>bis</ng-container>
                    {{
                      data.maximalOutcomes[altIdx][objIdx][0] | numberCast | safeArrayIndex : objective.verbalData.options : '?' : -1
                    }}</ng-container
                  >
                </ng-template>
              </td>

              <ng-container *ngIf="objective.isIndicator">
                <!-- Get the values for each indicator -->
                <td *ngFor="let indicator of objective.indicatorData.indicators; let indIdx = index">
                  <ng-container
                    *ngIf="
                      data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null;
                      else indicatorNotExpanded
                    "
                  >
                    <div class="uf-name single-line"></div>

                    <ng-container *ngFor="let state of decisionData.outcomes[altIdx][objIdx].values; let stateIdx = index">
                      <div class="single-line"
                        >{{ decisionData.outcomes[altIdx][objIdx].values[stateIdx][indIdx] | safeNumber : '?' }} {{ indicator.unit }}</div
                      >
                    </ng-container>
                  </ng-container>

                  <ng-template #indicatorNotExpanded>
                    {{ data.minimalOutcomes[altIdx][objIdx][indIdx] | safeNumber : '?' }}
                    <ng-container
                      *ngIf="
                        decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                        data.minimalOutcomes[altIdx][objIdx][indIdx] !== data.maximalOutcomes[altIdx][objIdx][indIdx]
                      "
                    >
                      <ng-container i18n>bis</ng-container>
                      {{ data.maximalOutcomes[altIdx][objIdx][indIdx] | safeNumber : '?' }}</ng-container
                    >
                    {{ indicator.unit }}
                  </ng-template>
                </td>

                <!-- Get the result value -->
                <td>
                  <ng-container
                    *ngIf="
                      data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null;
                      else indicatorNotExpanded
                    "
                  >
                    <div class="uf-name single-line"></div>

                    <ng-container *ngFor="let state of decisionData.outcomes[altIdx][objIdx].values; let stateIdx = index">
                      <div class="single-line"
                        >{{ data.indicatorOutcomeResults[altIdx][objIdx][stateIdx] | safeNumber : '?' : '1.0-1'
                        }}{{ decisionData.objectives[objIdx].indicatorData.aggregatedUnit }}</div
                      >
                    </ng-container>
                  </ng-container>

                  <ng-template #indicatorNotExpanded>
                    {{ data.indicatorMinimalResults[altIdx][objIdx] | safeNumber : '?' : '1.0-1' }}
                    <ng-container
                      *ngIf="
                        decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                        data.indicatorMinimalResults[altIdx][objIdx] !== data.indicatorMaximalResults[altIdx][objIdx]
                      "
                    >
                      <ng-container i18n>bis</ng-container>
                      {{ data.indicatorMaximalResults[altIdx][objIdx] | safeNumber : '?' : '1.0-1' }}</ng-container
                    >{{ decisionData.objectives[objIdx].indicatorData.aggregatedUnit }}
                  </ng-template>
                </td>
              </ng-container>
            </ng-container>

            <!-- Utility of that value -->
            <td>
              <ng-container
                *ngIf="
                  data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null;
                  else totalUtility
                "
              >
                <div class="uf-name single-line"><ng-container *ngTemplateOutlet="totalUtility"></ng-container></div>

                <ng-container *ngFor="let state of decisionData.outcomes[altIdx][objIdx].values; let stateIdx = index">
                  <div class="single-line">{{ data.ifOutcomeUtilities[altIdx][objIdx][stateIdx] | safeNumber : '?' : '1.4-4' }}</div>
                </ng-container>
              </ng-container>

              <ng-template #totalUtility>
                {{ data.totalOutcomeUtilities[altIdx][objIdx] | safeNumber : '?' : '1.4-4' }}
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </ng-container>

  <ng-template #noData>
    <span i18n>Keine Daten vorhanden: Bitte schließe zuerst die Schritte eins bis drei des Entscheidungsnavi ab.</span>
  </ng-template>
</div>
