<div
  [@deleteAnimation]="deleted"
  (@deleteAnimation.done)="finishDelete($event)"
  class="inputbox"
  [class.margin]="margin"
  [class.plain]="style === 'plain'"
  [class.locked-inputbox]="isLocked"
>
  <div [draggable]="draggable ? true : undefined" dragHandle class="header" [class.draggable]="draggable" [class.locked-header]="isLocked">
    <div class="caption">
      <ng-content select=".caption-wrapper"></ng-content>
    </div>
    <div class="control">
      <ng-content select=".control-wrapper"></ng-content>
      <dt-button-tiny
        *ngIf="deleteButton"
        (click)="delete()"
        [icon]="'delete'"
        [disabled]="deleteDisabled || isLocked"
        data-cy="delete-button"
      ></dt-button-tiny>
      <dt-button-tiny *ngIf="collapsibleButton && collapsed" (click)="onExpand()" [icon]="'expand_more'" data-cy="expand-button">
      </dt-button-tiny>
      <dt-button-tiny *ngIf="collapsibleButton && !collapsed" (click)="onCollapse()" [icon]="'expand_less'"> </dt-button-tiny>
    </div>
  </div>

  <div #content [@collapseAnimation]="collapsed ? 'collapsed' : 'expanded'" class="content" [class.collapsed]="collapsed">
    <ng-content #contentWrapper select=".content-wrapper"></ng-content>
  </div>
</div>
<dt-modal #modalConfirmDelete [showFooter]="true">
  <ng-template i18n #title>Löschen bestätigen</ng-template>
  <ng-template #content>
    <ng-container *ngIf="confirmDeleteTemplate; else default">
      <ng-container *ngTemplateOutlet="confirmDeleteTemplate"></ng-container>
    </ng-container>
    <ng-template #default>
      <p i18n>Bist Du sicher, dass Du dieses Element löschen möchtest?</p>
    </ng-template>
  </ng-template>
  <ng-template #footer>
    <ng-container>
      <dt-button (click)="confirmDelete()" color="warn" i18n data-cy="confirm-button">Ja, löschen</dt-button>
      <dt-button (click)="confirmDeleteModal.close()" type="raised-less" i18n>Nein, abbrechen</dt-button>
    </ng-container>
  </ng-template>
</dt-modal>
