:host {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.filters-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;

  .search-query {
    flex: 1 0 auto;
    max-width: 500px;
  }

  .filler {
    flex: 1;
  }

  dt-tag-input {
    flex: 0 1 400px;
    min-width: 200px;
  }
}
