<div class="value-container">
  <div class="value-box" [class.wrong-value]="!isValueValid">
    <input
      type="number"
      inputmode="numeric"
      [class.grayed-out]="grayedOutText"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit(value)"
    />
    <span class="info-box">{{ unit }} <span i18n>von</span> {{ from }} <span i18n>bis</span> {{ to }} </span>
  </div>
  <div *ngIf="!isValueValid" class="error-text" i18n>Wert muss zwischen {{ from }} und {{ to }} sein.</div>
</div>
