@use 'variables' as dt;

mat-spinner {
  margin: 16px auto;
}

.error-container {
  padding: 16px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.name-filter {
  width: 100%;
}

.projects-table {
  flex: 0 1 auto;
  min-height: 300px;

  .date-cell {
    padding-right: 24px;
  }
}

.new-project-form {
  margin: 16px;
}
