@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  flex: 1 0 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.active-submission {
  color: rgb(30, 127, 30);
}

.error-icon {
  color: dt.$orange-darken-1;
  font-variation-settings: 'FILL' 0;
}

.submission-popover {
  @include mat.elevation(4);

  background-color: white;
  padding: 8px;
  margin: 8px;

  .status {
    font-weight: 500;
  }

  table td:not(:first-child) {
    padding-left: 8px;
  }
}
