.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;

    input {
      width: 100%;
      border: none;
      outline: none;
      background: none;
      color: white;

      padding: 5px 10px;

      &::placeholder {
        color: white;
        opacity: 0.6;
      }
    }

    .delete-button {
      height: 24px;
      padding-right: 5px;

      &:not([disabled]) {
        color: white;
      }
    }
  }

  .comment {
    display: flex;

    quill-editor {
      flex: 1;
      background-color: white;

      height: 70px;
    }
  }
}
