<div class="navline-container">
  <div class="left-navline-buttons">
    <ng-container *ngFor="let element of navLine.getVisibleElements('left')">
      <dt-navline-element
        [label]="element.getLabel()"
        [link]="element.getRouterLink()"
        [icon]="element.getIcon()"
        [iconPosition]="element.getIconPosition()"
        [tooltip]="element.getTooltip()"
        [buttonStyle]="element.getButtonStyle()"
        [disabled]="element.isDisabled()"
        [cypressId]="element.getCypressId()"
        (buttonClick)="element.isDisabled() ? $event.stopPropagation() : element.handleClick()"
      >
      </dt-navline-element>
    </ng-container>
  </div>

  <div *ngIf="navLine.getVisibleElements().length > 0" class="middle-navline-buttons">
    <div class="wrap-helper"></div>

    <div class="navline-elements">
      <ng-container *ngFor="let element of navLine.getVisibleElements()">
        <dt-navline-element
          [label]="element.getLabel()"
          [link]="element.getRouterLink()"
          [icon]="element.getIcon()"
          [iconPosition]="element.getIconPosition()"
          [tooltip]="element.getTooltip()"
          [buttonStyle]="element.getButtonStyle()"
          [disabled]="element.isDisabled()"
          [cypressId]="element.getCypressId()"
          (buttonClick)="element.isDisabled() ? $event.stopPropagation() : element.handleClick()"
        >
        </dt-navline-element>
      </ng-container>
    </div>

    <dt-button (click)="navMenuTrigger.openMenu()" class="nav-menu-button">
      &mldr;
      <div class="nav-menu-trigger" [matMenuTriggerFor]="menu" #navMenuTrigger="matMenuTrigger"></div>
    </dt-button>

    <mat-menu #menu="matMenu" class="dt-nav-menu">
      <ng-container *ngFor="let element of navLine.getVisibleElements()">
        <button
          mat-menu-item
          [routerLink]="element.getRouterLink()"
          [matTooltip]="element.getTooltip()"
          [matTooltipShowDelay]="500"
          [attr.data-cy]="'navline-element-' + element.getCypressId()"
          (click)="element.isDisabled() ? $event.stopPropagation() : element.handleClick()"
        >
          {{ element.getLabel() }}
        </button>
      </ng-container>
    </mat-menu>
  </div>

  <div class="right-navline-buttons">
    <ng-container *ngFor="let element of navLine.getVisibleElements('right')">
      <dt-navline-element
        [label]="element.getLabel()"
        [link]="element.getRouterLink()"
        [icon]="element.getIcon()"
        [iconPosition]="element.getIconPosition()"
        [tooltip]="element.getTooltip()"
        [buttonStyle]="element.getButtonStyle()"
        [disabled]="element.isDisabled()"
        [cypressId]="element.getCypressId()"
        (buttonClick)="element.isDisabled() ? $event.stopPropagation() : element.handleClick()"
      >
      </dt-navline-element>
    </ng-container>
  </div>
</div>
