mat-toolbar {
  display: flex;

  .spacer {
    flex: 1;
  }
}

.logo-button,
.logo-button img {
  position: relative;
  height: 100%;
}
.logo-button {
  padding: 4px 0;

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.account-email {
  padding: 8px 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
