<h1>Welche Option ist die beste?</h1>
<klug-step-description
  >Schaue nun die Gesamtbewertung an und prüfe, ob sich die Analyse mit Deinem Bauchgefühl deckt.
</klug-step-description>

<div class="overflow-container">
  <klug-evaluation-graph> </klug-evaluation-graph>
</div>

<klug-pdf-export #pdfExport></klug-pdf-export>

<ng-template #help>
  <p>
    Schaue die Option an, die die beste Gesamtbewertung erhalten hat: Wenn morgen der Tag der Entscheidung wäre, würdest Du Dich für diese
    Option entscheiden?
  </p>
  <p
    >Wenn ja, hat alles super geklappt und Dein Kopf und Bauch stimmen überein. Die Voraussetzung, dass Du Deine Entscheidung in die Tat
    umsetzt, sind sehr gut.
  </p>
  <p>Wenn nein, welche Option gefällt Dir besser? Und warum? </p>
  <p>
    Überprüfe, ob es vielleicht ein Ziel gibt, dass Du bisher noch nicht in Betracht gezogen hast. Wenn ja, gehe in diesem Fall noch einmal
    zurück und ergänze dieses Ziel.
  </p>
  <p>
    Überprüfe, ob Deine Einschätzung, wie gut die Optionen zu den Zielen passen, zutreffend war. Wenn nicht, gehe noch einmal zurück und
    pass die Einschätzungen an.
  </p>
  <p>
    Überprüfe, ob Deine Einschätzungen zur Wichtigkeit der Ziele zutreffend sind. Wenn nicht, gehe noch einmal zurück und pass die
    Einschätzungen an.
  </p>
</ng-template>
