<div class="cell">
  <div class="box-container top">
    <div
      class="box"
      [class.red-box]="color === 'red'"
      [class.green-box]="color === 'green'"
      [style.height]="weightedUtilityValue * 100 + '%'"
      *ngIf="!inverted"
    ></div>
    <div class="text-container" *ngIf="inverted">
      {{ text }}
    </div>
  </div>

  <div class="dash"> </div>

  <div class="box-container">
    <div
      class="box"
      [class.red-box]="color === 'red'"
      [class.green-box]="color === 'green'"
      [style.height]="weightedUtilityValue * 100 + '%'"
      *ngIf="inverted"
    ></div>
    <div class="text-container" *ngIf="!inverted">
      {{ text }}
    </div>
  </div>
</div>
