<div class="klug-limit-width">
  <h1>Welches Ziel ist mir wie wichtig?</h1>
  <klug-step-description
    >Gewichte Deine Ziele, indem Du die Ziele miteinander vergleichst. Klicke dazu in die hellblauen Felder und entscheide, welches Ziel Dir
    wichtiger ist.
  </klug-step-description>
</div>

<klug-comparison-graph></klug-comparison-graph>

<ng-template #help>
  <p> Einige Ziele sind für Deine Entscheidungsfrage wichtiger als andere Ziele. Das wird im KLUG-Modell berücksichtigt. </p>
  <p>
    Manchmal ist es aber sehr schwierig, sich zwischen zwei Zielen zu entscheiden. Folgende Fragen helfen Dir herauszufinden, was Dir
    wichtiger ist:
  </p>
  <ul>
    <li>Bei welchem der Ziele ist Dir die Steigerung von 0 auf 10 Punkte wichtiger?</li>
    <li>Bei welchem der Ziele ist Dir die Steigerung um 1 Punkt wichtiger?</li>
  </ul>
  <p> Klicke nur „beides ist mir gleich wichtig“ an, wenn Du Dich nicht entscheiden kannst, welches Ziel Dir wichtiger ist. </p>
</ng-template>
