<dt-extendable-header i18n-headerName variation="large" headerName="Fundamentalziele und die „Warum-Methode“" [initialOpening]="true">
  <p i18n
    >Beim Aufstellen der Zielhierarchie ist es von hoher Wichtigkeit, dass Du aus all den Aspekten, die Du im Brainstorming gesammelt hast,
    Deine Fundamentalziele identifizierst.</p
  >

  <p i18n
    >Unterschieden wird bei Deinen Zielen zwischen Fundamentalzielen und Instrumentalzielen. Die meisten Aspekte, die Du im Brainstorming
    gesammelt hast, werden normalerweise Instrumentalziele sein. Dabei handelt es sich um Ziele, die für Dich eigentlich gar nicht wichtig
    sind, sondern nur deshalb wichtig sind, um ein anderes Ziel zu erreichen. Das größte Problem in der Zielformulierung ist es, dass sich
    Menschen zu wenig Gedanken über die mit der Entscheidung zu beeinflussenden fundamentalen Werte machen, deshalb nicht gut ihre
    Fundamentalziele formulieren können und sich somit vorschnell mit der Formulierung von Instrumentalzielen zufriedengeben.</p
  >

  <p i18n
    >Ein Beispiel: Wenn Du ein Auto kaufen wolltest und als Ziel im Brainstorming „Möglichst hoher Rabatt“ angegeben hast, ist dieses Ziel
    in den meisten Fällen ein Instrumentalziel. Warum? Im Grunde ist die Rabatthöhe doch nur deshalb wichtig, damit man einen niedrigen
    Endpreis bezahlt. Letzteres ist das eigentlich wichtige Ziel, was dahintersteckt, das sog. Fundamentalziel.</p
  >

  <p i18n
    >Ein Fundamentalziel erkennst Du daran, dass es für sich gesehen einfach für Dich wichtig ist, und zwar ohne weitere Begründungen. Auf
    der ersten Ebene der Zielhierarchie sollten grundsätzlich nur Deine Fundamentalziele stehen. Im Optimalfall werden dies vier bis sieben
    Stück sein. Damit Du den weiteren Prozess im Entscheidungsnavi sauber durcharbeiten kannst, ist es sehr wichtig, dass Du alle Deine
    Fundamentalziele identifizierst.</p
  >

  <p i18n
    >Um Fundamentalziele gut erkennen und formulieren zu können, hilft die „Warum-Methode“. Schaue Dir jeden Aspekt aus Deinem Brainstorming
    an und stelle Dir folgende Fragen:</p
  >

  <p i18n><i>„Warum ist mir dieser eine Aspekt eigentlich wichtig?“</i> oder</p>

  <p i18n><i>„Auf was kommt es mir im Kern bei diesem Aspekt eigentlich an“?</i></p>

  <p i18n
    >Lautet die Antwort auf diese Frage: „Weil das für ein anderes Ziel wichtig oder notwendig ist“, hast Du eine Mittel-Zweck-Beziehung
    aufgedeckt, also ein Instrumentalziel gefunden. Deine Antwort auf die Anwendung der „Warum-Methode“ gibt Dir im Normalfall bereits einen
    guten Hinweis, wie Du das Ziel fundamentaler formulieren kannst. Nur wenn die Antwort lautet: „Weil mir dieser Aspekt für sich gesehen
    einfach wichtig ist“, hast Du ein Fundamentalziel gefunden, das Du direkt in die erste Ebene der Zielhierarchie einordnen kannst.</p
  >

  <p i18n
    >Die Warum-Methode musst Du so lange auf alle Elemente aus Deinem Brainstorming und in Deiner Zielhierarchie anwenden, bis in der ersten
    Ebene ca. vier bis sieben Fundamentalziele stehen und alle anderen Aspekte entsprechend eingeordnet sind.</p
  >

  <p i18n
    >Die beiden unteren Beispiele zeigen Dir, wie durch die Anwendung der „Warum“-Methode geeignete Fundamentalziele gefunden werden
    können:</p
  >

  <img *ngIf="!languageService.isEnglish" src="assets/assistant/fundamentalziele_2_deutsch.png" />
  <img *ngIf="languageService.isEnglish" src="assets/assistant/fundamentalziele_2_englisch.png" />

  <p i18n
    >Für weitere Informationen zu den Zielen empfehlen wir ein Video aus der digitalen Vorlesung „Entscheidungslehre“ zum Thema
    <a (click)="youtubeModal1.open()">Fundamentalität</a> und <a (click)="youtubeModal4.open()">Ziele im Entscheidungsnavi</a>,
    veröffentlicht auf der Seite des Fördervereins Reflektiert Entscheiden.</p
  >

  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 2 - Teilschritt 5" [videoId]="'9WSiQFEDc20'" #youtubeModal1></dt-youtube-modal>
  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 2 - Teilschritt 5" [videoId]="'xyRCAyFhlYg'" #youtubeModal4></dt-youtube-modal>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Die richtige Grenze bei Fundamentalzielen finden">
  <p i18n
    >Wenn Du die Warum-Methode intensiv anwendest, läufst Du zeitgleich aber auch Gefahr, dass Deine Fundamentalziele zu abstrakt werden.
    Beispiele dafür sind Zielformulierungen wie „Glücklich sein“, „Zufrieden sein“ und „Hohe allgemeine Lebenszufriedenheit“. Solche
    allgemeinen Formulierungen sind für die Weiterarbeit meist nicht geeignet. Du wirst nämlich in späteren Schritten Deine
    Handlungsoptionen mit den von Dir formulierten Zielen konkret bewerten müssen. Wenn ein Ziel zu unspezifisch und zu schwer zu fassen
    ist, dann wirst Du das nicht sinnvoll machen können. Insofern achte darauf, dass Du mit der „Warum“-Methode nicht übertreibst.</p
  >

  <p i18n
    >Sollte es Dir dennoch passiert sein, dass Du mit der Warum-Methode etwas zu weit gegangen bist, kannst Du die Ziele natürlich nochmal
    überarbeiten. Versuche, diese abstrakten Ziele in konkrete Fundamentalziele zu überführen. Stelle Dir dabei die folgenden Fragen:</p
  >

  <ul>
    <li i18n>Was verstehe ich genau unter diesem Aspekt? Kann ich das möglicherweise noch weiter konkretisieren?</li>
    <li i18n>Wie kann ich ein vielleicht recht abstrakt formuliertes Fundamentalziel ggf. in besser greifbare Teilziele aufteilen?</li>
  </ul>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Formulierung und Menge der Fundamentalziele">
  <p i18n
    >Gehe zunächst alle Fundamentalziele durch und überlege, ob Du diese wirklich fundamental genug bzw. nicht zu abstrakt formuliert hast.
    Wenn Du stark von der empfohlenen Menge an Fundamentalzielen abweichst (vier bis sieben Stück), denke darüber nach, ob Du Ziele noch
    zusammenfassen (wenn Du zu viele hast) bzw. aufteilen kannst (wenn Du zu wenige hast).</p
  >
  <p i18n>Weiterhin solltest Du Dich vergewissern, dass Deine Zielhierarchie wirklich vollständig ist und Du keine Ziele vergessen hast!</p>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Redundanzfreiheit">
  <p i18n
    >Deine Fundamentalziele sollten so formuliert sein, dass sie sich inhaltlich nicht überschneiden. Achte also darauf, dass Deine
    Fundamentalziele trennscharf formuliert sind und fasse inhaltlich ähnliche Aspekte möglichst unter einem Ziel zusammen.</p
  >

  <p i18n
    >Für weitere Informationen zur Redundanzfreiheit empfehlen wir ein
    <a (click)="youtubeModal2.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >

  <dt-youtube-modal
    i18n-modalTitle
    modalTitle="Schritt 2 - Teilschritt 5"
    [videoId]="'JjXSNXk3EX4?start=184'"
    #youtubeModal2
  ></dt-youtube-modal>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Präferenzunabhängigkeit">
  <p i18n
    >Die Wichtigkeit eines Fundamentalziels darf nicht von anderen Fundamentalzielen abhängen. Egal, wie gut oder schlecht eine
    Handlungsoption in einem Ziel A abschneidet, sollte sich dies nicht auf die Wichtigkeit eines anderen Ziels B auswirken. So wäre es
    ansonsten möglich, dass die Wichtigkeit eines Ziels abnimmt, wenn ein anderes Ziel gut erfüllt ist. Die beiden Ziele würden sich dann
    nämlich im Grunde gegenseitig ersetzen. Oder es wäre andersrum auch möglich, dass die Wichtigkeit eines Ziels A zunimmt, wenn eine
    Handlungsoption in einem anderen Ziel B gut abschneidet. In diesem Fall würde also offenbar eine auftretende Synergie besonders gut
    bewertet. Achte also darauf, dass keiner der beschriebenen Fälle eintritt und das Zielsystem somit präferenzunabhängig formuliert ist,
    wie es die Fachleute nennen.</p
  >

  <p i18n
    >Für weitere Informationen zur Präferenzunabhängigkeit empfehlen wir ein
    <a (click)="youtubeModal3.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >

  <dt-youtube-modal
    i18n-modalTitle
    modalTitle="Schritt 2 - Teilschritt 5"
    [videoId]="'JjXSNXk3EX4?start=269'"
    #youtubeModal3
  ></dt-youtube-modal>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Messskalen" [isLast]="true">
  <p i18n
    >In späteren Schritten im Entscheidungsnavi musst Du untersuchen, wie alle in Betracht kommenden Handlungsoptionen in Deinen
    Fundamentalzielen abschneiden. In diesem Zuge solltest Du für jedes Ziel geeignete Messskalen entwickeln können, damit eine Bewertung
    der Handlungsoptionen praktikabel möglich ist. Behalte dies im Hinterkopf und überlege, ob Du Fundamentalziele formuliert hast, bei
    denen Du keine Idee hast, wie Du diese messen sollst. Ist dies der Fall, dann ist dies ein Indiz dafür, dass Du Deine Ziele ggf. zu
    abstrakt formuliert hast.</p
  >
  <p i18n
    >Wenn Du andererseits an dieser Stelle schon sicher erkennen kannst, dass ein Fundamentalziel bei allen möglichen Handlungsalternativen
    zum selben Ergebnis führt, dann brauchst Du dieses nicht mehr weiter zu berücksichtigen.</p
  >
</dt-extendable-header>
