:host {
  display: block;
  min-width: 0;
}

.selection-line-overflow-container {
  &.isOverflowing {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 10px;
  }
}

.selection-line {
  display: flex;
  align-items: center;

  &.align-start {
    justify-content: flex-start;
  }

  &.align-end {
    justify-content: flex-end;
  }

  width: 100%;
  min-width: min-content;
  margin-bottom: 8px;
}
