// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:list';
@use 'sass:meta';
@use '@angular/material' as mat;
@use 'klug-colors' as klug;

// Plus imports for other components in your app.
@use './app/navigation/navigation.component-theme' as navigation;
@use './app/navigation/navline/navline.component-theme' as navline;
@use './app/help/help.component-theme' as help;
@use './app/steps/code-input/code-input.component-theme' as code-input;
@use './app/steps/decision-statement/decision-statement-box/decision-statement-box.component-theme' as decision-statement-box;

@use './app/steps/objectives/objective-list/objective-box/objective-box.component-theme' as objective-box;

@use './app/steps/alternatives/alternative-list/alternative-box/alternative-box.component-theme' as alternative-box;

@use './app/steps/assessment/assessment-graph/assessment-graph.component-theme' as assessment-graph;
@use './app/steps/comparison/comparison-graph/comparison-graph.component-theme' as comparison-graph;

@use './app/steps/evaluation/evaluation-graph/evaluation-graph.component-theme' as evaluation-graph;

@use './app/shared/step-description/step-description.component-theme' as step-description;

@import 'ress';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated*/
@include mat.legacy-core();
@include mat.core();

@include meta.load-css('node_modules/quill/dist/quill.core.css');
@include meta.load-css('node_modules/quill/dist/quill.snow.css');
@include meta.load-css('node_modules/quill/dist/quill.bubble.css');

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$klug-tool-primary: mat.define-palette(klug.$klug-mat-primary);
$klug-tool-accent: mat.define-palette(klug.$klug-mat-accent);

// The warn palette is optional (defaults to red).
$klug-tool-warn: mat.define-palette(mat.$red-palette);

$klug-typography: mat.define-legacy-typography-config(
  $caption: mat.define-typography-level(13px, 1.5, 400),
);

/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated*/
@include mat.all-legacy-component-typographies($klug-typography);
@include mat.all-component-typographies($klug-typography);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$klug-tool-theme: mat.define-light-theme(
  (
    color: (
      primary: $klug-tool-primary,
      accent: $klug-tool-accent,
      warn: $klug-tool-warn,
    ),
    typography: $klug-typography,
  )
);

// Include theme styles for all material components.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated*/
@include mat.all-legacy-component-themes($klug-tool-theme);
@include mat.all-component-themes($klug-tool-theme);

// Alternative Colors
.mat-klug-red {
  background-color: klug.$klug-red;
  color: white;
}

.mat-klug-orange {
  background-color: klug.$klug-orange;
  color: white;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

p {
  @include mat.typography-level($klug-typography, 'subheading-2');
  font-weight: mat.font-weight($klug-typography, 'body-2');
}

.klug-hidden {
  display: none !important;
}

.mat-typography ul {
  padding-left: 20px;
  list-style: square;

  & + p {
    margin: 12px 0;
  }
}

input,
textarea {
  @include mat.typography-level($klug-typography, 'subheading-1');
}

.ql-editor.ql-blank::before,
.ql-editor p {
  font-size: mat.font-size($klug-typography, 'subheading-1');
  line-height: 1;
  font-weight: 400;
}

.mat-mdc-tooltip {
  font-size: mat.font-size($klug-typography, subheading-2);
}

.klug-limit-width {
  max-width: 100%;
  width: 1300px;
  margin: 0 auto;
}

mat-icon.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body.dt-webkit mat-icon.material-symbols-outlined {
  // Weight 400 does not work in Safari, so we use weight 300
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

// Include theme styles for our components
@include navigation.theme($klug-tool-theme);
@include navline.theme($klug-tool-theme);
@include help.theme($klug-tool-theme);
@include code-input.theme($klug-tool-theme);
@include decision-statement-box.theme($klug-tool-theme);
@include objective-box.theme($klug-tool-theme);
@include alternative-box.theme($klug-tool-theme);
@include assessment-graph.theme($klug-tool-theme);
@include comparison-graph.theme($klug-tool-theme);
@include evaluation-graph.theme($klug-tool-theme);
@include step-description.theme($klug-tool-theme);
