<div class="dt-help-padding">
  <p i18n
    >Du hast die Phase der Strukturierung Deiner Entscheidungssituation abgeschlossen und startest nun mit der Evaluation Deiner
    Alternativen, im Rahmen derer Du die für Dich beste Handlungsoption herausfindest. Das Ziel dieses letzten Schrittes besteht im
    Allgemeinen darin, das persönliche Bauchgefühl mit den analytischen Überlegungen zusammenzuführen. Bevor Du vom Entscheidungsnavi ein
    Ergebnis erhältst, musst Du die folgenden beiden Schritte durcharbeiten:</p
  >
  <ul>
    <li i18n
      ><b>Nutzenfunktionen:</b> Über die Ermittlung von Nutzenfunktionen nimmst Du eine Bewertung der möglichen Ergebnisse in einem Ziel
      unabhängig von den anderen Zielen vor. Für jedes Ziel gibt es eine eigene Nutzenfunktion, die sich als eine Art Formel verstehen
      lässt, mit der die Ergebnisschätzungen für die einzelnen Optionen automatisch in Nutzenwerte überführt werden. Der „Nutzen“ ist
      hierbei eine sehr abstrakte Größe, die lediglich den Zweck erfüllt, eine für alle Ziele einheitliche Skala zu liefern. Die Bandbreite
      dieser Nutzenskala ist in allen Zielen gleich und reicht von null (schlechtester Wert) bis eins (bester Wert). Durch die Ermittlung
      von Nutzenfunktionen und die Überführung aller Skalen auf die einheitliche Nutzenskala wird eine Vergleichbarkeit der
      Ergebnisschätzungen im Wirkungsmodell ermöglicht.</li
    >
    <li i18n
      ><b>Zielgewichte:</b> Hier gewichtest Du Deine Ziele untereinander. Je wichtiger ein Ziel ist, desto höher sollte auch das Zielgewicht
      ausfallen. Zu Beginn wirst Du die Gewichtung der Ziele pauschal aus dem Bauch heraus vornehmen. Im Anschluss solltest Du die
      Zielgewichte mit dem Trade-off-Verfahren fundiert ermitteln. Nähere Informationen zum Trade-off-Verfahren findest Du in der Rubrik
      „Weitere Informationen“.</li
    >
  </ul>
  <br />
  <p i18n
    >Sobald Du Deine Nutzenfunktionen und Zielgewichte eingestellt hast, wird Dir Dein Ergebnis im Entscheidungsnavi angezeigt. Beim
    Betrachten des Ergebnisses solltest Du ebenfalls auf Dein Bauchgefühl achten. Unterscheidet sich dieses von Deinem analytischen
    Ergebnis? Dann ist dies ein Indiz dafür, dass noch etwas nicht stimmt. Typische Faktoren können dazu führen, dass Kopf und Bauch
    auseinanderdriften:</p
  >
  <ul>
    <li i18n>Fehlende oder nicht klar definierte Ziele im Wirkungsmodell</li>
    <li i18n>Verzerrte Schätzungen in der Ergebnismatrix</li>
    <li i18n>Ungenaue Nutzenfunktionen</li>
    <li i18n>Oberflächlich vorgenommene Zielgewichtung</li>
  </ul>
  <br />
  <p i18n
    >Um genauere Untersuchungen anzustellen, stehen Dir in der Auswertung diverse Tools zur Verfügung, um das Ergebnis näher zu analysieren
    (Sensitivitätsanalyse, Pros und Contras, Robustheitstest). Nutze diese, um Dein Ergebnis besser zu verstehen. Nur dann, wenn Du das
    Zustandekommen Deines Ergebnisses wirklich verstanden hast, wirst Du normalerweise dazu in der Lage sein, die beste Alternative
    überzeugt umzusetzen.</p
  >
  <p i18n
    >Für weitere Informationen zur Evaluation empfehlen wir ein
    <a (click)="youtubeModal1.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >
  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 5" [videoId]="'eF3cdv2NjXg'" #youtubeModal1></dt-youtube-modal>
</div>
