<dt-modal-content (closeClick)="close(false)" [size]="size">
  <ng-template #title>{{ modalTitle }}</ng-template>
  <ng-template #content>
    <p [innerHTML]="prompt"></p>
  </ng-template>
  <ng-template #footer>
    <dt-button *ngIf="buttonConfirm" (click)="close(true)" [color]="buttonConfirmColor" data-cy="confirm-button">{{
      buttonConfirm
    }}</dt-button>
    <dt-button *ngIf="buttonDeny" (click)="close(false)" type="raised-less">{{ buttonDeny }}</dt-button>
  </ng-template>
</dt-modal-content>
