<div class="help-wrapper">
  <div *ngIf="currentPage != null; else noPageAvailable" class="help-tabs-container">
    <div *ngFor="let page of currentMenu; let index = index" class="help-tab" [class.opened]="openedTab === index">
      <div class="help-page-title ellipsis" (click)="openedTab = index">
        <span>{{ page.name }}</span>
      </div>
      <div *ngIf="openedTab === index" class="help-page-wrapper">
        <div class="help-page">
          <ng-template [cdkPortalOutlet]="page | helpPagePortal"></ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>

  <ng-template #noPageAvailable>
    <div class="empty-placeholder" i18n>Keine Assistenzseite verfügbar</div>
  </ng-template>
</div>
