@use 'variables' as dt;

.verbal-indicator-category-name {
  margin-top: 10px;
  text-align: center;
  height: 37px;
}

.column-title {
  font-weight: 500;
}

.category-drag-handle {
  position: absolute;
  width: 32px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.category-name-input {
  text-align: center;
  height: 35px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 30px;

  &.empty-input {
    color: #f44336;
    border-bottom-color: #f44336;
  }
}

.deletion-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    color: #6d6d6d;
  }
}

.deletion-button:not(.disabled):hover {
  color: dt.$orange;
}

.weight-container {
  height: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .weight-dot-container {
    margin-left: 10px;

    .weight-dot {
      height: 12px;
      width: 12px;
      border: 1px solid dt.$orange;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;

      &.disabled {
        border: 1px solid gray;
        cursor: default;
      }

      &.filled-dot {
        background-color: dt.$orange;

        &.disabled {
          background-color: gray;
        }
      }
    }
  }
}

.triangle-container {
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 98px; // (2px in order to line up with the dotted line)
  height: calc(100% - 106px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .triangle-row {
    width: 95%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .input-field-arrow {
      z-index: 30;

      &.selected {
        fill: dt.$orange;
      }
    }

    .left-arrow {
      left: 2.5%;
      margin-left: -7px;
    }

    .right-arrow {
      right: 2.5%;
      margin-right: -7px;
    }
  }
}

.stages-container {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;

  .add-button-container {
    display: flex;
    justify-content: center;

    .add-verbal-indicator-button {
      z-index: 20;

      mat-icon {
        background-color: white;
      }
    }
  }
}

// keep outside (CDK)
.category-container {
  width: 400px;
  max-width: 80vw;
  height: calc(100% + 110px);
  padding-bottom: 10px;
  border: 1px solid #9e9fa0;
  position: relative;
  border-radius: 4px;
  margin-top: -100px;
  margin-right: 20px;
  background-color: white;

  &.only-child {
    width: 820px; // 2x 400px + 20px (space between columns)
  }
}
