@use 'variables' as dt;

$gap-name-highlight: 4px;

:host {
  align-items: center;
  width: 100%;
}

:host.light .name > * {
  color: dt.$blue;
}

:host:not(.light) .name > * {
  color: white;
}

:host.disabled .name > * {
  color: rgba(136, 136, 136, 0.4);
}

.name {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  width: 100%;
  height: 1.2 * 3 * 17px + $gap-name-highlight;

  &.two-liner-name {
    height: 1.2 * 2 * 17px + $gap-name-highlight;
  }

  padding-bottom: $gap-name-highlight;

  &.focusable {
    &:hover {
      padding-bottom: 3px;
      border-bottom: 1px solid dt.$blue-lighten-4;
    }

    &.focused {
      padding-bottom: 1px;
      border-bottom: 2px solid dt.$orange;
    }
  }

  .name-input {
    font-size: dt.font-size-old(body-1);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

    max-height: 100%;
    width: 100%;
    padding: 0 5px;
    margin: auto 0;

    outline: none;
    overflow: hidden;

    &:not(:focus) {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }
}
