<dt-modal-content size="big" (closeClick)="dialogRef.close(false)" [showFooter]="true" [contentPadding]="false" [flexContent]="true">
  <ng-template #title i18n>Stufen für Indikatorskala beschreiben</ng-template>
  <ng-template #content>
    <div class="main-container" #mainContainer>
      <div [class.hidden-element]="!showStages">
        <div class="title-row">
          <button
            mat-button
            (click)="toggleAddingStageMode()"
            [disabled]="numberOfStages >= indicatorData.maxStages && !addingStageMode"
            color="accent"
            type="button"
          >
            <ng-container *ngIf="!addingStageMode"> <mat-icon>add_box</mat-icon>&nbsp;<span i18n>Stufe hinzufügen</span> </ng-container>
            <ng-container *ngIf="addingStageMode"> <mat-icon>disabled_by_default</mat-icon>&nbsp;<span i18n>Abbrechen</span> </ng-container>
          </button>
        </div>
        <mat-divider class="stage-divider"></mat-divider>
        <ng-container *ngFor="let stage of copyStages; let stageIdx = index">
          <div class="stage-container">
            <dt-inputbox-simple
              (deleteEvent)="deleteStage(stageIdx)"
              [(notes)]="copyStages[stageIdx].description"
              [showSmallContainer]="false"
              [collapsibleButton]="false"
              [draggable]="false"
              [deleteDisabled]="stageIdx === 0 || stageIdx === copyStages.length - 1"
              [shortQuill]="true"
              [nameInput]="false"
            >
              <div class="caption-wrapper">
                <ng-container i18n>Stufe </ng-container>
                {{ stageIdx + 1 }}:
                <span *ngIf="stageIdx === 0" i18n>(Schlechteste Ausprägung)</span>
                <span *ngIf="stageIdx === copyStages.length - 1" i18n>(Beste Ausprägung)</span>
              </div>

              <div class="container-left custom-left">
                <div
                  *ngIf="stageIdx === 0 || stageIdx === copyStages.length - 1"
                  class="stage-value"
                  title="Die Randpunkte der Skala können nicht verändert werden"
                  i18n-title
                >
                  {{ stage.value | safeNumber : '?' : '1.0-' + maxDecimalPoints }}
                </div>
                <ng-container *ngIf="stageIdx !== 0 && stageIdx !== copyStages.length - 1">
                  <input
                    type="number"
                    class="stage-value-input"
                    title="Ausprägung {{ stageIdx + 1 }}"
                    [ngModel]="stage.value"
                    (ngModelChange)="stage.value = $event"
                    (keyup.enter)="addStage(stageIdx + 1)"
                    required
                    i18n-title
                  />
                  <br />
                </ng-container>
                <dt-button
                  (click)="openStage(stageIdx)"
                  icon="calculate"
                  iconPosition="left"
                  size="normal"
                  i18n
                  i18n-title
                  title="Mögliche Kombinationen berechnen"
                  [marginLeftRight]="0"
                  [disabled]="!validStages || hasDuplicates"
                  >Beispiele</dt-button
                >
              </div>
            </dt-inputbox-simple>
          </div>
          <div class="add-stage-container" *ngIf="stageIdx < numberOfStages - 1 && addingStageMode">
            <dt-button
              class="add-stage-button"
              icon="add"
              iconPosition="left"
              size="normal"
              (click)="addStage(stageIdx + 1)"
              [disabled]="numberOfStages >= indicatorData.maxStages"
              i18n
              >Stufe hinzufügen</dt-button
            >
          </div>
        </ng-container>
        <div class="error-container">
          <mat-error *ngIf="!validStages" class="dt-error" i18n
            >Die Stufen liegen außerhalb der konstruierten Skala oder sind nicht in der richtigen Reihenfolge</mat-error
          >
          <mat-error *ngIf="hasDuplicates" class="dt-error" i18n>Die gleiche Stufe wird zweimal beschrieben</mat-error>
        </div>
      </div>
      <div *ngIf="!showStages">
        <div class="header-container">
          <div class="button-container">
            <dt-button (click)="closeStage()" icon="arrow_back" iconPosition="left" size="normal" i18n>Zurück</dt-button>
          </div>
          <div class="formula-caption">
            <div i18n>Wunschwert: {{ copyStages[openedStage]?.value }}</div>
            <ng-container *ngIf="!indicatorData.useCustomAggregation; else customFormulaTitle" i18n>Vorgegebene Formel</ng-container>
            <ng-template #customFormulaTitle i18n>Benutzerdefinierte Formel</ng-template>
          </div>
          <div class="settings-center-container">
            <dt-select [(selectedOptions)]="displayVariant">
              <dt-select-label i18n>Ansicht</dt-select-label>
              <dt-select-option [value]="'simple'" i18n>Einfach</dt-select-option>
              <dt-select-option [value]="'extended'" i18n>Erweitert</dt-select-option>
            </dt-select>
          </div>
        </div>
        <dt-combination-component
          [aggregatedUnit]="indicatorData.aggregatedUnit"
          [customAggregationFormula]="indicatorData.customAggregationFormula"
          [expandOptions]="displayVariant === 'extended'"
          [indicators]="indicatorData.indicators"
          [isAdditive]="!indicatorData.useCustomAggregation"
          [openedStage]="openedStage"
          [scaleMin]="scaleMin"
          [scaleMax]="scaleMax"
          [stages]="copyStages"
        >
        </dt-combination-component>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button *ngIf="openedStage < 0" [disabled]="!validStages || hasDuplicates" (click)="saveData()" icon="save" iconPosition="left" i18n
      >Übernehmen</dt-button
    >
    <dt-button
      *ngIf="openedStage < 0 && hasVerbalIndicators && !indicatorData.useCustomAggregation"
      (click)="checkVerbalStages()"
      icon="edit_note"
      iconPosition="left"
      i18n
      >Qualitative Stufen importieren</dt-button
    >
    <dt-button *ngIf="openedStage < 0" (click)="dialogRef.close()" type="raised-less" i18n>Verwerfen</dt-button>
    <dt-button *ngIf="openedStage >= 0" (click)="dialogRef.close()" type="raised-less" i18n>Schließen</dt-button>
  </ng-template>
</dt-modal-content>

<ng-template #stageNumberInputModal>
  <dt-modal-content
    (closeClick)="closeCustomNumberOfStagesModal()"
    [showFooter]="true"
    [contentPadding]="true"
    [flexContent]="true"
    size="normal"
  >
    <ng-template #title i18n>Stufen für Indikatorskala beschreiben</ng-template>
    <ng-template #content>
      <p i18n
        >Die existierenden qualitativen Skalen können nicht eindeutig zusammengefasst werden. Bitte wähle eine der folgenden Optionen:</p
      >
      <div class="custom-number-container">
        <ng-container *ngFor="let customNumberOfStages of possibleCustomNumberOfStages; let possibleStageIdx = index">
          <div
            class="option-card"
            [class.selected]="possibleStageIdx === selectedCustomNumberIdx"
            (click)="selectedCustomNumberIdx = possibleStageIdx"
          >
            <div class="card-title" i18n>{{ customNumberOfStages }} Stufen</div>
            <div class="card-content">
              <ng-container *ngFor="let category of listOfVerbalCategories">
                <div *ngIf="category.stages.length === customNumberOfStages">
                  <span class="category-name" *ngIf="category.isSolo">{{ category.indicatorName }}:</span>
                  <span class="category-name" *ngIf="!category.isSolo">{{ category.indicatorName }} — {{ category.name }}:</span>
                  <ul class="stage-list">
                    <li *ngFor="let stage of category.stages">{{ stage.name }}</li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #footer>
      <dt-button (click)="generateSuggestedVerbalStages()" [disabled]="selectedCustomNumberIdx == null" icon="save" iconPosition="left" i18n
        >Übernehmen</dt-button
      >
      <dt-button (click)="closeCustomNumberOfStagesModal()" type="raised-less" i18n>Verwerfen</dt-button>
    </ng-template>
  </dt-modal-content>
</ng-template>
