<dt-modal-content size="giant" (closeClick)="dialogRef.close()" [flexContent]="true">
  <ng-template i18n #title>Eingabe einer qualitativen Wirkungsprognose</ng-template>
  <ng-template i18n #subtitle
    >Alternative <strong>&bdquo;{{ verbalIndicatorForecastModalData.alternative.name }}&ldquo;</strong>, Ziel
    <strong>&bdquo;{{ verbalIndicatorForecastModalData.objective.name }}&ldquo;</strong>, Indikator
    <strong
      >&bdquo;{{
        verbalIndicatorForecastModalData.objective.indicatorData.indicators[verbalIndicatorForecastModalData.indicatorIdx].name
      }}&ldquo;</strong
    >
    <span *ngIf="verbalIndicatorForecastModalData.influenceFactor != null"
      >, Zustand
      <strong
        >&bdquo;{{
          verbalIndicatorForecastModalData.influenceFactor
            | stateName : (diagram != null ? diagram.stateIdx : verbalIndicatorForecastModalData.stateIdx)
        }}&ldquo;</strong
      ></span
    ></ng-template
  >
  <ng-template #content>
    <dt-verbal-indicator-diagram
      #diagram
      diagramMode="forecast"
      [indicatorIdx]="verbalIndicatorForecastModalData.indicatorIdx"
      [indicator]="verbalIndicatorForecastModalData.objective.indicatorData.indicators[verbalIndicatorForecastModalData.indicatorIdx]"
      [isValueImplicit]="verbalIndicatorForecastModalData.isValueImplicit"
      [stateIdx]="verbalIndicatorForecastModalData.stateIdx"
      [influenceFactor]="verbalIndicatorForecastModalData.influenceFactor"
      [outcomeValues]="verbalIndicatorForecastModalData.outcomeValues"
    ></dt-verbal-indicator-diagram>
  </ng-template>

  <ng-template #footer>
    <dt-button (click)="apply()" i18n>Übernehmen</dt-button>
    <dt-button (click)="dialogRef.close()" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>
