<div class="settings-container">
  <dt-collapse-all
    (expandAll)="expandAll()"
    (collapseAll)="collapseAll()"
    [allExpanded]="allExpanded"
    [allCollapsed]="allCollapsed"
  ></dt-collapse-all>

  <dt-select
    *ngIf="decisionData.projectMode !== 'professional' && pageKey > 0"
    [selectedOptions]="filter"
    (selectedOptionsChange)="changeFilter($event)"
  >
    <dt-select-label i18n>Alternativen anzeigen</dt-select-label>
    <dt-select-option [value]="'all'" i18n>Aktuelle Alternativen</dt-select-option>
    <dt-select-option [value]="'onlyCurrent'" i18n>Aus diesem Schritt</dt-select-option>
    <dt-select-option [value]="'currentAndPrevious'" i18n>Bis zu diesem Schritt</dt-select-option>
  </dt-select>
</div>

<dt-drag-drop-list
  [listElements]="alternativeList"
  [readonly]="readonly"
  [allowGrouping]="true"
  (move)="move($event[0], $event[1])"
  (group)="group($event[0], $event[1])"
  (moveChild)="moveChild($event[0], $event[1], $event[2])"
  (extractChild)="extractChild($event[0], $event[1], $event[2])"
>
  <ng-template let-alternative="$implicit" let-index="index">
    <dt-alternative-box
      *ngIf="alternativeMetadata.get(alternative) as metadata"
      [alternative]="alternative"
      (deleteClick)="delete(index)"
      [readonly]="readonly"
      [(expanded)]="metadata.expanded"
      [isLocked]="metadata.parentOfVisibleChild && metadata.hidden"
      [lockedChildren]="metadata.childrenLocked"
      [namePlaceholder]="getNamePlaceholder(index)"
      [notePlaceholder]="getNotePlaceholder(index)"
    ></dt-alternative-box>
  </ng-template>
</dt-drag-drop-list>

<div *ngIf="showAddButton" class="button-container">
  <dt-button [disabled]="readonly" (click)="add()" i18n data-cy="alternative-add-button">Weitere Alternative hinzufügen</dt-button>
</div>
