@use 'variables' as dt;

// Only show the first error in a form field
mat-form-field mat-error:not(:first-of-type) {
  display: none;
}

.mat-mdc-subheader {
  color: #0000008a;
  font-size: dt.font-size-old(body-1);
  font-weight: 500;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  color: inherit !important;
}

.mat-mdc-header-cell {
  // Since v15, the standard typography level for header cells is subheading-1 (which is too big for us).
  @include dt.typography-level-old(caption);
  color: #0000008a;
  font-weight: 500;
}

.mat-mdc-radio-button:not([ng-reflect-disabled]) {
  label {
    cursor: pointer;
  }
}

.mat-row.mat-mdc-no-data-row .mat-cell {
  padding: 0 16px;
  height: 52px;
}
