<dt-modal-content size="small" (closeClick)="close()">
  <ng-template #title i18n>Registrieren</ng-template>
  <ng-template #content>
    <form #actualForm="ngForm" class="dt-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label i18n>E-Mail-Adresse</mat-label>
        <input type="email" matInput formControlName="email" required />

        <mat-error *ngIf="registerForm.hasError('alreadyExists', 'email')" i18n
          >Für die angegebene E-Mail-Adresse existiert bereits ein Account</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('required', 'email')" i18n>Bitte gib eine E-Mail-Adresse an</mat-error>
        <mat-error *ngIf="registerForm.hasError('pattern', 'email')" i18n
          >Bitte gib Deine E-Mail-Adresse anstelle der TIM-Kennung ein</mat-error
        >
        <mat-error *ngIf="registerForm.hasError('email', 'email')" i18n>Bitte gib eine gültige E-Mail-Adresse an</mat-error>
      </mat-form-field>

      <dt-password-form></dt-password-form>

      <mat-form-field>
        <mat-label i18n>Benutzername (optional)</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-checkbox formControlName="data" i18n required
        >Hiermit willige ich ein, dass die von mir eingegebenen Daten in anonymisierter Form für wissenschaftliche Zwecke und zur
        Verbesserung des Tools verwendet werden können.</mat-checkbox
      >

      <mat-checkbox formControlName="privacy" i18n required
        >Ich willige in die Verarbeitung meiner personenbezogenen Daten entsprechend der
        <a href="https://entscheidungsnavi.de/privacy/" target="_blank">Datenschutzerklärung</a> ein.</mat-checkbox
      >

      <mat-error
        *ngIf="actualForm.submitted && (registerForm.hasError('required', 'data') || registerForm.hasError('required', 'privacy'))"
        i18n
        >Bitte akzeptiere die Bedingungen</mat-error
      >

      <mat-error *ngIf="registerForm.hasError('serverError')" i18n>Bei der Übermittlung der Daten ist ein Fehler aufgetreten.</mat-error>

      <button
        mat-raised-button
        [dtOverlayProgress]="registerForm.disabled"
        type="submit"
        color="accent"
        [disabled]="registerForm.disabled"
        i18n
        >Akzeptieren und registrieren</button
      >
    </form>
  </ng-template>
</dt-modal-content>
