@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:math';

$arm-stroke-width: 2px;

:host {
  display: block;
}

.mind-map {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.move-container {
  position: relative;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 0 0;
  position: relative;

  &:first-child > .arm .up {
    visibility: hidden;
  }

  &:last-child > .arm .down {
    visibility: hidden;
  }

  .arm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    z-index: 5;
    cursor: pointer;

    .segment {
      background: black;

      &.base {
        height: $arm-stroke-width;
        width: 10px;
      }

      &.up,
      &.down {
        flex: 1;
        width: $arm-stroke-width;
      }
    }

    &.root {
      cursor: default;
    }
  }

  .collapse-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    cursor: pointer;

    mat-icon {
      height: 20px;
      font-size: 20px;
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48;
    }
  }
}
