<div class="navigation-layout">
  <klug-navigation></klug-navigation>
  <div class="bottom-container">
    <div class="left">
      <div class="routing-scroll-container">
        <div class="routing-container" [class.klug-limit-width]="limitComponentWidth">
          <router-outlet (activate)="onActivateRoute($event)"></router-outlet>
        </div>
      </div>
      <klug-navline></klug-navline>
      <div class="links">
        <a href="https://entscheidungsnavi.de/sitenotice" target="_blank" rel="noopener">Impressum</a> |
        <a href="https://entscheidungsnavi.de/privacy" target="_blank" rel="noopener">Datenschutz</a> |
        <a href="https://entscheidungsnavi.de/contact" target="_blank" rel="noopener">Kontakt</a>
      </div>
    </div>

    <klug-help [class.klug-hidden]="(isHelpOpen$ | async) === false || helpTemplate == null"></klug-help>
  </div>
</div>
