<div class="project-area">
  <button
    data-cy="project_name"
    class="section-button"
    [class.alone]="!isTeamProject && projectService.getProjectType() !== 'embedded'"
    (click)="openProjectNotes()"
    mat-button
    i18n-matTooltip
    matTooltip="Projektinformationen"
    [matTooltipShowDelay]="1000"
  >
    <div class="content">
      <mat-icon>info</mat-icon>
      <div class="project-label-and-statement">
        <div class="label">{{ decisionData.decisionProblem }}</div>
        <div class="decision-statement">{{ decisionData.decisionStatement.statement }}</div>
      </div>
    </div>
  </button>
  <ng-container *ngIf="isTeamProject">
    <mat-divider vertical></mat-divider>
    <button
      data-cy="team"
      class="section-button"
      (click)="openTeamModal()"
      mat-button
      i18n-matTooltip
      matTooltip="Teaminformationen"
      [matTooltipShowDelay]="1000"
    >
      <div class="content">
        <mat-icon>groups</mat-icon>
        <div class="label">{{ teamProjectName }}</div>
        <mat-icon class="team-edit-icon" [class.can-edit]="onlineProject.canSave$ | async">{{
          (onlineProject.canSave$ | async) ? 'edit' : 'edit_off'
        }}</mat-icon>
      </div>
    </button>
  </ng-container>
  <ng-container *ngIf="projectService.getProjectType() !== 'embedded'" [ngSwitch]="projectService.getProjectType()">
    <mat-divider vertical></mat-divider>
    <div *ngSwitchCase="'online'" class="save-indicator_issue-button-wrapper" [ngSwitch]="saveState$ | async">
      <button
        mat-button
        *ngIf="onlineProject.isOwnProject"
        color="primary"
        (click)="sideBySideService.openHistory()"
        matTooltip="Versionsverlauf"
        i18n-matTooltip
      >
        <mat-icon>history</mat-icon>
      </button>
      <button
        *ngSwitchCase="'off'"
        mat-button
        color="primary"
        [matTooltip]="autosaveDisabledMessage"
        class="save-disabled-button"
        (click)="clickSaveDisabledIcon()"
        ><mat-icon>cloud_off</mat-icon></button
      >
      <mat-icon *ngSwitchCase="'saving'" matTooltip="Projekt wird gespeichert…" i18n-matTooltip>cloud_upload</mat-icon>
      <mat-icon *ngSwitchCase="'idle'" matTooltip="Projekt gespeichert" i18n-matTooltip>cloud_done</mat-icon>
      <mat-icon *ngSwitchCase="'error'" class="error-icon" [matTooltip]="saveErrorMessage">error</mat-icon>
    </div>
    <div *ngSwitchDefault class="save-indicator_issue-button-wrapper">
      <button mat-button color="primary" (click)="saveNonOnlineProject()" matTooltip="Projekt speichern" i18n-matTooltip>
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div *ngIf="decisionData.projectMode !== 'starter'" class="save-indicator_issue-button-wrapper">
      <button mat-button color="primary" (click)="openIssueRaising()">
        <mat-icon>category</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
