@use '@angular/material' as mat;
@use 'variables' as dt;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(dt.$typography);`
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated*/

@include mat.legacy-typography-hierarchy(dt.$typography);

@include mat.all-component-typographies(dt.$typography);
@include mat.all-legacy-component-typographies(dt.$typography);
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated*/
@include mat.legacy-core();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dt-primary: mat.define-palette(dt.$mat-blue);
$dt-accent: mat.define-palette(dt.$mat-orange);

// The warn palette is optional (defaults to red).
$dt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$dt-theme: mat.define-light-theme(
  (
    color: (
      primary: $dt-primary,
      accent: $dt-accent,
      warn: $dt-warn,
    ),
    typography: dt.$typography,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated*/
@include mat.all-legacy-component-themes($dt-theme);
@include mat.all-component-themes($dt-theme);
