@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: block;
  height: 100%;

  background-color: #fafafa;

  display: flex;
  flex-direction: column;
}

.header {
  @include dt.typography-level-old(body-2);
  padding: 8px 16px;
}

.old-version-warning {
  padding: 8px 16px;

  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  mat-icon {
    font-variation-settings: 'FILL' 0;
  }
}

.history-list {
  background-color: white;

  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;

  button {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;
    padding: 0 16px;

    white-space: nowrap;
    font-size: dt.font-size(caption);
    color: dt.$grey-foreground;

    transition: background-color 0.15s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    span.date {
      font-size: dt.font-size(body-2);
      font-weight: 500;
      color: dt.$foreground;
    }

    .type-description {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .active-indicator {
      flex: none;
      display: inline-block;
      background-color: rgb(52, 182, 0);
      border-radius: 50%;
      width: 8px;
      height: 8px;
      margin-left: 8px;
    }

    &.grouped-item {
      padding-left: 32px;
    }
  }
}

mat-spinner {
  display: block;
  margin: 8px auto;
}

mat-error {
  margin: 8px;
}
