<div class="header" i18n>Versionsverlauf</div>
<mat-divider></mat-divider>

<ng-container *ngIf="projectData$ | async as data; else loadingOrError">
  <ng-container *ngIf="data.project.info.loadedHistoryEntry != null">
    <div class="old-version-warning">
      <div class="icon-wrapper">
        <mat-icon>warning</mat-icon>
        <div i18n
          >Du hast eine Sicherung geladen. Um zu speichern, musst Du sie entweder wiederherstellen oder zur neuesten Version
          zurückwechseln.</div
        >
      </div>
      <button mat-button color="warn" (click)="restoreBackup()" [dtOverlayProgress]="isRestoringBackup" [disabled]="isRestoringBackup" i18n
        >Wiederherstellen</button
      >
      <button mat-button [disabled]="isRestoringBackup" (click)="onClick(data.project.info.id)" i18n>Zur neuesten Version wechseln</button>
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <div class="history-list">
    <button matRipple (click)="onClick(data.project.info.id)">
      <span class="date">{{ data.project.info.updatedAt | date : 'medium' }}</span>
      &nbsp;—&nbsp;
      <span class="type-description" i18n>Neueste Version</span>
      <div class="active-indicator" *ngIf="data.project.info.loadedHistoryEntry == null"></div>
    </button>
    <ng-container *ngFor="let group of data.history">
      <button matRipple *ngIf="group.length > 1" (click)="toggleGroup(group.at(-1).id)">
        <span class="date">{{ group.at(-1).versionTimestamp | date : 'medium' }}</span
        >&nbsp;<mat-icon>{{ expandedGroupIds.has(group.at(-1).id) ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>
      <ng-container *ngIf="group.length === 1 || expandedGroupIds.has(group.at(-1).id)">
        <button
          *ngFor="let entry of group"
          matRipple
          (click)="onClick(data.project.info.id, entry.id)"
          [class.grouped-item]="group.length > 1"
        >
          <span class="date">{{ entry.versionTimestamp | date : (group.length === 1 ? 'medium' : 'mediumTime') }}</span>
          &nbsp;—&nbsp;
          <span class="type-description" i18n>Sicherung</span>
          <mat-icon *ngIf="entry.resolvesConflict" matTooltip="Aus Versionskonflikt entstanden" i18n-matTooltip>merge</mat-icon>
          <div class="active-indicator" *ngIf="data.project.info.loadedHistoryEntry === entry.id"></div>
        </button>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #loadingOrError [ngSwitch]="hasError">
  <mat-spinner *ngSwitchCase="false"></mat-spinner>
  <mat-error class="dt-error" *ngSwitchDefault i18n
    >Beim Laden der Historie ist ein Fehler aufgetreten. Bitte versuche es später noch einmal.</mat-error
  >
</ng-template>
