@use '@angular/material' as mat;

:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.chart-box {
  flex: 1 0 40px;
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: pointer;

  &:hover .chart-bar {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.chart-dummy {
  flex: 1 0 0;
  max-width: 50px;
}

.chart-bar {
  background-color: #3b4c5b;
  width: 100%;
  min-height: 1px;
  position: relative;
}

.dark-text-wrapper {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.dark-text,
.light-text {
  font-weight: bold;
  white-space: nowrap;
}

.dark-text {
  color: #3b4c5b;
  position: absolute;
  bottom: 2px;
}
.light-text {
  color: white;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dark-line {
  background-color: #3b4c5b;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 5px;
}

.influence-factor-popover {
  @include mat.elevation(8);

  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 8px;

  max-width: 100vw;
  overflow-x: auto;
}
