<div class="res-chart-container chart-container">
  <!-- label column -->
  <div class="label-col">
    <div>
      <!-- labels of the chart -->
      <div class="labels" [style.padding-bottom.px]="resBotPadding">
        <!-- labels -->
        <div
          *ngFor="let calculationIdx of rankedResultIDs; let i = index; trackBy: trackByIndex"
          class="label-item"
          [style.height.px]="totalBarHeight"
        >
          <!-- ranking -->
          <div class="ranking">{{ i + 1 }}.</div>

          <!-- caption -->
          <div class="caption alternative-name">
            {{ decisionData.alternatives[selectedAlternatives[calculationIdx]].name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- score column -->
  <div class="score-col">
    <div class="scores" [style.padding-bottom.px]="resBotPadding">
      <div class="numbers">
        <div class="caption" i18n>ø Rang</div>
      </div>
      <div class="score-wrapper" *ngFor="let calculationIdx of rankedResultIDs; trackBy: trackByIndex">
        <div class="score">{{ scores[calculationIdx] | number : '1.2-2' }}</div>
      </div>
    </div>
  </div>

  <!-- ranking column with chart -->
  <div class="rank-col">
    <div class="header" i18n>Häufigkeit auf Rangposition</div>
    <div class="chart-wrapper">
      <div class="chart" [style.padding-bottom.px]="resBotPadding">
        <div class="numbers">
          <div *ngFor="let valRow of positions; let i = index; trackBy: trackByIndex" class="number">{{ i + 1 }}</div>
        </div>
        <div *ngFor="let valRow of positions; let alternativeIndex = index; trackBy: trackByIndex">
          <div class="chart-row-wrapper">
            <div class="chart-row">
              <ng-container *ngFor="let value of valRow; let position = index; trackBy: trackByIndex">
                <dt-chart-rangposition-part
                  [value]="value"
                  [stateDistribution]="result.influenceFactors[rankedResultIDs[alternativeIndex]][position]"
                ></dt-chart-rangposition-part>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- bandwidth column with chart -->
  <div class="chart-col">
    <div class="header" i18n>Bandbreite der berechneten Nutzenerwartungswerte</div>
    <div class="chart">
      <dt-chart-nutzenerwartungswert [values]="resValues"></dt-chart-nutzenerwartungswert>
    </div>
  </div>
</div>
