@use 'variables' as dt;

mat-accordion ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

mat-panel-title {
  max-width: 100%;
  gap: 10px;
  user-select: none;

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    flex-shrink: 0;

    border-radius: 50%;
    color: white;
    background-color: dt.$orange;
  }

  .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
