@use 'variables' as dt;

.header {
  display: flex;
  align-items: center;

  .save-indicator {
    display: flex;
    align-items: center;

    user-select: none;

    gap: 5px;

    font-size: dt.font-size-old(caption);
    vertical-align: middle;
    margin-left: 2ch;

    color: lightgray;

    mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .save-indicator {
    display: flex;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;

  flex: 1;
  min-height: 0;

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 100000;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    color: white;
    font-weight: 500;

    mat-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

mat-tab-group {
  flex: 1;
  min-height: 0;
}

.overview-tab,
.questionnaire-tab,
dt-rich-text-editor {
  flex: 0 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.overview-tab {
  padding: 16px 24px;
}

.requirements {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .requirement {
    display: flex;
    align-items: center;

    span {
      display: inline-flex;
      align-items: center;
      gap: 5px;

      &.satisfied {
        color: green;
      }

      &.unsatisfied {
        color: darkred;
      }
    }
  }
}

.header {
  font-weight: 500;
  margin-bottom: 3px;
}

.grey {
  color: gray;
}

.free-text-character-counter {
  padding: 5px;
  font-weight: bold;

  > span {
    color: darkgreen;

    &.warning {
      color: red;
    }
  }
}

.action-row {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  button {
    position: relative;
  }
}
