<div class="wrapper-transparent-cover-and-box">
  <div class="wrapper" [class.readonly]="readonly" [class.grayed-out]="grayedOut" (click)="!readonly && (isEditing = true)">
    <ng-container *ngIf="!isEditing || readonly; else editMode">
      <div class="text" [matTooltip]="name" [matTooltipDisabled]="currentlyDragging" matTooltipShowDelay="500"
        ><span class="ellipsis">{{ name }}</span></div
      >
      <button
        *ngIf="showDeleteButton"
        mat-icon-button
        [class.disabled]="readonly"
        [disabled]="readonly"
        (click)="!readonly && deleteClick.emit()"
        data-cy="delete-button"
        ><mat-icon>delete</mat-icon></button
      >
    </ng-container>
    <ng-template #editMode>
      <input
        type="text"
        [ngModel]="name"
        (ngModelChange)="onNameChange($event)"
        (keydown.enter)="isEditing = false"
        (keydown.escape)="isEditing = false"
        (blur)="isEditing = false"
        dtAutoFocus
      />
    </ng-template>
  </div>
  <div *ngIf="currentlyDraggingBox" class="tranparent-cover"> </div>
</div>
