@use 'variables' as dt;

:host {
  display: flex;
}

.wrapper {
  width: 225px;
  height: 50px;
  flex-wrap: wrap;

  display: flex;
  align-items: center;

  color: dt.$blue;
  background-color: #ebedee;
  border: 2px solid dt.$blue;
  border-radius: 4px;
  overflow: hidden;

  .text {
    flex: 1;
    overflow: hidden;
    margin: 0 4px;
  }

  &:not(.readonly) .text {
    cursor: pointer;
  }

  input {
    min-height: 32px;
    margin: 4px;
  }

  button {
    transition: color 0.25s;
  }
  button:not(.disabled):hover {
    color: dt.$orange;
  }
}

.grayed-out {
  border-color: #c0c0c0 !important;
  color: #808080 !important;
}

.wrapper-transparent-cover-and-box {
  position: relative;
  height: 50px;
}

//setting opacity did not work in safari hence the tranparent-cover
.tranparent-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.8;
}

// https://css-tricks.com/almanac/properties/l/line-clamp/
// This is supported by most modern browsers, in other browsers the text will just cut out.
.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
