<div
  #nodeWrapper
  class="node-wrapper with-add-buttons"
  [class.focused]="nodeState.isFocused(locationSequence)"
  [class.root]="locationSequence.isRoot()"
  [class.add-buttons-open]="addButtonsOpen"
  (click)="nodeState.nodeClick($event, locationSequence)"
  dtHierarchyNodeDrag
  dtHierarchyNodeDrop
>
  <ng-content></ng-content>
  <div class="click-capturing-overlay"></div>

  <ng-container *ngIf="!interface.readonly">
    <div class="suggest-add-buttons-catching-area" (click)="addButtonsOpen = true">
      <div class="suggest-add-buttons">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
    </div>
    <div (click)="add($event, 'above')" class="add top">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'below')" class="add bottom">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'right')" class="add right">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'left')" class="add left">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>

    <div class="delete-button-wrapper" (click)="delete()">
      <div class="delete-button"><mat-icon>delete</mat-icon></div>
    </div>
  </ng-container>
</div>
