@use 'variables' as dt;

.navigation-wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  .content-container {
    flex: 1 0 0;
  }
}

footer {
  position: sticky;
  bottom: 0;

  background-color: white;

  text-align: center;

  .footer-content {
    padding: 8px;
  }

  .footer-links a {
    padding: 0 4px;
  }
}

.sidenav-list {
  width: 300px;

  mat-icon {
    margin-right: 8px;
  }

  a {
    color: #000000a6;

    .mat-mdc-list-item-title {
      @include dt.typography-level-old(subheading-1);
    }

    &.active {
      background-color: #eeeeee;
      color: black;
    }

    &:hover {
      color: black;
    }

    &.active:hover {
      background-color: dt.$blue-lighten-8;
    }
  }
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}
