<dt-extendable-header i18n-headerName variation="large" headerName="Was ist eigentlich eine Nutzenskala?" [initialOpening]="true">
  <p i18n
    >Im Regelfall wirst Du zur Messung Deiner Ziele unterschiedliche Skalen verwendet haben. Für die weiteren Berechnungen ist es jedoch
    wichtig, dass alle Ziele gut miteinander vergleichbar sind, weshalb sie im Hintergrund auf eine einheitliche Skala überführt werden
    müssen. Diese einheitliche Skala ist die Nutzenskala.</p
  >
  <p i18n
    >Dabei handelt es sich um eine abstrakte Skala, die zum Ausdruck bringt, wie wertvoll bzw. nutzbringend ein mögliches Ergebnis auf
    Deiner Zielskala für Dich ist. Hierbei ist es nur schwer möglich, einen solchen Nutzenwert absolut zu interpretieren. Vielmehr kann der
    Nutzenwert eines Ergebnisses immer nur im Vergleich zu anderen Ergebnissen betrachtet werden. In der Entscheidungstheorie werden
    Nutzenwerte deshalb auf ein Intervall zwischen 0 und 1 normiert.</p
  >
  <p i18n
    >Mit der Definition einer Messskala hast Du im letzten Schritt bereits für jedes Ziel eine Bandbreite definiert, auf welcher sich
    mögliche Ergebnisausprägungen bewegen können. Das hierbei von Dir angegebene schlechteste Ergebnis erhält immer den Nutzenwert 0, das
    beste Ergebnis den Nutzenwert 1. Alle Werte innerhalb der Bandbreite liegen zwischen 0 und 1. Mit der Nutzenfunktion für ein Ziel gibst
    Du an, wie hoch die Nutzenwerte für alle Ergebnisse zwischen diesen beiden Ausprägungen, also innerhalb der Bandbreite des Ziels
    sind.</p
  >
  <p i18n
    >Handelt es sich um ein Ziel, welches auf einer numerischen Skala oder mit einer Indikatorskala gemessen wird, so wird folgende
    exponentielle Nutzenfunktion unterstellt:</p
  >

  <img class="image-maxwidth" src="assets/assistant/nutzenfunktion-formel.png" />

  <p i18n
    >Hierbei stellt <dt-katex [latex]="'x^{-}'"></dt-katex> das schlechteste und <dt-katex [latex]="'x^{+}'"></dt-katex> das beste Ergebnis
    aus der jeweiligen Bandbreite dar. Der Parameter c ist der Krümmungsgrad der Funktion.</p
  >
  <p i18n
    >Handelt es sich um ein Ziel, das auf einer verbalen Skala gemessen wird, so können die Nutzenwerte der verbalen Ergebnisausprägungen
    zwar auch über eine exponentielle Nutzenfunktion vorbesetzt werden, grundsätzlich kann aber jedes Ergebnis auch individuell bewertet
    werden. Dadurch erhält die Kurve einen komplett individuellen Verlauf und ist nicht an die exponentielle Form gebunden.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Lineare vs. Nicht-lineare Nutzenfunktionen">
  <p i18n
    >Der Krümmungsgrad c bestimmt den Verlauf einer Nutzenfunktion. Bei einem positiven c verläuft die Nutzenfunktion rechtsgekrümmt, in
    diesem Falle liegt ein sog. abnehmender Grenznutzen vor. Du kannst Dir dies so vorstellen: Links auf der x-Achse Deiner Nutzenfunktion
    stehen die schlechten möglichen Ergebnisausprägungen, also die niedrigen Ergebnisniveaus, die nach rechts hin immer besser werden.
    Abnehmender Grenznutzen bedeutet nun, dass eine Ergebnisverbesserung um x Einheiten bei einem geringen Niveau der Ergebnisse für Dich zu
    einem höheren Nutzengewinn als die gleich hohe Ergebnisverbesserung um x im Falle eines ohnehin schon hohen Ergebnisniveaus führt (<span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="500"
      [dtHoverPopover]="noteHover1"
      >Beispiel</span
    >). Je stärker der Grenznutzen im Intervall abfällt, desto höher ist das Ausmaß der Rechtskrümmung.</p
  >
  <p i18n
    >Ein positiver Krümmungsgrad bei einer Nutzenfunktion kennzeichnet auch einen risikoscheuen Entscheider. Wenn es sich um Ergebnisse in
    einem Ziel handelt, die unsicher sind und Du dies ggf. durch einen unsicheren Einflussfaktor für mindestens eine Alternative sogar
    explizit modelliert hast, solltest Du auch hierauf achten. Je weniger Du bereit bist, Risiken in diesem Ziel zu tragen, desto höher
    sollte der positive Krümmungsgrad c ausfallen.</p
  >
  <p i18n
    >Bei einem negativen Krümmungsgrad gelten die oberen Erläuterungen umgekehrt. Hier liegt ein zunehmender Grenznutzen vor, d.&nbsp;h. bei
    einem niedrigen Ergebnisniveau sind die Nutzenunterschiede geringer als bei einem hohen Ergebnisniveau. Zugleich steht ein negativer
    Krümmungsgrad für Risikofreude in dem jeweiligen Ziel.</p
  >
  <p i18n
    >Überlege Dir also für jedes Ziel, (1) ob ein abnehmender oder ein zunehmender Grenznutzen vorliegt oder (2) ob Du bei unsicheren
    Zielergebnissen Deine Risikoeinstellung berücksichtigen willst. Wenn beides nicht der Fall ist, kannst Du auf eine genauere Ermittlung
    der Nutzenfunktion verzichten und eine lineare Nutzenfunktion unterstellen, d.&nbsp;h. den Krümmungsgrad bei dem voreingestellten Wert
    von 0 belassen. In allen anderen Fällen ist zu empfehlen, die Nutzenfunktion genauer zu analysieren.</p
  >
  <p i18n
    >Für weitere Informationen zum Risikoverhalten und zu Höhenpräferenzen empfehlen wir ein
    <a (click)="youtubeModal1.open()">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>, veröffentlicht auf der Seite des
    Fördervereins Reflektiert Entscheiden.</p
  >
  <dt-youtube-modal i18n-modalTitle modalTitle="Schritt 5 - Teilschritt 1" [videoId]="'plCTtTyZVXk'" #youtubeModal1></dt-youtube-modal>
  <ng-template #noteHover1>
    <dt-note-hover>
      <p i18n
        >Wenn Du eine intensive Trainingseinheit hinter Dir hast, wird ein Glas Wasser Dir nach dem Training einen hohen Nutzen stiften
        (weil Du Durst haben wirst). Vielleicht wird das zweite Glas Dir ebenfalls noch einen relativ hohen Nutzen stiften, aber nicht mehr
        so viel wie das erste. Ein drittes wird Dir dann wiederum weniger Nutzen stiften als das zweite (wenn es überhaupt noch Nutzen
        stiftet)</p
      >
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Die Bedeutung der Darstellungsarten der Nutzenfunktionen">
  <p i18n
    >Für alle Ziele, in denen Du lineare Nutzenfunktionen als ungeeignet empfindest, solltest Du die genauere Analyse der Gestalt der
    Nutzenfunktion durch Anklicken des Zielnamens starten.</p
  >
  <p i18n
    >Auf der rechten Seite siehst Du dabei vier (bzw. bei verbalen Skalen drei) Erklärungsvarianten zur links dargestellten
    Nutzenfunktion.</p
  >
  <ol>
    <li i18n
      >In der Variante I erfolgt die Erklärung der Funktion auf Basis des Konzeptes eines abnehmenden bzw. zunehmenden Grenznutzens ohne
      Berücksichtigung von Unsicherheiten. Bei verbalen Skalen wird die Nutzenverbesserung zwischen den einzelnen Stufen beschrieben. Bei
      numerischen und Indikatorskalen wird beschrieben, welche Ausprägung in der aktuellen Darstellung der Nutzenfunktion für Dich einen
      hohen, mittleren bzw. niedrigen Nutzen hat.</li
    >
    <li>
      <p i18n
        >Darstellungsart II existiert in der Form nur bei numerischen und Indikatorskalen und zeigt eine sog. Lotterieansicht. Stelle Dir
        hier vereinfacht vor, dass Du an einem Spiel teilnimmst: Entweder Du erhältst den Wert sicher, der links im Text steht, oder Du
        kannst an der Lotterie rechts daneben teilnehmen. In dieser kannst Du zu dem oberen Prozentsatz den oberen Wert und zu dem unteren
        Prozentsatz den unteren Wert „gewinnen“. Der obere Wert ist besser als der sichere links und der untere schlechter. Du hast also in
        der Lotterie die Chance, Dich im Vergleich zum sicheren Wert zu verbessern oder zu verschlechtern. Durch Änderung der Krümmung der
        Nutzenfunktion ändert sich in dieser Variante der sichere Wert links. Du stellst nun so lange die Krümmung ein, bis Du die folgende
        Aussage treffen kannst:</p
      >
      <br />
      <i i18n
        >Bei den Zahlen, die hier stehen, wäre es mir egal, ob ich den sicheren Wert links nehme oder rechts an der Lotterie teilnehme. Ich
        präferiere keine der beiden Optionen.</i
      >
      <br /><br />
      <p i18n
        >Solang Du eine Seite präferierst, solltest Du die Krümmung weiter einstellen, bis dies nicht mehr der Fall ist. Diese
        Lotteriedarstellung ermöglicht es Dir, über Risikopräferenzen nachzudenken und diese zu äußern. Sollte es sich um ein Ziel mit
        modellierten Unsicherheiten handeln, solltest Du versuchen, mit einer Darstellungsvariante (II bzw. auch III) zu arbeiten, die auch
        Risikopräferenzen berücksichtigt.</p
      >
    </li>
    <li i18n
      >Darstellungsart III (bei verbalen Skalen II) zeigt ebenfalls eine Lotterieansicht. Im Gegensatz zu Darstellungsart II verändern sich
      die Prozentangaben der Lotterie bei Änderung der Krümmung.</li
    >
    <li i18n>Darstellungsart IV (bei verbalen Skalen III) verbalisiert, welchen c-Wert Deine Nutzenfunktion ggf. annimmt.</li>
  </ol>
</dt-extendable-header>
<dt-extendable-header i18n-headerName variation="large" headerName="Variiere die Parameter unter Weitere Optionen" [isLast]="true">
  <p i18n
    >Wie bei „So funktioniert’s“ beschrieben, kannst Du in der genauen Analyse der Nutzenfunktion unter „Weitere Optionen“ zusätzliche
    Parameter variieren, die in die rechten Darstellungsvarianten einfließen. So wird in den Darstellungsvarianten jeweils auf ein
    Teilintervall der gesamten Skalenbandbreite Bezug genommen. Das Nutzenniveau dieses Teilintervalls kannst Du mit dem „Niveau“-Regler
    nach oben und unten verschieben, ebenfalls kannst Du die „Breite“ dieses Intervalls verändern. Bei verbalen Skalen kannst Du zusätzlich
    mit dem „Gewählten Innerer Punkt“- Regler noch die rot eingerahmte Ergebnisausprägung verändern, auf die in den Erläuterungen Bezug
    genommen wird.</p
  >
  <p i18n
    >Analysiere also jeweils bei einem fixierten Krümmungsgrad, ob die mit verschiedenen Parameterkonstellationen resultierenden
    Präferenzaussagen zu Dir passen. Grundsätzlich solltest Du Dich zwar mit allen dargestellten Präferenzaussagen unabhängig von den
    gewählten Parameterkonstellationen hinsichtlich Niveau, Breite und bei verbalen Ausprägungen auch von inneren Punkten identifizieren
    können. Aus praktischen Gesichtspunkten ergibt es jedoch Sinn, sich vornehmlich auf eher mittlere bzw. sehr realistische
    Ergebnisausprägungen zu beziehen, damit Deine Aussagen auch wirklich fundiert sind.</p
  >
  <p i18n
    >Solltest Du Schwierigkeiten in der exakten Festlegung Deiner Aussagen haben, können Dir die Einstellungsmöglichkeiten zum
    Präzisionsintervall Deiner Angaben weiterhelfen. Hierbei solltest Du den Präzisionsgrad auf solch ein Intervall einstellen, dass Du Dich
    auch bei verschiedenen Parameterkonstellationen noch mit jeder der resultierenden Präferenzaussagen identifizieren kannst.</p
  >
</dt-extendable-header>
