@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.impact-model {
  display: flex;
  width: 100%;
  max-height: 100%;
  min-height: 100px;
  justify-content: center;
}

.hidden-decision-statement {
  position: absolute;
  top: 25px;
  left: 10px;
}

.decision-statement-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.statement-wrapper {
  height: 3rem;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid dt.$blue-lighten-4;
  }

  .statement-input {
    outline: none;
    cursor: text;
    padding: 3px 10px;
  }
}

.decision-statement {
  background-color: #f2f2f2;
  border-radius: 3px;
}

.decision-statement-header {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  align-items: center;

  mat-icon,
  span {
    color: dt.$blue-lighten-1;
  }

  .collapse-decision-statement-button {
    cursor: pointer;
    color: dt.$orange;
  }

  .decision-statement-title {
    font-size: dt.font-size-old(title);
  }
}

::ng-deep {
  .dt-open-decision-statement-tooltip {
    font-size: 14px;
    margin-left: 0 !important;
  }
}

.hidden-decision-statement mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
