<dt-modal-content size="small" (closeClick)="close()">
  <ng-template #title i18n>Projekt umbenennen</ng-template>
  <ng-template #content>
    <form [formGroup]="formGroup" (ngSubmit)="save()" class="dt-form">
      <mat-form-field>
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name" type="text" />
        <mat-error *ngIf="formGroup.controls.name.errors?.required" i18n>Der Name darf nicht leer sein</mat-error>
        <mat-error *ngIf="formGroup.controls.name.errors?.notOneOf" i18n>Dieser Name ist bereits vergeben</mat-error>
      </mat-form-field>
      <mat-error *ngIf="formGroup.hasError('server-error')" i18n>Unbekannter Fehler beim Speichern</mat-error>
      <button
        mat-raised-button
        type="submit"
        color="accent"
        [disabled]="formGroup.disabled || formGroup.invalid"
        [dtOverlayProgress]="formGroup.disabled"
        i18n
        >Speichern</button
      >
    </form>
  </ng-template>
</dt-modal-content>
