form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  margin-right: 8px;

  &[type='submit'] {
    position: relative;
  }
}

.file-upload-container {
  display: flex;
  align-items: center;

  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 8px;

  .filler {
    flex: 1;
  }
}

.red {
  color: red;
}
