<ng-container [ngSwitch]="question.entryType">
  <dt-questionnaire-question-textblock *ngSwitchCase="'textBlock'" [entry]="$any(question)"></dt-questionnaire-question-textblock>
  <dt-questionnaire-question-options
    *ngSwitchCase="'optionsQuestion'"
    [entry]="$any(question)"
    [formIndex]="formIndex"
  ></dt-questionnaire-question-options>
  <dt-questionnaire-question-number
    *ngSwitchCase="'numberQuestion'"
    [entry]="$any(question)"
    [formIndex]="formIndex"
  ></dt-questionnaire-question-number>
  <dt-questionnaire-question-text
    *ngSwitchCase="'textQuestion'"
    [entry]="$any(question)"
    [formIndex]="formIndex"
  ></dt-questionnaire-question-text>
  <dt-questionnaire-question-table
    *ngSwitchCase="'tableQuestion'"
    [entry]="$any(question)"
    [formIndex]="formIndex"
  ></dt-questionnaire-question-table>
</ng-container>
