<div class="card-list" *ngIf="authService.user$ | async as user">
  <mat-card>
    <mat-card-title i18n>Angemeldet als</mat-card-title>
    <mat-card-content>{{ user.email }}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title i18n>Rollen</mat-card-title>
    <mat-card-content>{{ user.roles.join(', ') || '—' }}</mat-card-content>
  </mat-card>
</div>

<ng-container *ngIf="authService.userHasRole('admin') | async">
  <div class="card-list" *dtDataLoad="stats$ | async as stats">
    <mat-card>
      <mat-card-title i18n>Registrierte Benutzer</mat-card-title>
      <mat-card-content>{{ stats.userCount }}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title i18n>Projekte</mat-card-title>
      <mat-card-content>{{ stats.projectCount }}</mat-card-content>
    </mat-card>
  </div>
</ng-container>
