<dt-step-title [showStepNumber]="false" i18n>Impulsfragen zur breiteren Formulierung</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Beantworte die untenstehenden Impulsfragen.</ng-template>
  <ng-template #subDescription i18n
    >Nicht alle Impulsfragen passen zu jeder Entscheidungsfrage. Unpassende Fragen kannst Du überspringen.</ng-template
  >
</dt-step-description>

<mat-tab-group #suggestionTabs color="accent" mat-align-tabs="center" dynamicHeight>
  <mat-tab i18n-label label="Mehr als „Für oder Gegen”" labelClass="question-label" bodyClass="question-body">
    <span #l></span>
    <p i18n
      >Wenn Du Dich nur <b>für</b> oder <b>gegen</b> etwas entscheiden willst: Hast Du Dir schon überlegt, was Du machen willst, wenn Du
      Dich dagegen entscheidest? Welche anderen Alternativen kämen dann noch in Frage?</p
    >

    <ng-template #noteTemplate let-index="index">
      <div class="note-container">
        <span i18n class="label">Deine Notizen dazu:</span>
        <div class="editor-container">
          <textarea [(ngModel)]="notes[index]"></textarea>
        </div>
      </div>
    </ng-template>

    <ng-container [ngTemplateOutlet]="noteTemplate" [ngTemplateOutletContext]="{ index: 0 }"></ng-container>
  </mat-tab>
  <mat-tab i18n-label label="Reaktion auf ein Problem" labelClass="question-label" bodyClass="question-body">
    <p i18n
      >Falls Du nur auf ein aufgetretenes Entscheidungsproblem reagierst, überlege bitte einmal unabhängig von den gebotenen Alternativen,
      auf was es Dir in der Situation eigentlich im Kern ankommt!</p
    >

    <ng-container [ngTemplateOutlet]="noteTemplate" [ngTemplateOutletContext]="{ index: 1 }"></ng-container>
  </mat-tab>
  <mat-tab i18n-label label="Grundlegendere Lösung" labelClass="question-label" bodyClass="question-body">
    <p i18n>Wie könnten gänzlich andere Wege aussehen, um Dein Problem noch grundlegender zu lösen als bislang vielleicht angedacht?</p>

    <ng-container [ngTemplateOutlet]="noteTemplate" [ngTemplateOutletContext]="{ index: 2 }"></ng-container>
  </mat-tab>
  <mat-tab i18n-label label="Einschränkende Annahmen" labelClass="question-label" bodyClass="question-body">
    <p i18n
      >Vielleicht beruht Dein Entscheidungsproblem auf zu sehr einschränkenden Annahmen. Ist es möglich, einzelne oder alle Grundannahmen in
      Frage zu stellen und das Entscheidungsproblem weiter zu fassen? Wie könnte das aussehen?</p
    >

    <ng-container [ngTemplateOutlet]="noteTemplate" [ngTemplateOutletContext]="{ index: 3 }"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #noteTemplate let-index="index">
  <div class="note-container">
    <span i18n class="label">Deine Notizen dazu:</span>
    <div class="editor-container">
      <textarea [(ngModel)]="notes[index]"></textarea>
    </div>
  </div>
</ng-template>
