@use 'variables';

.container {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #323232;
  color: #b3b3b3;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  padding-left: 10px;

  line-height: 1rem;

  .yes {
    color: variables.$orange;
  }
}
