<div class="event-dropdown-container">
  <h4 i18n>Veranstaltungen auswählen</h4>
  <mat-form-field>
    <mat-label i18n>Veranstaltungen</mat-label>
    <mat-select [(ngModel)]="selectedIds" multiple>
      <mat-option *ngFor="let event of events" [value]="event.id">{{ event.name }}</mat-option>
    </mat-select>
    <mat-hint i18n>{selectedSubmissionCount, plural, =1 {1 Abgabe} other {{{ selectedSubmissionCount }} Abgaben}} enthalten</mat-hint>
  </mat-form-field>
</div>

<div class="event-dropdown-container">
  <h4 i18n>Art des Exports auswählen</h4>
  <mat-form-field subscriptSizing="dynamic" class="dt-no-margin">
    <mat-label i18n>Art des Exports</mat-label>
    <mat-select [(ngModel)]="exportType">
      <mat-option value="standard" i18n>Standardauswertung</mat-option>
      <mat-option value="alternatives-and-objectives" i18n>Alternativen/Ziele</mat-option>
      <mat-option value="project-files" i18n>Projektdateien</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-container [ngSwitch]="exportType">
  <dt-standard-event-export *ngSwitchCase="'standard'" [selectedEvents]="selectedIds"></dt-standard-event-export>
  <dt-alt-and-obj-event-export *ngSwitchCase="'alternatives-and-objectives'" [selectedEvents]="selectedIds"></dt-alt-and-obj-event-export>
  <dt-project-file-event-export *ngSwitchCase="'project-files'" [selectedEvents]="selectedIds"></dt-project-file-event-export>
</ng-container>

<ng-template #loadingOrError>
  <div class="loading-container" [ngSwitch]="hasError">
    <mat-error class="dt-error" *ngSwitchCase="true" i18n>Beim Laden der Veranstaltungen ist ein Fehler aufgetreten.</mat-error>
    <mat-spinner *ngSwitchDefault></mat-spinner>
  </div>
</ng-template>
