<dt-modal-content (closeClick)="close()" [showFooter]="(autoSaveService.saveState$ | async) === 'error'">
  <ng-template #title>Speichere Cloud Projekt</ng-template>
  <ng-template #content [ngSwitch]="autoSaveService.saveState$ | async">
    <div *ngSwitchCase="'saving'" class="content-container">
      <mat-spinner [diameter]="36"></mat-spinner>
      <div i18n>Dein Projekt wird gerade gespeichert. Bitte warte einen Moment…</div>
    </div>
    <div *ngSwitchCase="'error'" class="content-container">
      <mat-icon>error</mat-icon>
      <ng-container i18n
        >Das Speichern des Projektes ist fehlgeschlagen. Möchtest Du es trotzdem schließen? Ungespeicherte Änderungen gehen dabei
        verloren.</ng-container
      >
    </div>
  </ng-template>
  <ng-template #footer>
    <dt-button color="warn" (click)="close(true)" i18n>Trotzdem schließen</dt-button>
    <dt-button type="raised-less" (click)="close()" i18n>Abbrechen</dt-button>
  </ng-template>
</dt-modal-content>
