<div class="error-container">
  <div *ngIf="showNoSolution" class="message-warning" i18n>Es existiert keine Lösung für diese Indikatorwerte</div>
  <div *ngIf="showNoNewSolution" class="message-warning" i18n>Alle mögliche Lösungen wurden schon berechnet</div>
  <div *ngIf="isInputFull()" class="message-error" i18n>Mindestens ein Indikatorwert muss leer sein</div>
  <div *ngIf="isInputIncorrect()" class="message-error" i18n
    >Einer oder mehrere der Indikatorwerte liegen außerhalb der entsprechenden Skala</div
  >
</div>
<table id="outer-table" class="vector-table" #table>
  <tr>
    <th #triggerState="dtWidthTrigger" class="calculate-button-cell" [dtWidthTrigger]="{ 'icon-only': 220 }">
      <button
        mat-raised-button
        color="accent"
        (click)="calculateForInput()"
        [disabled]="isInputFull() || isInputIncorrect()"
        [matTooltipDisabled]="!triggerState.state['icon-only']"
        i18n-matTooltip
        matTooltip="Weitere Beispiele finden"
      >
        <mat-icon>calculate</mat-icon>
        <span class="calculate-text" i18n>Weitere Beispiele finden</span>
      </button>
    </th>
    <ng-container *ngFor="let indicator of indicators; let indicatorIdx = index">
      <th *ngIf="areIndicatorsPresent[indicatorIdx]">
        {{ indicator.name }} <br />
        <span class="indicator-info">von {{ indicator.min }} bis {{ indicator.max }} {{ indicator.unit }}</span>
      </th>
    </ng-container>
    <th>
      <span i18n>Konstruierte Skala</span> <br />
      <span class="indicator-info">von {{ scaleMin }} bis {{ scaleMax }} {{ aggregatedUnit }}</span>
    </th>
    <th i18n>In der Beschreibung speichern</th>
  </tr>
  <tbody *ngIf="expandOptions">
    <tr>
      <td i18n>Vorgegebene Werte</td>
      <ng-container *ngFor="let indicator of indicators; let indicatorIdx = index">
        <td class="input-cell" *ngIf="areIndicatorsPresent[indicatorIdx]">
          <input
            type="number"
            class="input-value"
            [(ngModel)]="indicatorTestValuesInput[indicatorIdx]"
            title="Wert zu Indikator {{ indicatorIdx + 1 }}"
            i18n-title
          />
        </td>
      </ng-container>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr class="rounding-row">
      <td i18n>Rundung</td>
      <ng-container *ngFor="let indicator of indicators; let indicatorIdx = index">
        <td class="input-cell" *ngIf="areIndicatorsPresent[indicatorIdx]">
          <span [class.grayed-out]="indicatorTestValuesInput[indicatorIdx] != null" class="precision-value">{{
            precisionIndexToAbs(indicatorPrecisionIndexes[indicatorIdx]) | safeNumber : '?' : '1.0-' + maxDecimalPoints
          }}</span>
          <br />
          <button
            mat-stroked-button
            class="change-stages-button"
            color="accent"
            (click)="increasePrecision(indicatorIdx)"
            [disabled]="indicatorPrecisionIndexes[indicatorIdx] <= 0 || indicatorTestValuesInput[indicatorIdx] != null"
          >
            <mat-icon>remove</mat-icon>
          </button>
          &nbsp;
          <button
            mat-stroked-button
            class="change-stages-button"
            color="accent"
            (click)="decreasePrecision(indicatorIdx)"
            [disabled]="
              indicatorPrecisionIndexes[indicatorIdx] >= maxIndicatorPrecisionIndexes[indicatorIdx] ||
              indicatorTestValuesInput[indicatorIdx] != null
            "
          >
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>
      <td class="input-cell">
        <span class="precision-value"
          >{{ roundNumber(scalePrecision * 100) | safeNumber : '?' : '1.0-' + maxDecimalPoints }} % (&plusmn;
          {{ numberFormat | safeNumber : '?' : '1.0-' + maxDecimalPoints }})</span
        >
        <br />
        <button
          mat-stroked-button
          class="change-stages-button"
          color="accent"
          (click)="increaseScalePrecision()"
          [disabled]="scalePrecision <= minScalePrecision"
        >
          <mat-icon>remove</mat-icon>
        </button>
        &nbsp;
        <button
          mat-stroked-button
          class="change-stages-button"
          color="accent"
          (click)="decreaseScalePrecision()"
          [disabled]="scalePrecision >= maxScalePrecision"
        >
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td>-</td>
    </tr>
  </tbody>
  <tr>
    <td class="inner-table-container-cell" [attr.colspan]="numberOfUsedIndicators + 3">
      <div class="inner-table-container-div">
        <table id="inner-table" class="vector-table">
          <tr *ngFor="let outputIndicatorRow of indicatorTestValuesOutput; let outputRowIdx = index">
            <td># {{ solutionCount - outputRowIdx }}</td>
            <ng-container *ngFor="let outputIndicator of outputIndicatorRow.values; let indicatorIdx = index">
              <td
                [style.color]="getColor(outputRowIdx, indicatorIdx)"
                *ngIf="areIndicatorsPresent[indicatorIdx] || indicatorIdx >= outputIndicatorRow.values.length - 1"
              >
                {{ outputIndicator | safeNumber : '?' : '1.0-' + maxDecimalPoints }}
              </td>
            </ng-container>
            <td>
              <ng-container *ngIf="!outputIndicatorRow.saved; else saved">
                <span class="unsaved-link" (click)="saveCombination(outputRowIdx)" i18n>Speichern</span>
              </ng-container>
              <ng-template #saved>
                <span class="saved-link" i18n>Gespeichert</span>
              </ng-template>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
