<dt-extendable-header
  i18n-headerName
  headerName="Übersichtsseite der Nutzenfunktionen"
  variation="large"
  [initialOpening]="!onDetailedPage"
>
  <p i18n
    >Auf dieser Übersichtsseite siehst Du die Nutzenfunktionen aller Deiner Ziele. Die Nutzenfunktionen der Ziele, die auf numerischen oder
    Indikatorskalen gemessen werden, sind als einfache Graphen dargestellt. Bei Zielen, die auf verbalen Skalen gemessen werden, sind
    zusätzlich Balkendiagramme dargestellt. In den einzelnen Fenstern siehst Du im Diagramm auf der x-Achse Werte aus Deiner gewählten Skala
    für das Ziel. Auf der y-Achse werden Dir Nutzenwerte angezeigt. Du kannst die Nutzenfunktionen auf dieser Seite in der
    Schnellbearbeitung verändern. Zu empfehlen ist jedoch, jede Funktion in der Detailansicht einzustellen, die mit Klick auf den Titel der
    Nutzenfunktion aufrufbar ist.</p
  >
  <p i18n
    >Bei Zielen, die auf numerischen oder Indikatorskalen gemessen werden, kannst Du die Funktion direkt über Klicken auf den Graphen
    verändern. Alternativ kannst Du die Einstellungsmöglichkeiten unter dem Diagramm nutzen, um die Krümmung und das gewünschte
    Präzisionsintervall gezielt einzustellen. Bei Zielen, die auf verbalen Skalen gemessen werden, kannst Du in die Balken klicken und deren
    Größen verändern. Um Deine Änderungen seit dem letzten Aufruf dieser Seite rückgängig zu machen, kannst Du auf den Zurücksetzen-Button
    rechts neben dem Zielnamen klicken. Rechts neben diesem Feld findest Du das Dreieck zum Öffnen des Kommentarfeldes, mit dem Du Deine
    Nutzenfunktion kommentieren kannst.</p
  >
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  headerName="Detailseite – Verbale Nutzenfunktionen"
  variation="large"
  [initialOpening]="onDetailedPage && isVerbal"
>
  <p i18n
    >Links siehst Du ein Diagramm, in dem es für jede Ausprägungsstufe auf Deiner Skala einen separaten Balken gibt. Standardmäßig ist ein
    linearer Verlauf eingestellt, das heißt die Balken werden immer um denselben Zahlenwert von Stufe zu Stufe größer. Es gibt drei
    Möglichkeiten, Deine Nutzenfunktion einzustellen:</p
  >
  <ol>
    <li i18n>Durch Klicken in das Diagramm kannst Du die Balkengrößen verändern.</li>
    <li i18n
      >Unter den Balken kannst Du Zahlen eingeben, um die Balkengrößen gezielt einzustellen (Beachte dabei, dass die Zahlenwerte von links
      nach rechts logischerweise immer größer werden müssen).</li
    >
    <li i18n
      >Durch präzise Einstellung der Krümmung und Präzision der Nutzenfunktion in den Eingabefeldern rechts neben dem Diagramm. Hier kannst
      Du auch die Zahlenrundung verändern, die bestimmt, wie viele Nachkommastellen angezeigt werden sollen.</li
    >
  </ol>
  <br />
  <p i18n
    >In der Tabelle rechts neben dem Diagramm (je nach Bildschirmgröße unter dem Diagramm) wird Dir ein Text angezeigt, welcher in drei
    Darstellungsarten die Bedeutung des Verlaufs Deiner Nutzenfunktion beschreibt. Änderst Du die Gestalt der Nutzenfunktion, wird sich auch
    in den Darstellungsoptionen immer etwas verändern. Mehr zu den Darstellungsarten findest Du in den Weiteren Hinweisen.</p
  >
  <p i18n
    >Die Darstellungsarten helfen Dir dabei, Deine Nutzenfunktionen besser zu verstehen. Dabei sollte es unerheblich sein, welche
    Darstellungsvariante Du wählst. Die Krümmung der Nutzenfunktion sollte so gewählt werden, dass Du Dich bei allen Darstellungsvarianten
    mit den dargestellten Präferenzaussagen identifizieren kannst.</p
  >
  <p i18n
    >Unterhalb des Diagramms findest Du weitere Einstellungsmöglichkeiten, um Deine Nutzenfunktionen noch genauer einstellen zu können.
    Durch Einstellung des Niveaus veränderst Du die betrachteten Ausprägungen in den Darstellungsarten. Bei der Breite kannst Du einstellen,
    welche der äußeren Ausprägungsstufen in den Darstellungsarten zusätzlich berücksichtigt werden sollen. Beim gewählten inneren Punkt
    gibst Du an, mit welcher Ausprägungsstufe in den Darstellungsoptionen Vergleiche angestellt werden sollen. Beachte, dass Du hier nur
    Änderungen vornehmen kannst, wenn in Deiner gewählten Breite mind. vier Ausprägungsstufen berücksichtigt werden.</p
  >
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  headerName="Detailseite – numerische und Indikatorskalen"
  variation="large"
  [isLast]="true"
  [initialOpening]="onDetailedPage && !isVerbal"
>
  <p i18n
    >Links siehst Du einen Graphen (Indifferenzkurve), der standardmäßig linear als Gerade eingestellt ist. Es gibt nun zwei Möglichkeiten,
    die Nutzenfunktion einzustellen:</p
  >
  <ol>
    <li i18n>Durch Klicken und Ziehen im Diagramm kannst Du den Verlauf des Graphen anpassen.</li>
    <li i18n
      >Durch präzise Einstellung der Krümmung und Präzision der Nutzenfunktion in den Eingabefeldern rechts neben dem Diagramm. Hier kannst
      Du auch die Zahlenrundung verändern, die bestimmt, wie viele Nachkommastellen angezeigt werden sollen.</li
    >
  </ol>
  <br />
  <p i18n
    >In der Tabelle rechts neben dem Diagramm (je nach Bildschirmgröße unter dem Diagramm) wird Dir ein Text angezeigt, welcher in vier
    Darstellungsarten die Bedeutung des Verlaufs Deiner Nutzenfunktion beschreibt. Änderst Du die Gestalt der Nutzenfunktion, wird sich auch
    in den Darstellungsoptionen immer etwas verändern. Mehr zu den Darstellungsarten findest Du in den weiteren Hinweisen.</p
  >
  <p i18n
    >Die Darstellungsarten helfen Dir dabei, Deine Nutzenfunktionen besser zu verstehen. Dabei sollte es unerheblich sein, welche
    Darstellungsvariante Du wählst. Die Krümmung der Nutzenfunktion sollte so gewählt werden, dass Du Dich bei allen Darstellungsvarianten
    mit den dargestellten Präferenzaussagen identifizieren kannst.</p
  >
  <p i18n
    >Unterhalb des Diagramms findest Du weitere Einstellungsmöglichkeiten, um Deine Nutzenfunktionen noch genauer einstellen zu können.
    Durch Einstellung des Niveaus veränderst Du die betrachteten Ausprägungen in den Darstellungsarten. Bei der Breite kannst Du einstellen,
    wie groß das betrachtete Intervall der Ausprägungen in den Darstellungsarten sein soll.</p
  >
</dt-extendable-header>
