@use 'sass:map';
@use 'sass:list';
@use '@angular/material' as mat;
@use '../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-evaluation-graph {
    .container {
      background-color: #e7e7e7;
    }

    .alternative .objective {
      color: white;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
        }
      }
    }

    .key {
      .objective {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            .square {
              background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
            }
          }
        }
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  klug-evaluation-graph {
    @include mat.typography-level($typography-config, 'subheading-1');
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
