:host {
  display: flex;

  overflow: auto;
}

.container {
  display: grid;
  gap: 10px;

  flex: 1;
  overflow: auto;

  padding: 10px;

  .key {
    display: flex;
    flex-wrap: wrap;

    grid-column: 1 / -1;

    column-gap: 20px;
    row-gap: 5px;

    margin-left: auto;
    align-self: flex-start;

    padding: 10px;

    .objective {
      display: flex;
      align-items: baseline;
      gap: 8px;

      .square {
        width: 10px;
        height: 10px;
      }
    }
  }

  .alternative {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    position: relative;

    flex: 1;

    .objective {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      align-items: stretch;
      justify-content: center;
      text-align: center;
      overflow: hidden;

      min-width: 100px;

      transition: opacity 200ms ease-in-out;

      line-height: 1em;

      > :first-child {
        width: 100%;
        flex-grow: 1;
      }

      > :last-child {
        display: flex;
        justify-content: center;
        align-items: center;

        flex: 1;
        flex-basis: 100%;
      }

      &.not-hovered {
        opacity: 0.3;
      }
    }
  }

  .alternative-name {
    text-align: center;
  }
}
