<dt-modal-content [showX]="false" [flexContent]="true">
  <ng-template #title i18n>Excel-Export läuft</ng-template>
  <ng-template #content>
    <div class="spinner-wrapper">
      <mat-spinner color="accent" diameter="64"></mat-spinner>
    </div>
  </ng-template>
</dt-modal-content>
