<quill-editor
  #ngxQuillInstance
  [ngModel]="text"
  (ngModelChange)="onTextChange($event)"
  (onEditorCreated)="onEditorCreated($event, ngxQuillInstance)"
  [readOnly]="readonly"
  [format]="format"
  bounds="self"
  [modules]="editorModules"
  [placeholder]="placeholder"
  [class.modal-padding]="modalPadding"
>
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <select class="ql-header" i18n-title title="Stil">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option selected></option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold" i18n-title title="Fett"></button>
      <button class="ql-italic" i18n-title title="Kursiv"></button>
      <button class="ql-underline" i18n-title title="Unterstrichen"></button>
      <button class="ql-strike" i18n-title title="Durchgestrichen"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color" i18n-title title="Schriftfarbe"></select>
      <select class="ql-background" i18n-title title="Hervorhebungsfarbe"></select>
    </span>
    <span class="ql-formats">
      <select class="ql-font" i18n-title title="Schriftart">
        <option selected></option>
        <option value="serif"></option>
        <option value="monospace"></option>
      </select>
    </span>
    <span class="ql-formats">
      <select class="ql-align" i18n-title title="Textausrichtung">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-script" value="sub" i18n-title title="Tiefgestellt"></button>
      <button class="ql-script" value="super" i18n-title title="Hochgestellt"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-indent" value="-1" i18n-title title="Einzug verringern"></button>
      <button class="ql-indent" value="+1" i18n-title title="Einzug vergrößern"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-blockquote" i18n-title title="Blockzitat"></button>
      <button class="ql-code-block" i18n-title title="Code Block"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered" i18n-title title="Nummerierung"></button>
      <button class="ql-list" value="bullet" i18n-title title="Aufzählung"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-direction" value="rtl" i18n-title title="Schreibrichtung"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean" i18n-title title="Formatierung entfernen"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-link" i18n-title title="Link einfügen"></button>
      <button class="ql-image" i18n-title title="Bild einfügen (von Link)"></button>
      <button class="ql-image-upload" i18n-title title="Bild einfügen (hochladen)"
        ><label for="image-input"><mat-icon class="small-icon">add_photo_alternate</mat-icon></label></button
      >
      <input id="image-input" #imageInput type="file" accept="image/*" style="display: none" (change)="uploadImage(imageInput)" />
      <button class="ql-native-video" i18n-title title="Video einfügen"></button>
      <button class="ql-video" i18n-title title="YouTube Video einfügen"></button>
    </span>
  </div>
</quill-editor>
