@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  width: 100%;
  border-radius: 4px;

  flex: 1;

  overflow-y: hidden;
}

quill-editor {
  flex: 1;
  overflow-y: hidden;
}

.modal-padding ::ng-deep {
  .ql-editor {
    padding-left: dt.$modal-padding;
    padding-right: dt.$modal-padding;

    &.ql-blank::before {
      padding-left: 0.5rem;
    }
  }

  .ql-toolbar {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.ql-image-upload {
  text-align: center;
  padding: 3px 0 0 0 !important;
}

mat-icon.small-icon {
  text-align: center;
  font-size: mat.font-size(dt.$typography, body-1);
  height: mat.font-size(dt.$typography, body-1);
  font-weight: 800;
  cursor: pointer;
}
