<div class="map-popover mat-elevation-z4">
  <table>
    <tr>
      <th></th>
      <th class="label-objectives" [attr.colspan]="objectives.length" i18n>Fundamentalziele</th>
    </tr>
    <tr *ngFor="let alternative of alternatives; let i = index">
      <td [attr.rowspan]="alternatives.length" class="label-alternatives" *ngIf="i === 0">
        <div i18n>Alternativen</div>
      </td>
      <td *ngFor="let objective of objectives; let j = index">
        <div class="cell" [class.highlighted]="highlightOutcomes.includes(outcomes[i][j])"></div>
      </td>
    </tr>
  </table>
</div>
