@use 'widgets';
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 100%;

  .descriptor {
    display: flex;
    align-items: center;

    position: absolute;
    transform: translateY(-50%);
    padding: 10px 0;

    max-height: 40vh;

    max-width: 100%;

    transition: 250ms 500ms font-weight ease-in-out;
    transition-property: color, text-shadow;

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.active {
      text-shadow: 0px 0px 1px currentColor;
    }

    dt-triangle {
      fill: dt.$orange;
      cursor: pointer;
    }

    dt-rich-text-editor.note-editor {
      max-height: 100%;
      ::ng-deep {
        * {
          @include widgets.thin-scrollbar;
        }

        .ql-container {
          border: 1px solid #ccc;
          border-left: 2px solid dt.$orange;
        }

        .ql-editor {
          flex-basis: 0px !important;
          padding: 4px 8px;
        }

        .ql-toolbar {
          display: none;
        }
      }
    }

    &.reverse {
      flex-direction: row-reverse;
      dt-rich-text-editor.note-editor ::ng-deep {
        .ql-container {
          border-right: 2px solid dt.$orange;
          border-left: 1px solid #ccc;
        }
      }
    }
  }
}

dt-note-btn {
  visibility: hidden;
}
