<div
  *ngFor="let point of points"
  class="descriptor"
  [class.active]="isActive(point.position)"
  [style.top.%]="100 - point.position * 100"
  [style.height.%]="point.height"
  [class.reverse]="align === 'right'"
>
  <ng-container [ngSwitch]="point.rich">
    <ng-container *ngSwitchCase="true"
      ><dt-note-btn #noteBtn [(comment)]="point.description"></dt-note-btn
      ><dt-triangle [size]="13" [direction]="align" (click)="noteBtn.open()"></dt-triangle
      ><dt-rich-text-editor class="note-editor" [(text)]="point.description" [readonly]="true"></dt-rich-text-editor
    ></ng-container>
    <ng-container *ngSwitchCase="false"
      ><span #tooltip="matTooltip" [dtOverflow] [dtOverflowTooltip]="tooltip" [matTooltip]="point.description">{{
        point.description
      }}</span></ng-container
    >
  </ng-container>
</div>
