<dt-modal-content [showFooter]="true" [contentPadding]="false" (closeClick)="tryClose()" [flexContent]="true">
  <ng-template #title>
    <ng-container *ngIf="isNew; else modifyUf" i18n>Einflussfaktor hinzufügen</ng-container>
    <ng-template #modifyUf i18n>Einflussfaktor bearbeiten</ng-template>
  </ng-template>
  <ng-template #subheader>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Name</mat-label>
      <input matInput type="text" [(ngModel)]="copy.name" i18n-placeholder placeholder="Einflussfaktor benennen" required />
    </mat-form-field>
  </ng-template>
  <ng-template #content>
    <div class="modal-content-wrapper" [class.max-height]="commentExpanded">
      <div class="state-list-wrapper" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="stateDrop($event)">
        <div *ngIf="copy.states.elements.length === 0" i18n>Keine Zustände definiert</div>
        <div *ngFor="let zustand of copy.states.elements; index as i" cdkDrag cdkDragBoundary=".state-list-wrapper" class="state-row">
          <mat-icon class="state-drag-handle" cdkDragHandle>drag_handle</mat-icon>

          <mat-form-field subscriptSizing="dynamic" class="dt-slim name-input">
            <mat-label i18n>Zustand</mat-label>
            <input matInput type="text" [(ngModel)]="zustand.name" minlength="1" required />
          </mat-form-field>

          <dt-bar-slider
            [value]="premadePopoverProbabilities?.[i] ?? zustand.probability ?? 0"
            (valueChange)="zustand.probability = $event"
            [precision]="relativeAbweichung(zustand.probability, copy.precision)"
            [interval]="true"
            [vertical]="false"
            [width]="30"
          ></dt-bar-slider>

          <mat-form-field subscriptSizing="dynamic" class="dt-number-input probability-input">
            <dt-input-spinner
              (increase)="updateProbability(zustand, 1)"
              (decrease)="updateProbability(zustand, -1)"
              [plusDisabled]="zustand.probability === 100"
              [minusDisabled]="zustand.probability === 0"
            >
              <input
                matInput
                type="number"
                [ngModel]="premadePopoverProbabilities?.[i] ?? zustand.probability"
                (ngModelChange)="zustand.probability = $event"
                min="0"
                max="100"
                step="1"
                required
              />
            </dt-input-spinner>
            <span matTextSuffix>%</span>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" class="dt-slim description-input">
            <mat-label i18n>Kurze Beschreibung</mat-label>
            <input matInput type="text" [(ngModel)]="zustand.comment" />
          </mat-form-field>

          <button class="delete-button" mat-icon-button (click)="removeState(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div class="state-edit-row">
          <button mat-button color="accent" (click)="addState()" i18n><mat-icon>add_box</mat-icon> Zustand hinzufügen</button>
          <button #premadeOpener mat-button color="accent" [disabled]="copy.states.length === 0" (click)="openPremadeOptions()" i18n>
            <mat-icon>bar_chart</mat-icon> Automatische Vorgabe</button
          >

          <ng-container [ngSwitch]="!areProbabilitiesValid && copy.states.elements.length > 0">
            <dt-button *ngSwitchCase="true" (click)="normalizeProbabilities()" icon="error" iconPosition="left" i18n>Normieren</dt-button>
            <dt-button *ngSwitchCase="false" [disabled]="true" icon="done" iconPosition="left" i18n>Normiert</dt-button>
          </ng-container>

          <mat-form-field subscriptSizing="dynamic" class="dt-number-input precision-field" hideRequiredMarker>
            <mat-label i18n>Präzisionsintervall</mat-label>
            <span matTextPrefix>±</span>
            <dt-input-spinner
              (increase)="adjustPrecision(1)"
              (decrease)="adjustPrecision(-1)"
              [plusDisabled]="copy.precision === pMax"
              [minusDisabled]="copy.precision === 0"
            >
              <input
                matInput
                type="number"
                step="1"
                min="0"
                [max]="pMax"
                [ngModel]="copy.precision"
                (ngModelChange)="changePrecision($event)"
                [enableScroll]="true"
                required
              />
            </dt-input-spinner>
            <span matTextSuffix>%</span>
          </mat-form-field>
        </div>
      </div>

      <div class="comment-title" (click)="commentExpanded = !commentExpanded" matRipple>
        <mat-icon [@expandCollapseIndicator]="commentExpanded">expand_more</mat-icon>
        <span i18n>Erläuterung</span>
        <dt-note-btn [(comment)]="copy.comment" [caption]="copy.name | noteBtnPreset : 'influenceFactor'"></dt-note-btn>
      </div>

      <div class="comment-editor-wrapper" [class.expanded]="commentExpanded">
        <div class="comment-editor">
          <quill-editor
            [(ngModel)]="copy.comment"
            format="json"
            bounds="self"
            theme="bubble"
            [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
            placeholder="Beschreibung des Einflussfaktors"
            i18n-placeholder
          ></quill-editor>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <div class="footer-side">
      <dt-button type="raised-less" (click)="showConnections()" [disabled]="isNew || !isValid" i18n
        >{ data?.usageCount ?? 0, plural, =1 {1 Verknüpfung} other {{{data?.usageCount}} Verknüpfungen} }</dt-button
      >
    </div>

    <div class="footer-center">
      <dt-button (click)="onSubmitClick()" icon="save" iconPosition="left" i18n>Übernehmen</dt-button>
      <dt-button (click)="discard()" type="raised-less" i18n>Verwerfen</dt-button>
    </div>

    <div class="footer-side"></div>
  </ng-template>
</dt-modal-content>

<ng-template #premadePopoverTemplate>
  <div class="premade">
    <div i18n>Erwartungswert</div>
    <dt-range-input
      [(value)]="premadeMean"
      (valueChange)="calculatePopoverProbabilities()"
      [min]="-1"
      [max]="1"
      [step]="0.025"
      valuePosition="hide"
    ></dt-range-input>
    <div i18n>Streuung</div>
    <dt-range-input
      [(value)]="premadeStandardDeviation"
      (valueChange)="calculatePopoverProbabilities()"
      [min]="0"
      [max]="2"
      [step]="0.025"
      valuePosition="hide"
    ></dt-range-input>
    <div class="buttons">
      <dt-button icon="save" iconPosition="left" (click)="savePopoverProbabilities()" i18n>Übernehmen</dt-button>
      <dt-button type="raised-less" (click)="premadePopover.close()" i18n>Verwerfen</dt-button>
    </div>
  </div>
</ng-template>

<ng-template #confirmShowConnections let-dialogRef="dialogRef">
  <dt-modal-content [dialogRef]="dialogRef">
    <ng-template #title i18n>Speichern und Verknüpfungen anzeigen</ng-template>
    <ng-template #content>
      <p i18n>Möchtest Du Deine Änderungen speichern oder verwerfen, bevor Du zu den Verknüpfungen navigierst?</p>
      <p *ngIf="!areProbabilitiesValid" i18n>Dabei werden die Wahrscheinlichkeiten automatisch normiert.</p>
    </ng-template>
    <ng-template #footer>
      <dt-button (click)="dialogRef.close('save')" [ngSwitch]="areProbabilitiesValid">
        <ng-container *ngSwitchCase="false" i18n>Normieren und Speichern</ng-container>
        <ng-container *ngSwitchCase="true" i18n>Speichern</ng-container>
      </dt-button>
      <dt-button (click)="dialogRef.close('dismiss')" type="raised-less" i18n>Verwerfen</dt-button>
      <dt-button (click)="dialogRef.close()" type="raised-less" i18n>Abbrechen</dt-button>
    </ng-template>
  </dt-modal-content>
</ng-template>
