<div class="single-value-container" *ngIf="objective.isVerbal">
  <dt-select [class.grayed-out]="grayedOutText" [selectedOptions]="outcomeValue" (selectedOptionsChange)="onValueChange($event)">
    <dt-select-option *ngFor="let option of objective.verbalData.options; let j = index" [value]="j + 1">{{ option }}</dt-select-option>
  </dt-select>
</div>

<div class="single-value-container" *ngIf="objective.isNumerical">
  <dt-numerical-input
    [from]="objective.numericalData.from"
    [to]="objective.numericalData.to"
    [unit]="objective.numericalData.unit"
    [value]="outcomeValue"
    [grayedOutText]="grayedOutText"
    (valueChange)="onValueChange($event)"
  ></dt-numerical-input>
</div>
