.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 20px;

  position: relative;
  padding: 0 20px;

  .title {
    min-width: 250px;
    max-width: 250px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
  }

  mat-form-field {
    min-width: 100px;
    max-width: 100px;
  }

  .title,
  mat-form-field {
    margin: 8px 0;
  }

  quill-editor {
    flex: 1 0 200px;
    height: 75px;

    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  &.error-row {
    padding-top: 0;
  }
}

.column-layout .row {
  flex-direction: column;
  align-items: stretch;

  .title:empty {
    display: none;
  }

  quill-editor {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    flex: none;
  }
}

mat-form-field ::ng-deep .mat-mdc-form-field-flex {
  padding-top: 0;
}
