@use 'variables' as dt;

.select-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 50px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 30px;
}

.chart {
  flex: 1;
}

.chart-labels {
  position: relative;
  margin-right: 20px;
}

.tornado-line {
  background-color: dt.$blue;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 3px;
}

.dashed-line {
  position: absolute;
  bottom: 0;
}

.chart-scale {
  background-color: dt.$blue;
  height: 1px;
  position: absolute;
}

.chart-value {
  white-space: nowrap;
  position: absolute;
  z-index: 10;
  font-size: 13px;
}

.white-circle {
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
}

.left-chart-value {
  // margin-left: -5px;
  line-height: 13px;
  transform: translate(-100%, -50%);
}

.center-chart-value {
  background-color: white;
  line-height: 13px;
  transform: translate(-50%, -50%);
}

.right-chart-value {
  // margin-left: 5px;
  line-height: 13px;
  transform: translateY(-50%);
}

.scale-value {
  margin-top: 10px;
}

.left-axis-boundaries {
  transform: translate(-100%, -50%);
  margin-left: -5px;
}

.right-axis-boundaries {
  transform: translate(0, -50%);
  margin-left: 5px;
}

.left-scale-value {
  transform: translateX(-100%);
  margin-left: -5px;
}

.center-scale-value {
  transform: translateX(-50%);
}

.right-scale-value {
  margin-left: 5px;
}

.chart-canvas {
  padding: 5px;
  width: 100%;
  min-width: 500px;
  position: relative;
}

.chart-label {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.chart-label-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-right: 5px;
  height: 25px;
  line-height: 25px;
  transform: translateY(-50%);
}

.unit-label {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-right: 5px;
  min-width: 70px;
  height: 25px;
  line-height: 25px;
  transform: translateY(-50%);
  text-align: right;
}

.chart-scale-container {
  position: relative;
}

.chart-scale-handlebar {
  position: absolute;
  background-color: dt.$blue;
  width: 2px;
  height: 30px;
  transform: translateY(-50%);
}

.left-chart-scale-handlebar {
  margin-left: -2px;
}
