@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:math';

$arm-stroke-width: 2px;

:host {
  display: block;
  height: 500px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 0 0;
  position: relative;

  .arm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    z-index: 5;
    cursor: pointer;

    .segment {
      background: black;

      &.base {
        height: $arm-stroke-width;
        width: 10px;
      }

      &.up,
      &.down {
        flex: 1;
        width: $arm-stroke-width;
      }

      &.invisible {
        visibility: hidden;
      }
    }

    &.root {
      cursor: default;
    }

    &.parent-to-child .segment.base.invisible {
      width: 5px;
    }
  }

  .collapse-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    cursor: pointer;
    margin-left: -5px;

    mat-icon {
      height: 20px;
      font-size: 20px;
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48;
    }
  }
}

.unusable * {
  pointer-events: none;
}

.move-container {
  position: relative;
  padding-left: 10px;
}

.fullscreen-container {
  display: flex;
  height: 100%;

  touch-action: none;
}

.gray-filter {
  filter: brightness(0.5);
}

.mind-container {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  * {
    user-select: none;
  }

  .mind-map {
    position: relative;
    display: flex;
    align-items: center;

    transition: filter 0.2s linear;

    overflow: hidden;
    flex: 1;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;

    transition: filter 0.2s linear;

    pointer-events: none;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    dt-collapsible-tiny {
      .header {
        margin-left: 5px;
        font-weight: 500;
      }

      .delete-all {
        color: dt.$orange;
      }

      ul {
        height: 100%;
        overflow-y: auto;

        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 0;

        li {
          .aspect-element[draggable] {
            cursor: grab;
            position: relative;
            width: 100%;
            display: flex;
          }

          &[drag='down'] {
            box-shadow: inset 0px -4px 0px -2px orange;
          }

          &[drag='up'] {
            box-shadow: inset 0px 4px 0px -2px orange;
          }

          .list-element-name {
            width: 85%;
            display: block;
          }

          .delete-icon {
            cursor: pointer;
            position: absolute;
            right: 7px;
            color: #3b4c5b;
          }
        }
      }
    }
  }

  &.horizontal-overlay .right-container {
    flex-direction: row;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: initial;
  }

  .overlay {
    display: flex;
    align-items: center;

    position: absolute;

    overflow-x: auto;
    overflow-y: hidden;

    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);

    @include mat.elevation(8);

    mat-divider {
      align-self: stretch;
      margin: 0px 5px;
      border-width: 2px;

      &:last-child {
        display: none;
      }
    }
  }

  .overlay-top-right {
    right: 0;
    border-radius: 0 0 0 10px;
  }

  .overlay-top-right:empty {
    display: none;
  }

  .overlay-buttons {
    padding: 5px;
    flex-wrap: wrap;
    max-width: 100%;
    border-radius: 0 0 10px 0;

    dt-button-tiny {
      margin: 0 1px;
    }

    input {
      width: 30px;
      height: 30px;
    }

    .extras {
      display: flex;

      .image-button {
        cursor: pointer;

        margin: 0 1px;

        width: 24px;
        height: 24px;

        --color: black;

        &:hover:not(.disabled) {
          --color: #{dt.$orange};
        }

        &.disabled {
          --color: rgba(0, 0, 0, 0.4);
          cursor: default;
        }
      }
    }

    .color-picker {
      display: flex;
      flex-direction: column;
      align-items: center;

      cursor: pointer;

      &:hover {
        mat-icon,
        span {
          color: orange;
        }
      }

      &.no-selection {
        cursor: default;

        mat-icon,
        span {
          color: lightgray;
        }
      }

      mat-icon,
      span {
        margin-bottom: 2px;
        font-size: 20px;
      }

      mat-icon {
        width: 20px;
        height: 20px;
      }

      span {
        line-height: 20px;
        width: 20px;
        text-align: center;
      }

      .current-color {
        height: 4px;
        width: 80%;
      }
    }
  }
}

.dialog-container {
  @include mat.elevation(8);

  border-radius: 5px;
  border: 1px solid dt.$blue;
  background-color: white;

  padding: 8px;

  text-align: center;

  .dialog-caption {
    margin-bottom: 5px;
  }

  dt-button {
    margin: 0px 2.5px;
    ::ng-deep button {
      font-size: 13px;
      height: 28px;
      padding: 0 10px;
    }

    ::ng-deep .content {
      height: 28px;
    }
  }
}
