<div #sliderContainer class="slider-container">
  <div class="line"></div>
  <div class="tick top"></div>
  <div class="tick bottom"></div>
  <div *ngFor="let tick of ticks" class="tick" [style.top.%]="100 - tick * 100"></div>
  <div
    class="marker a"
    [class.focused]="focusedMarker === 'a'"
    [class.dragged]="dragData?.marker === 'a'"
    [style.top.%]="100 - valueA * 100"
    (mousedown)="dragMarker('a', $event, sliderContainer.offsetHeight)"
    ><span class="scale-value">{{ getPositionMarkerTip(valueA) }}</span></div
  >
  <div
    class="marker b"
    [class.focused]="focusedMarker === 'b'"
    [class.dragged]="dragData?.marker === 'b'"
    [style.top.%]="100 - valueB * 100"
    (mousedown)="dragMarker('b', $event, sliderContainer.offsetHeight)"
    ><span class="scale-value"> {{ getPositionMarkerTip(valueB) }}</span></div
  >
</div>
