<dt-modal-content [showFooter]="true" (closeClick)="tryCloseScrewModal()" [contentPadding]="false" [flexContent]="true" size="small">
  <ng-template #title i18n>Stellhebel bearbeiten</ng-template>
  <ng-template #subheader>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Bezeichnung</mat-label>
      <input matInput type="text" [(ngModel)]="editedScrew.name" required [placeholder]="screwDefaultName" dtAutoFocus />
    </mat-form-field>
  </ng-template>
  <ng-template #content>
    <div cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="stateDrop($event)" #stateList>
      <div
        *ngFor="let state of editedScrew.states; let stateIndex = index; trackBy: trackByIndex"
        cdkDrag
        [cdkDragBoundary]="stateList"
        class="row"
      >
        <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
        <input
          type="text"
          class="screw-state"
          title="Stellhebelposition"
          i18n-title
          [(ngModel)]="editedScrew.states[stateIndex]"
          (keyup.enter)="editedScrew.states.length < maxNumberOfStates && addState(stateIndex + 1)"
        />
        <button mat-icon-button [disabled]="numberOfNonEmptyStates <= minNumberOfStates" (click)="deleteState(stateIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="button-wrapper">
      <button
        mat-button
        color="accent"
        (click)="addState(editedScrew.states.length)"
        [disabled]="editedScrew.states.length >= maxNumberOfStates"
      >
        <mat-icon>add_box</mat-icon>
        <ng-container i18n>Position</ng-container>
      </button>
    </div>
  </ng-template>

  <ng-template #footer>
    <dt-button
      dtConfirmPopover="Stellhebel wirklich löschen?"
      i18n-dtConfirmPopover
      (dtConfirmPopoverConfirm)="deleteScrew()"
      [disabled]="!screwDeletionAllowed"
      icon="delete"
      color="warn"
      iconPosition="left"
      i18n
      >Löschen</dt-button
    >
    <dt-button (click)="saveScrew()" [disabled]="!isEditedScrewValid" icon="save" iconPosition="left" i18n>Übernehmen</dt-button>
    <dt-button (click)="tryCloseScrewModal()" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>
