@use '@angular/material' as mat;
@use 'variables' as dt;

.raised-less {
  line-height: 34px; // minus 2px because of 2px border

  &:not([disabled]) {
    &.primary {
      color: dt.$blue;
      border: 1px solid dt.$blue;
    }

    &.accent {
      color: dt.$orange;
      border: 1px solid dt.$orange;
    }

    &.warn {
      color: red;
      border: 1px solid red;
    }

    &.muted {
      color: gray;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}

:host {
  display: inline-block;
  margin: 5px 0px;
  height: 36px;

  &.max-width {
    display: block;
  }

  &.max-height {
    height: 100%;
  }

  &.small {
    height: 19px;
  }

  &.large {
    height: 50px;
  }
}

button {
  // display: flex;
  height: 100%;
  width: 100%;

  &.transform-uppercase .content {
    text-transform: uppercase;
  }

  .content {
    display: flex;
    align-items: center; // for chrome
    justify-content: center;
    // width: 100%;

    &.icon-left {
      flex-direction: row;

      &:not(.icon-only) .material-icons {
        margin-right: 8px;
        margin-left: -8px;
      }
    }

    &.icon-right {
      flex-direction: row-reverse;

      &:not(.icon-only) .material-icons {
        margin-left: 8px;
        margin-right: -8px;
      }
    }

    .text {
      width: 100%;
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &.max-width-wrapper {
    max-width: 100%;
  }

  &.min-width-disabled {
    min-width: 0;
  }

  &.default-padding-disabled {
    padding: 0;
  }

  &.small {
    height: 19px;
    line-height: 19px;

    mat-icon {
      width: 19px;
      font-size: 19px;
    }
  }

  &.large {
    font-size: 24px;
    padding: 0 40px;
  }

  &.no-disabled-bg {
    background: none !important;
  }

  &.transparent {
    background: transparent;
  }

  &.weight-control-button {
    min-width: 0;
    width: 30px;
    height: 25px;

    .material-icons {
      font-size: 16px;
    }
  }
}

mat-icon {
  flex: 0 0 auto;

  &.left {
    margin-right: 5px;
  }

  &.right {
    margin-left: 5px;
  }
}

// Give margin to right element of a chain of dt-buttons
:host-context(dt-button + dt-button) {
  margin-left: 5px;
}
