@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin: 10px 5px;
  min-height: 98px;
  width: 240px;
  color: #fff;
  background-color: #ffff;
}

.ziel-group {
  flex: 1 0 auto;
  margin: 0 5px;
  min-height: 52px; /* space for at least one item */
}

.ziel-group-header {
  background-color: dt.$objective;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding: 2px 5px;
  min-height: 42px;
  text-align: center;
}

.add-button {
  margin: 5px;
}

.ziel-group-item {
  margin-top: 4px;
}
