@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  padding: 0 12px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.65);

  &,
  .verbal-input mat-select {
    font-size: dt.font-size(caption);
  }

  cursor: pointer;

  &.show-invalid {
    background-color: rgba(248, 147, 30, 0.3);
  }
}

.readonly-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.7ch;

  .row {
    display: flex;
    align-items: center;
    column-gap: 0.7ch;
    white-space: nowrap;

    ::ng-deep {
      .mat-mdc-select-arrow-wrapper {
        display: none;
      }

      .mat-mdc-select-trigger {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 0 1 auto;
    min-width: 0;
  }
}

.influence-factor-name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 11px;
  font-style: italic;
}

.verbal-input {
  mat-select ::ng-deep {
    .mat-mdc-select-arrow-wrapper {
      display: none;
    }

    .mat-select-trigger {
      height: auto;
    }

    .mat-select-trigger,
    .mat-select-value,
    .mat-select-value-text {
      white-space: unset;
    }
  }

  mat-select-trigger {
    white-space: unset;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

.transfer-button {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

.wrapper:hover .transfer-button {
  display: block;
}

.numerical-input-popover {
  @include mat.elevation(8);

  background-color: white;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;

  font-size: dt.font-size(caption);

  input {
    flex: 1;
    text-align: right;
    appearance: textfield;
  }
}

.actions-popover {
  width: 200px;
  display: flex;

  button {
    flex: 1;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: dt.$orange;
    color: white;

    &:first-child {
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
    }

    &:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}
