<div
  class="wrapper"
  [draggable]="true"
  [style.background-image]="backgroundImage"
  [class.show-invalid]="!isValueValid"
  [dtHoverPopover]="actionsPopover"
  dtHoverPopoverPosition="top"
  [dtHoverPopoverDelay]="300"
  [dtHoverPopoverDisableClick]="true"
  [dtHoverPopoverDisableAnimation]="true"
  [dtHoverPopoverDisabled]="decisionData.projectMode === 'starter'"
  dtHoverPopoverScrollStrategy="close"
  matRipple
  (click)="onClick()"
  [ngSwitch]="objective.isVerbal && !outcome.influenceFactor"
>
  <div *ngSwitchCase="true" class="verbal-input">
    <mat-select [(ngModel)]="outcome.values[0][0][0]" (ngModelChange)="onChange()" placeholder="?">
      <mat-select-trigger
        [matTooltip]="verbalOutcomeValue"
        [matTooltipShowDelay]="500"
        #tooltip="matTooltip"
        [dtOverflow]
        [dtOverflowTooltip]="tooltip"
      >
        {{ verbalOutcomeValue }}
      </mat-select-trigger>
      <mat-option *ngFor="let option of objective.verbalData.options; let j = index" [value]="j + 1">{{ option }}</mat-option>
    </mat-select>
  </div>

  <div *ngSwitchCase="false" [ngSwitch]="isValueValid" class="readonly-display" #readonlyDisplay>
    <!-- Either with influence factor or an indicator objective -->
    <ng-container *ngSwitchCase="true">
      <div class="row">
        <div class="truncate-text">{{ min }}</div>
        <ng-container *ngIf="unit && min === max">{{ unit }}</ng-container>
      </div>
      <div *ngIf="min !== max" class="row">
        — <div class="truncate-text">{{ max }}</div>
        <ng-container *ngIf="unit">{{ unit }}</ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="false">?</ng-container>
  </div>

  <div
    *ngIf="outcome.influenceFactor"
    class="influence-factor-name"
    [matTooltip]="outcome.influenceFactor | influenceFactorName"
    [matTooltipShowDelay]="500"
    #tooltip="matTooltip"
    [dtOverflow]
    [dtOverflowTooltip]="tooltip"
  >
    {{ outcome.influenceFactor | influenceFactorName }}
  </div>

  <dt-note-btn
    [(comment)]="outcome.comment"
    [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset : 'outcome'"
  >
    <dt-team-comments additional-modal-content [object]="outcome"></dt-team-comments>
  </dt-note-btn>

  <ng-template #invalidValue>?</ng-template>

  <button
    *ngIf="teamTrait?.isOtherUsersProject"
    mat-icon-button
    #me="dtElementRef"
    dtElementRef
    (click)="transferOutcomeToMe(me)"
    class="transfer-button"
    color="accent"
  >
    <mat-icon>publish</mat-icon>
  </button>
</div>

<ng-template #actionsPopover>
  <div class="actions-popover">
    <button (click)="openForecastModal()" matRipple><mat-icon>edit</mat-icon></button>
    <button *ngIf="isValueValid" (click)="openForecastModal(1)" matRipple><mat-icon>equalizer</mat-icon></button>
    <button *ngIf="hasTornadoDiagram" (click)="openForecastModal(2)" matRipple><mat-icon>tornado</mat-icon></button>
  </div>
</ng-template>

<ng-template #numericalInputPopover let-close="close">
  <!-- Numerical or verbal objective without influence factor -->
  <div class="numerical-input-popover">
    <input
      [min]="numericalScaleMin"
      [max]="numericalScaleMax"
      placeholder="?"
      type="number"
      [(ngModel)]="outcome.values[0][0][0]"
      (input)="onChange()"
      dtAutoFocus
      [dtAutoFocusSelectAll]="true"
      (keydown.enter)="close()"
    />
    <div *ngIf="objective.numericalData.unit">
      {{ objective.numericalData.unit }}
    </div>
  </div>
</ng-template>
