@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:math';

$cell-width: 200px;
$dominated-border: 2px solid dt.$crimson-red;

:host {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  background-color: white;
}

dt-select-line dt-toggle-button:not(:first-child) {
  margin-left: 4px;
}

.add-bottom-left,
.add-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-top-right {
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
}

.add-bottom-left {
  position: absolute;
  bottom: -40px;
  left: 0;
  height: 40px;
}

.matrix-explainable-container {
  max-width: 100%;
  min-height: 0;
  width: min-content;

  &:not(.fullscreen) {
    margin-bottom: 20px;
  }
}

.matrix-layout-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;

  flex: 1;
  min-height: 0;

  .objective-box {
    position: sticky;
    top: 0;
    z-index: 101;
  }

  .alternative-box {
    position: sticky;
    left: 0;
    z-index: 100;
  }

  &.transposed {
    .objective-box {
      left: 0;
      top: unset;
      z-index: 100;
    }

    .alternative-box {
      position: sticky;
      left: unset;
      top: 0;
      z-index: 101;
    }
  }

  &.scroll-snap:not(.no-scroll-snap) {
    scroll-snap-type: x mandatory;
  }
}

.domination-legend {
  padding: 10px 16px;
  text-align: center;

  &.professional {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  span {
    padding: 2px 6px;
    color: white;
  }
}

.box {
  min-width: $cell-width;
  width: $cell-width;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 118px;
}

.matrix-layout-container.transposed .box {
  &:not(.last-column-box) {
    border-right: 1px solid #e8dac9;
  }

  &:not(.last-row-box) {
    border-bottom: 1px solid dt.$blue-darken-3;
  }

  &.dominated {
    border-left: $dominated-border;
    border-right: $dominated-border;

    &.last-row-box {
      border-bottom: $dominated-border;
    }
  }
}

.matrix-layout-container:not(.transposed) .box {
  &:not(.last-column-box) {
    border-right: 1px solid dt.$blue-darken-3;
  }

  &:not(.last-row-box) {
    border-bottom: 1px solid #e8dac9;
  }

  &.dominated {
    border-top: $dominated-border;
    border-bottom: $dominated-border;

    &.last-column-box {
      border-right: $dominated-border;
    }
  }
}

.dominating {
  background-color: dt.$blue-lighten-5;
}

.field-wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

dt-impact-matrix-field {
  &.faded-out {
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
  }

  &.highlighted {
    outline: 2px solid gray;
  }
}

:host ::ng-deep .impact-drag-over {
  outline: 2px solid dt.$blue;
}

.dragconfirm-modal-content {
  padding: 8px 0;
}

.matrix-layout-container.transposed .root-box {
  .alternative-text {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
  }

  .objective-text {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
  }
}

.root-box {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 102;
  width: $cell-width;
  background-color: white;
  font-weight: bold;

  .alternative-text,
  .objective-text {
    position: absolute;
    padding: 8px;
  }

  .alternative-text {
    left: 0;
    bottom: 0;
  }

  .objective-text {
    top: 0;
    right: 0;
  }

  .close-fullscreen-button {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  dt-button {
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
  }
}

// alternative-header

$dominated-border: 2px solid dt.$crimson-red;

.alternative-box {
  background-color: dt.$alternative;
  display: flex;
  align-items: center;
  padding: 5px 0 5px;
  height: 100%;

  &.dominated {
    cursor: pointer;

    &:hover {
      background-color: dt.$blue-lighten-10;
    }
  }

  .alternative-name-wrapper {
    width: 100%;
  }

  dt-impact-matrix-name-field {
    display: block;
    padding: 0 5px;
  }
}

.matrix-layout-container.transposed .alternative-box {
  border-right: 1px solid #e8dac9;
  border-bottom: 1px solid dt.$blue-darken-3;

  &.dominated {
    border-left: $dominated-border;
    border-right: $dominated-border;
    border-top: $dominated-border;
  }
}

.matrix-layout-container:not(.transposed) .alternative-box {
  max-width: 100%;
  border-right: 1px solid dt.$blue-darken-3;
  border-bottom: 1px solid #e8dac9;

  &.dominated {
    border-top: $dominated-border;
    border-bottom: $dominated-border;
    border-left: $dominated-border;
  }
}

mat-icon.small-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
}

.domination-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: dt.$orange;
}

.matrix-alternative-actions-wrapper {
  display: flex;
  width: 199px;
}

// objective-header

.objective-box {
  background-color: dt.$objective;
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  text-align: center;

  dt-impact-matrix-name-field {
    display: block;
    padding: 0 5px;
  }

  .ellipsis {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.matrix-layout-container.transposed .objective-box {
  max-width: 100%;
  border-right: 1px solid #e8dac9;
  border-bottom: 1px solid dt.$blue-darken-3;
}

.matrix-layout-container.transposed.compact .objective-box .objective-scale-info {
  height: 15px;
}

.matrix-layout-container.transposed:not(.compact) .objective-box .objective-scale-info {
  height: 30px;
}

.matrix-layout-container:not(.transposed) .objective-box {
  border-right: 1px solid dt.$blue-darken-3;

  &.last-column-box {
    border-right: none;
  }
}

.matrix-objective-actions-wrapper {
  display: flex;
  width: 199px;
}

.objective-scale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: dt.font-size-old(caption);
  line-height: 1.2;
  margin-bottom: 3px;

  &:hover {
    color: dt.$orange;
  }

  .ellipsis {
    -webkit-line-clamp: 2;
    cursor: pointer;
  }
}

// popover-buttons

.matrix-popover-button {
  color: white;
  background-color: dt.$orange;

  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    border-left: 1px solid white;
  }

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  &:disabled {
    background-color: #cfd1d2;
    color: rgba(0, 0, 0, 0.26);
  }
}
