<dt-extendable-header i18n-headerName variation="large" headerName="Das brauchst Du in diesem Teilschritt" [initialOpening]="true">
  <p i18n
    >Greife Deine Alternativen oben links in der Kopfzeile am Symbol <mat-icon>drag_handle</mat-icon>, um sie per Drag &amp; Drop vertikal
    zu verschieben und in eine Reihenfolge zu bringen, die zu Deinem Bauchgefühl passt.</p
  >
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Das kannst Du in allen Teilschritten gebrauchen" [isLast]="true">
  <p i18n
    >Neue Alternativen kannst Du mithilfe des entsprechenden Buttons unterhalb Deiner Alternativenliste hinzufügen. Um Deine Alternativen zu
    beschreiben, nutze das weiße Textfeld in den Boxen oder das Kommentardreieck oben rechts in der Box, welches den Texteditor öffnet.
    Verwende den Mülleimer <mat-icon>delete</mat-icon>, um eine Alternative zu löschen. Mithilfe der Pfeilbuttons
    <mat-icon>expand_more</mat-icon> oben rechts in den Boxen kannst Du Alternativen einklappen. Eine Ein- und Ausklappfunktion für alle
    Alternativen findest Du rechts über der obersten Box. Greife Deine Alternativen oben links in der Kopfzeile am Symbol
    <mat-icon>drag_handle</mat-icon>, um sie per Drag &amp; Drop vertikal zu verschieben. Wenn Du die Boxen aufeinander ziehst, kannst Du
    sie ineinander eingruppieren. Eingeordnete Alternativen kannst Du Dir anzeigen lassen, indem Du in den Alternativenboxen den kleinen
    Bereich rechts ausklappst. Aus diesem kannst Du Alternativen auch wieder herausziehen.</p
  >
  <p i18n
    >Oben rechts findest Du eine Filterfunktion, mit der Du Dir nur bestimmte Alternativen anzeigen lassen kannst. Es gibt die folgenden
    drei Filtereinstellungen:</p
  >
  <ul>
    <li i18n
      >Aktuelle Alternativen: Zeigt Dir alle Alternativen an, die Du in allen Teilschritten erarbeitet hast (auch in späteren als
      diesem).</li
    >
    <li i18n
      >Bis zu diesem Schritt: Zeigt Dir diejenigen Alternativen an, die nur in diesem Schritt und den Schritten davor ermittelt wurden.</li
    >
    <li i18n>Aus diesem Schritt: Zeigt Dir alle Alternativen an, die nur in diesem Schritt gefunden wurden.</li>
  </ul>
  <br />
  <p i18n
    >Beachte, dass gelöschte Alternativen in Deiner Historie ebenfalls nicht mehr angezeigt werden. Je nach Filteroption kann es vorkommen,
    dass Du gesperrte Alternativen angezeigt bekommst (erkennbar am Schloss links neben dem Namen). Dies passiert dann, wenn Du Alternativen
    zusammengefasst hast, die übergeordnete Alternative an sich aber erst in einem späteren Schritt erstellt wurde (s. hierzu den
    Teilschritt „Sinnvolles Zusammenfassen“).</p
  >
</dt-extendable-header>
