<div class="grid-container">
  <div *ngFor="let objective of decisionData.objectives; let i = index" class="objective-container mat-elevation-z3">
    <div class="top-container-wrapper">
      <div class="top-container" routerLink="detailed/{{ i }}">
        <div
          #overflow="dtOverflow"
          class="title-container"
          [dtOverflow]
          [matTooltip]="objective.name"
          [matTooltipDisabled]="!overflow.isOverflowing"
        >
          <span #objectiveName class="objective-title">{{ objective.name }}</span>
        </div>
        <button (click)="restore($event, i)" [class.disabled]="!hasChanged(i)"><mat-icon>settings_backup_restore</mat-icon></button>
      </div>
      <dt-note-btn
        [darkBackground]="true"
        [comment]="getExplanation(objective)"
        (commentChange)="setExplanation(objective, $event)"
        [caption]="objective.name | noteBtnPreset : 'utilityFunction'"
      ></dt-note-btn>
    </div>
    <dt-utility-function-main-element-numerical-or-indicator
      *ngIf="!objective.isVerbal; else verbal"
      [objective]="objective"
    ></dt-utility-function-main-element-numerical-or-indicator>
    <ng-template #verbal>
      <dt-utilityfunction-main-element-verbal [objective]="objective" [hasChanges]="hasChanged(i)"></dt-utilityfunction-main-element-verbal>
    </ng-template>
  </div>
</div>
