<div class="evaluation-grid" [style.grid-template-columns]="gridTemplateColumns">
  <!--Header Row-->
  <div class="prompt header-row">{{ prompt }}</div>
  <div *ngFor="let option of options; last as last" class="option header-row" [class.grayed]="last && lastNotSpecified">
    {{ option }}
  </div>

  <!--Rows-->
  <ng-container *ngFor="let row of rows; index as rowIndex">
    <div class="row-prompt" [class.even]="rowIndex % 2 === 0">
      {{ row }}
    </div>
    <mat-radio-group [formControlName]="rowIndex">
      <div
        *ngFor="let option of options; index as optionIndex; last as last"
        class="option"
        [class.even]="rowIndex % 2 === 0"
        [class.grayed]="last && lastNotSpecified"
      >
        <mat-radio-button
          [attr.aria-label]="option"
          [name]="row"
          [checked]="isChecked(rowIndex, optionIndex)"
          (change)="setValue(rowIndex, optionIndex)"
          [value]="optionIndex"
        ></mat-radio-button>
      </div>
    </mat-radio-group>
  </ng-container>
</div>
