<ng-container *dtProjectMode="'educational'">
  <div class="illustration">
    <div class="left-column-wrapper">
      <div class="left-column" i18n>Alternativen</div>
    </div>
    <div class="right-column">
      <div class="header-row" i18n>Ziele</div>
      <div class="table-wrapper">
        <table>
          <tr *ngFor="let i of [0, 1, 2, 3]">
            <td *ngFor="let j of [0, 1, 2, 3, 4]"></td>
          </tr>
        </table>
        <div class="text-content-wrapper" i18n>Wirkungs&shy;modell inkl. Einfluss&shy;faktoren</div>
      </div>
    </div>
  </div>

  <p i18n
    >In diesem Schritt muss Du eine Ergebnismatrix ausfüllen, d.&nbsp;h. Du musst angeben, welche Auswirkungen die Alternativen in den
    Zielen haben. In einer Ergebnismatrix sind die Alternativen in den Zeilen und die Ziele in den Spalten abgetragen und jedes Matrixfeld
    enthält das (voraussichtliche) Ergebnis der betrachteten Alternative in dem jeweiligen Ziel.</p
  >

  <p i18n
    >Um die zunächst noch leere Ergebnismatrix auszufüllen, musst Du für jedes Ziel eine Messskala definieren, wobei Dir drei verschiedene
    Varianten (numerisch, verbal oder über Indikatoren) zur Verfügung stehen. Zusätzlich kannst Du Einflussfaktoren inkl.
    Wahrscheinlichkeitsangaben definieren, wenn Ergebnisse nur in Abhängigkeit von bestimmten unsicheren Entwicklungen angegeben werden
    können. Sollten Alternativen definiert werden, die von anderen in allen Zielen dominiert werden, wird dies automatisch im Tool überprüft
    und angezeigt.</p
  >

  <p i18n
    >Da Du in diesem Schritt viele Schätzungen abgeben musst, ist dieser Schritt sehr fehleranfällig. Deshalb beachte bitte die bekannten
    Fehlerquellen, die im letzten Hinweis aufgeführt sind.</p
  >
</ng-container>

<ng-container *dtProjectMode="'starter'">
  <div class="dt-help-padding">
    <p i18n
      >In diesem Schritt stellst Du eine sogenannte Ergebnismatrix auf. In einer Ergebnismatrix sind die Alternativen in den Zeilen und die
      Ziele in den Spalten abgetragen und jedes Matrixfeld enthält das (voraussichtliche) Ergebnis der betrachteten Alternative in dem
      jeweiligen Ziel. Du kannst die Ergebnisse auf der vorgegebenen Skala bewerten, Du kannst aber auch eine beliebige andere Skala
      definieren, mit der Du besser zurechtkommst. Wenn eine Alternative in allen Zielen mindestens so gut ist wie eine andere, wird Dir
      dies automatisch angezeigt.</p
    >
    <p i18n
      >Im <a [dtModeTrigger]="'educational'">Entscheidungsnavi Educational</a> stehen Dir in diesem Schritt zusätzliche Funktionalitäten zur
      Verfügung. So kannst Du Unsicherheiten berücksichtigen und mit Wahrscheinlichkeiten für verschiedene Ergebnisse arbeiten. Bei
      schwieriger zu messenden Zielen kannst Du Dir aufwändigere Messskalen mit verschiedenen Indikatoren selbst definieren. Ebenfalls wirst
      Du mit vielen Hinweisen auf die wichtigsten psychologischen Fehler hingewiesen, die Menschen bei Schätzungen gerne begehen.</p
    >
  </div>
</ng-container>
