@use 'variables' as dt;

:host {
  flex: 1 0 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;

  .filler {
    flex: 1;
  }

  dt-tag-input {
    flex: 0 1 400px;
    min-width: 200px;
  }
}

.mat-column-visibility,
.mat-column-actions {
  &.mat-mdc-cell,
  &.mat-mdc-header-cell {
    text-align: center;
  }
}

.mat-column-visibility.mat-mdc-cell mat-icon.not-visible {
  color: red;
}

mat-chip-option {
  cursor: pointer;
}
