<div
  class="range-input-container"
  [class.label-above]="valuePosition === 'above'"
  [class.label-hidden]="valuePosition === 'hide'"
  [style.margin-right.ch]="!hasResponsiveLabelWidth ? maxValueLength / 2 : 0"
  [style.margin-left.ch]="!hasResponsiveLabelWidth ? maxValueLength / 2 : 0"
  [dtWidthTrigger]="{ narrowLabel: 270 }"
  (dtWidthTriggerStateChange)="isLabelNarrow = $event['narrowLabel']"
>
  <div
    *ngIf="valuePosition !== 'hide' && !allowManualInput"
    class="value-label"
    [ngSwitch]="unit"
    [style.width]="calculateLabelWidth()"
    [class.hidden-overflow]="hasResponsiveLabelWidth"
  >
    <span [style.left.%]="(value / valueRange) * 100" class="label-container">
      <ng-container *ngSwitchCase="'none'">
        <span [title]="shownValue ?? (value | number)">{{ shownValue ?? (value | number) }}</span>
      </ng-container>
      <ng-container *ngSwitchCase="'percent'">
        <span [title]="(value | numberCast) / 100 | percent : '.1-1'">{{ (value | numberCast) / 100 | percent : '.1-1' }}</span>
      </ng-container>
    </span>
  </div>

  <div *ngIf="allowManualInput && shownValue == null" class="value-label" [style.width]="calculateLabelWidth()">
    <input
      matInput
      type="number"
      [min]="min"
      [max]="max"
      [ngModel]="value"
      (blur)="onInputChange($event)"
      (keyup.enter)="onInputChange($event)"
      class="number-input"
      required
      #numberInput
    />
  </div>

  <div class="input-container">
    <!-- Track and initial thumb and initial interval. -->
    <div class="track">
      <div *ngIf="interval" [style.left.%]="_intervalLeft" [style.width.%]="_intervalWidth" class="value-interval"></div>
      <div *ngIf="initialValue != null" [style.left.%]="_initValueLeft" class="initial-thumb"></div>
    </div>
    <!-- Only inhibits the thumb. -->
    <input
      #rangeInput
      type="range"
      [attr.min]="min"
      [attr.max]="max"
      [attr.step]="step"
      [ngModel]="value"
      [attr.disabled]="disabled ? true : undefined"
      (input)="onSliderChange(rangeInput.valueAsNumber)"
    />
  </div>
  <div *ngIf="showLimits" class="limit-container">
    <div class="limit-holder"
      ><span>{{ shownMin ?? min }}</span></div
    >
    <div class="limit-holder"
      ><span>{{ shownMax ?? max }}</span></div
    >
  </div>
</div>
