<dt-inputbox
  (deleteEvent)="onDelete()"
  [deleteButton]="!readonly"
  [draggable]="!readonly"
  [isLocked]="isLocked"
  [collapsibleButton]="true"
  [collapsedByDefault]="collapsedByDefault"
  [confirmDeleteTemplate]="confirmDeleteTemplate"
>
  <div class="caption-wrapper">
    <ng-content select=".caption-wrapper"></ng-content>
  </div>
  <div class="control-wrapper">
    <ng-content select=".control-wrapper"></ng-content>
    <dt-button-tiny
      class="note-btn"
      (click)="openNotes()"
      [icon]="'note'"
      i18n-title
      title="Notizen Editor öffnen"
      [disabled]="isLocked"
    ></dt-button-tiny>
  </div>
  <div class="content-wrapper">
    <div class="container-left">
      <input
        type="text"
        class="name"
        [(ngModel)]="name"
        (ngModelChange)="onNameChange($event)"
        [readonly]="readonly"
        [placeholder]="namePlaceholder"
        data-cy="name-input"
      />
      <div class="children-list">
        <div
          *ngFor="let child of children; let i = index"
          [draggable]="!lockedChildren[i]"
          [attr.dragHandle]="!lockedChildren[i]"
          isOrigin="true"
          [attr.childIndex]="i"
          class="child"
          [class.locked-child]="lockedChildren[i]"
          [@deleteAnimation]="deletedChild && deletingChildIndex === i"
          (@deleteAnimation.done)="finishDeleteChild($event)"
        >
          <span #overflow="dtOverflow" [dtOverflow] [matTooltip]="child.name" [matTooltipDisabled]="!overflow.isOverflowing">{{
            child.name
          }}</span>
          <dt-button-tiny
            [disabled]="readonly || lockedChildren[i]"
            (click)="!readonly && !lockedChildren[i] && deleteChild(i)"
            [icon]="'delete'"
          >
          </dt-button-tiny>
        </div>
      </div>
    </div>
    <div class="container-right">
      <quill-editor
        [(ngModel)]="notes"
        (ngModelChange)="onNotesChange($event)"
        format="json"
        bounds="self"
        theme="bubble"
        placeholder=""
        [modules]="editorModules"
        [readOnly]="!notesEditable || readonly"
      >
      </quill-editor>
    </div>
  </div>
</dt-inputbox>
<dt-note-btn
  [triangle]="false"
  [(comment)]="notes"
  [caption]="noteCaption"
  (commentChange)="onNotesChange($event)"
  [readonly]="readonly"
  (noteModalClick)="noteModalClick.emit()"
></dt-note-btn>

<dt-modal #modalConfirmDeleteChild [showFooter]="true">
  <ng-template i18n #title>Löschen bestätigen</ng-template>
  <ng-template #content>
    <ng-container *ngIf="confirmChildDeleteTemplate; else default">
      <ng-container *ngTemplateOutlet="confirmChildDeleteTemplate; context: { $implicit: children[deletingChildIndex] }"></ng-container>
    </ng-container>
    <ng-template #default>
      <p i18n>Bist Du sicher, dass Du dieses Element löschen möchtest?</p>
    </ng-template>
  </ng-template>
  <ng-template #footer>
    <dt-button (click)="confirmDeleteChild()" color="warn" i18n>Ja, löschen</dt-button>
    <dt-button (click)="modalConfirmDeleteChild.close()" type="raised-less" i18n>Nein, abbrechen</dt-button></ng-template
  >
</dt-modal>
