<div class="dt-limit-width">
  <h1 *ngIf="showTitle" i18n>Schaue Dir die Zielvorschläge an</h1>

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *ngIf="decisionData.isProfessional()" i18n
        >Auf dieser Seite kannst Du Ziele aus anderen Beispielprojekten übernehmen. Wähle dafür ein entsprechendes Projekt aus und ziehe die
        gewünschten Ziele per Drag &amp; Drop in Deine eigene Zielhierarchie.</ng-container
      >
      <ng-container *ngIf="!decisionData.isProfessional()" i18n
        >Hier kannst Du aus anderen Beispielprojekten Ideen für Deine Fundamentalziele finden.</ng-container
      >
    </ng-template>
    <ng-template #subDescription i18n
      >Du kannst durch das Setzen von Tags geeignete Projekte eingrenzen und aus der rechten Zielhierarchie passende Ziele für Dich durch
      Drag &amp; Drop in Deine Zielhierarchie übernehmen.</ng-template
    >
  </dt-step-description>
</div>

<div
  class="hierarchy-wrapper"
  [dtWidthTrigger]="{ 'screen-threshold': 800 }"
  (dtWidthTriggerStateChange)="smallScreen = $event['screen-threshold']"
>
  <div class="left-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container">
        <dt-objective-aspect-hierarchy
          [listOfDeletedAspects]="listOfDeletedAspects"
          [tree]="tree"
          [initialZoomDelta]="-25"
          [showOverlay]="!inSelectionMode"
          [class.blurred-background]="inSelectionMode"
          (dropGlobalElement)="trackElementDrop($event)"
        ></dt-objective-aspect-hierarchy>
      </div>
      <div [class.visible]="inSelectionMode" [class.hidden]="!inSelectionMode" class="stacked-object-container project-list-wrapper">
        <div class="project-list-outer-container mat-elevation-z3">
          <div class="close-button" *ngIf="selectedHierarchy != null" (click)="inSelectionMode = false"><mat-icon>close</mat-icon></div>
          <div class="project-list-inner-container">
            <div class="search-form" [dtOverlayProgress]="isLoading && !hasError">
              <mat-form-field subscriptSizing="dynamic" class="name-field">
                <mat-label i18n>Nach Name filtern</mat-label>
                <input matInput type="text" [(ngModel)]="nameFilter" (ngModelChange)="onFilterChange()" />
              </mat-form-field>
              <dt-tag-input *ngIf="tags" [allTags]="tags" [(selectedTagIds)]="tagIdFilter" (selectedTagIdsChange)="onFilterChange()" i18n
                >Nach Tags filtern</dt-tag-input
              >
            </div>
            <div *ngIf="hierarchies?.count > 0 && !hasError; else noProjects" class="project-list" (mouseleave)="hoveredHierarchy = null">
              <div
                *ngFor="let hierarchy of hierarchies.items"
                class="project-row"
                (click)="selectHierarchy()"
                (mouseenter)="hoverHierarchy(hierarchy)"
                [class.is-opened]="selectedHierarchy?.id === hierarchy.id"
              >
                <span>{{ hierarchy.name | localizedString }}</span>
              </div>
              <div *ngIf="hierarchies && hierarchies.items.length < hierarchies.count" class="load-more-row" [ngSwitch]="isLoading">
                <mat-spinner *ngSwitchCase="true" [diameter]="36"></mat-spinner>
                <dt-button *ngSwitchCase="false" (click)="loadMore()" i18n>Mehr laden</dt-button>
              </div>
            </div>

            <ng-template #noProjects [ngSwitch]="hasError">
              <div *ngSwitchCase="false" class="no-projects-found" i18n>Keine Beispielziellisten entsprechen dem Filter</div>
              <mat-error *ngSwitchCase="true" class="dt-error" i18n
                >Fehler beim Laden der Beispielziellisten. Versuche es später erneut!</mat-error
              >
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!smallScreen" class="middle-container">
    <span class="arrow" [class.arrow-left]="!inSelectionMode"></span>
  </div>

  <div class="right-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container" [ngSwitch]="rightHierarchy != null">
        <dt-objective-aspect-hierarchy
          *ngSwitchCase="true"
          [tree]="rightHierarchy.tree"
          [allowDragPanning]="false"
          [allowInputSelection]="false"
          [editable]="false"
          [initialZoomDelta]="-25"
          [useObjectivesFromTree]="true"
          class="right-hierarchy"
          #rightSideHierarchy
        >
          <span titleOverlay class="title-overlay" (click)="exitFullScreen(); inSelectionMode = true">
            <mat-icon title="In anderen Bespielen suchen" class="title-icon" i18n-title>find_replace</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <span class="title-container" [attr.title]="rightHierarchy.name | localizedString">{{
              rightHierarchy.name | localizedString
            }}</span>
          </span>
        </dt-objective-aspect-hierarchy>

        <div *ngSwitchCase="false" class="no-hierarchy-text" i18n>Noch keine Zielhierarchie ausgewählt</div>
      </div>
    </div>
  </div>
</div>
