@use 'variables' as dt;

$header-main-color: rgba(0, 0, 0, 0.7);
$row-color: rgba(0, 0, 0, 0.87);
$header-bg: #e2e4e5;
$body-bg: #0000000a;

:host {
  display: contents;
}

dt-select.grayed-out {
  --option-color: gray;
}

.text-center {
  text-align: center;
}

.header-secondary-name {
  padding: 0 10px;
  color: $header-main-color;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-cell {
  padding: 0 !important;

  .category-box {
    display: flex;
    flex-direction: column;

    span {
      background-color: $header-bg;
      border-bottom: 2px solid white;
    }

    dt-select {
      padding: 5px 10px;
    }
  }
}

.body-row {
  background-color: $body-bg;

  .indicator-state-name-container {
    display: flex;
    line-height: 24px;
    justify-content: space-between;
    color: $row-color;
    font-weight: 400;
    align-items: center;

    .indicator-state-name {
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .clickable-icon {
      display: flex;
    }
  }
}

td {
  border: 2px solid white;
  padding: 5px 10px;
  vertical-align: middle;
}
tr:last-child td {
  border-bottom: 0;
}
tr td:first-child {
  border-left: 0;
}
tr td:last-child {
  border-right: 0;
}

.expandable-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .expand-icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
  }
}

.verbal-indicator-value {
  width: 100%;
  margin: 0;

  ::ng-deep dt-button {
    width: 100%;

    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
