@use 'variables' as dt;

mat-action-list {
  padding: 0;

  .project-name,
  .last-updated {
    font-size: dt.font-size-old(body-1);
  }

  .last-updated {
    color: darkgray;
    font-size: dt.font-size-old(caption);
  }
}

.no-projects {
  padding: 0.5rem;
  text-align: center;
  font-style: italic;
}
