<dt-modal-content
  (closeClick)="closeModal(false)"
  [showX]="true"
  [flexContent]="true"
  [contentPadding]="false"
  [size]="quickstart ? 'big' : 'normal'"
>
  <ng-template #title>
    <ng-container [ngSwitch]="quickstart">
      <ng-container *ngSwitchCase="true" i18n>Beispiele und Templates laden</ng-container>
      <ng-container *ngSwitchCase="false" i18n>Meine Projekte</ng-container>
    </ng-container>
  </ng-template>
  <ng-template #content>
    <ng-container *ngIf="projects?.list.length > 0; else noProjects">
      <form (submit)="submitSearch($event)">
        <mat-form-field subscriptSizing="dynamic" class="name-field">
          <mat-label i18n>Nach Name filtern</mat-label>
          <input
            #nameFilterInput
            matInput
            dtAutoFocus
            type="text"
            [(ngModel)]="filterText"
            [ngModelOptions]="{ standalone: true }"
            (input)="updateProjectsAndTags()"
          />
        </mat-form-field>
        <dt-tag-input [allTags]="tags" [(selectedTagIds)]="filterTagIds" (selectedTagIdsChange)="updateProjectsAndTags()" i18n
          >Nach Tags filtern</dt-tag-input
        >
      </form>
      <dt-flex-table
        [data]="filteredProjects"
        (clickRow)="loadProject(filteredProjects[$event].id)"
        [defaultSortColumn]="quickstart ? 'name' : 'date'"
        [defaultSortDirection]="quickstart ? 'asc' : 'desc'"
        (sort)="changeSorting($event)"
        (dtResizeObserver)="onTableWidthChange($event)"
      >
        <dt-flex-column id="name" [flex]="true" i18n-name name="Name">
          <ng-template let-project="$implicit" let-index="index">
            <span>{{ project.name }}</span>
            <ng-container *ngIf="project.team">
              <mat-icon color="accent" class="team-indicator">groups</mat-icon>
              <span class="team-name">{{ project.team.name }}</span>
            </ng-container>
            <span *ngIf="openOnlineProjectId === project.id" class="edit-text" i18n>Geöffnet</span>
          </ng-template>
        </dt-flex-column>

        <!--Quickstart Projects-->
        <dt-flex-column *ngIf="quickstart && tagsById" id="tags" name="Tags" i18n-name [sortable]="false">
          <ng-template let-project="$implicit">
            <dt-tag-list
              [project]="project"
              [tagsById]="tagsById"
              [selectedTagIds]="filterTagIds"
              [visibleTagCount]="visibleTagCount"
              (tagClick)="onTagClick($event)"
            ></dt-tag-list>
          </ng-template>
        </dt-flex-column>
        <dt-flex-column *ngIf="quickstart" id="copy" [sortable]="false">
          <ng-template let-project="$implicit" let-index="index">
            <dt-button
              *ngIf="quickstart"
              type="basic"
              [margin]="0"
              color="basic"
              icon="file_copy"
              i18n-title
              title="Link in die Zwischenablage kopieren"
              [iconOnly]="true"
              [minWidth]="false"
              ngxClipboard
              [cbContent]="getQuickstartProjectLink(project)"
            ></dt-button>
          </ng-template>
        </dt-flex-column>

        <!--User Projects-->
        <ng-container *ngIf="!quickstart">
          <dt-flex-column id="date" i18n-name name="Bearbeitet am">
            <ng-template let-project="$implicit" let-index="index">
              <span class="date">{{ project.updatedAt | date : 'medium' }}</span>
            </ng-template>
          </dt-flex-column>
          <dt-flex-column id="actions" [sortable]="false">
            <ng-template let-project="$implicit" let-index="index">
              <dt-button
                [matMenuTriggerFor]="actionMenu"
                type="basic"
                [margin]="0"
                color="basic"
                icon="more_horiz"
                [iconOnly]="true"
                i18n-matTooltip
                matTooltip="Weitere Aktionen"
                [matTooltipShowDelay]="500"
              >
              </dt-button>
              <mat-menu #actionMenu>
                <button mat-menu-item (click)="loadProject(project.id, true)">
                  <mat-icon>file_copy</mat-icon>
                  <span i18n>Als Kopie öffnen</span>
                </button>
                <button mat-menu-item (click)="renameProject(project)">
                  <mat-icon>drive_file_rename_outline</mat-icon>
                  <span i18n>Umbenennen</span>
                </button>
                <button mat-menu-item (click)="createProjectLink(project)">
                  <mat-icon>share</mat-icon>
                  <span i18n>Teilen</span>
                </button>
                <button mat-menu-item (click)="createTeam(project)" [disabled]="!canCreateTeamProjectFrom(project)">
                  <mat-icon>groups</mat-icon>
                  <span i18n>Team erstellen</span>
                </button>
                <button mat-menu-item (click)="deleteProject(project)" [disabled]="project.team">
                  <mat-icon>delete</mat-icon>
                  <span i18n>Löschen</span>
                </button>
              </mat-menu>
            </ng-template>
          </dt-flex-column>
        </ng-container>
      </dt-flex-table>
    </ng-container>
    <ng-template #noProjects>
      <p i18n *ngIf="quickstart">Es sind aktuell keine Themenprojekte verfügbar!</p>
      <p i18n *ngIf="!quickstart">Du hast noch kein Projekt online gespeichert!</p>
    </ng-template>
  </ng-template>
</dt-modal-content>
