<dt-modal-content [showFooter]="true" (closeClick)="tryClose()" [contentPadding]="false" [flexContent]="true" size="big">
  <ng-template i18n #title>Eingabe einer Wirkungsprognose</ng-template>
  <ng-template i18n #subtitle
    >Ziel <strong>&bdquo;{{ objective.name }}&ldquo;</strong>, Alternative
    <strong>&bdquo;{{ alternative.name }}&ldquo;</strong></ng-template
  >
  <ng-template #content>
    <mat-tab-group mat-stretch-tabs color="accent" mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex">
      <mat-tab labelClass="forecast-outcome-tab-label">
        <ng-template mat-tab-label i18n>Dateneingabe</ng-template>
        <!-- Show Alternative/Objective/Uncertaintyfactor -->
        <mat-form-field class="influencefactor-selection" subscriptSizing="dynamic">
          <mat-label i18n>Einflussfaktor</mat-label>
          <mat-select
            panelClass="dt-forecast-of-outcomes-modal-if"
            [(ngModel)]="copy.influenceFactor"
            (ngModelChange)="changeUncertaintyFactor($event)"
          >
            <mat-option i18n>--- Kein Einflussfaktor ---</mat-option>
            <mat-optgroup>
              <span i18n>Systemseitige Einflussfaktoren zur Unsicherheitsmodellierung</span>
              <mat-icon color="accent" class="help-icon" [dtHoverPopover]="systemSidedIFDescription" [dtHoverPopoverPosition]="'bottom'">
                help
              </mat-icon>
              <mat-option *ngFor="let predefinedInfluenceFactor of predefinedInfluenceFactors" [value]="predefinedInfluenceFactor">{{
                predefinedInfluenceFactor | influenceFactorName
              }}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="decisionData.influenceFactors.length > 0">
              <span i18n>Benutzerdefinierte Einflussfaktoren</span>
              <mat-icon color="accent" class="help-icon" [dtHoverPopover]="customIFDescription" [dtHoverPopoverPosition]="'bottom'">
                help
              </mat-icon>
              <mat-option *ngFor="let uf of decisionData.influenceFactors; let i = index" [value]="uf">{{ uf.name }}</mat-option>
            </mat-optgroup>
          </mat-select>
          <button
            *ngIf="!isInfluenceFactorPredefined(copy.influenceFactor)"
            [disabled]="copy.influenceFactor == null"
            (click)="$event.stopImmediatePropagation(); copy.influenceFactor != null && editInfluenceFactor()"
            mat-icon-button
            matSuffix
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="$event.stopImmediatePropagation(); addInfluenceFactor()" mat-icon-button matSuffix
            ><mat-icon>add</mat-icon></button
          >
        </mat-form-field>

        <ng-template #systemSidedIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n
            >Systemseitige Einflussfaktoren beschreiben den Worst-Case (p.10 Perzentil), den Median (p.50 Perzentil) und den Best-Case (p.90
            Perzentil). Alle Worst-Best-Verteilungen werden vom System ausnahmslos als unabhängig voneinander betrachtet. Dies gilt auch für
            alle Indikatoren innerhalb einer konstruierten Skala.</div
          >
        </ng-template>

        <ng-template #customIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n
            >Benutzerdefinierte Einflussfaktoren beschreiben konkrete mögliche Zustände und erfordern die Angabe von Wahrscheinlichkeiten
            für jeden Zustand.</div
          >
        </ng-template>

        <ng-container [ngSwitch]="viewType">
          <!-- Indicator View -->
          <dt-indicator-values
            *ngSwitchCase="'indicatorView'"
            [alternative]="alternative"
            [outcomeValues]="copy.values"
            [influenceFactor]="copy.influenceFactor"
            [objective]="objective"
          ></dt-indicator-values>

          <!-- Numerical/Verbal WITHOUT Influence Factor View -->
          <table class="wirkungsprog-table" *ngSwitchCase="'noIndicatorWithIF'">
            <ng-container *ngIf="!isInfluenceFactorPredefined(copy.influenceFactor)">
              <tr *ngFor="let state of copy.influenceFactor.states; let stateIdx = index">
                <td class="text-center half-cell">
                  <div>
                    {{ copy.influenceFactor | stateName : stateIdx }}
                    <span> ({{ copy.influenceFactor.states[stateIdx].probability }}%) </span>
                  </div>
                </td>
                <td class="text-center half-cell">
                  <dt-numerical-or-verbal-value
                    [objective]="objective"
                    [(outcomeValue)]="copy.values[stateIdx][0][0]"
                  ></dt-numerical-or-verbal-value>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isInfluenceFactorPredefined(copy.influenceFactor)">
              <ng-container *ngFor="let state of copy.influenceFactor.states; let stateIdx = index">
                <tr *ngIf="!areImplicitValuesCollapsed || stateIdx === medianIdx">
                  <td class="text-center half-cell">
                    <div>
                      {{ copy.influenceFactor | stateName : stateIdx }}
                    </div>
                  </td>
                  <td class="text-center half-cell">
                    <div class="expandable-dropdown-container">
                      <dt-numerical-or-verbal-value
                        [grayedOutText]="isValueGrayedOut(stateIdx)"
                        [objective]="objective"
                        [outcomeValue]="copy.values[stateIdx][0][0]"
                        (outcomeValueChange)="handleValueChangePredefinedUF($event, stateIdx)"
                      ></dt-numerical-or-verbal-value>
                      <button
                        mat-icon-button
                        *ngIf="areImplicitValuesCollapsed"
                        color="accent"
                        (click)="areImplicitValuesCollapsed = false"
                      >
                        <mat-icon>expand</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </table>

          <!-- Numerical/Verbal WITH Influence Factor View -->
          <div class="single-value-container" *ngSwitchCase="'noIndicatorWithoutIF'">
            <dt-numerical-or-verbal-value [objective]="objective" [(outcomeValue)]="copy.values[0][0][0]"></dt-numerical-or-verbal-value>
          </div>
        </ng-container>

        <dt-note-btn
          [(comment)]="copy.comment"
          [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset : 'outcome'"
        ></dt-note-btn>
      </mat-tab>
      <mat-tab [disabled]="!isValid" labelClass="forecast-outcome-tab-label">
        <ng-template mat-tab-label i18n>Risikoprofil</ng-template>
        <ng-template matTabContent>
          <dt-risk-profile #riskProfile [alternative]="alternative" [objective]="objective" [outcome]="copy"></dt-risk-profile>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="!decisionData.isStarter()" [disabled]="!isValid || !isTornadoAvailable" labelClass="forecast-outcome-tab-label">
        <ng-template mat-tab-label>
          <label
            [matTooltip]="isCorrectSystemSidedIF() ? noTornadoAvailableMessage : wrongOrderMessage"
            [matTooltipDisabled]="isValid && isTornadoAvailable"
            matTooltipClass="warning-tooltip"
            i18n
            >Tornadodiagramm</label
          >
        </ng-template>
        <ng-template matTabContent>
          <dt-tornado-diagram *ngIf="isTornadoAvailable" [objective]="objective" [outcome]="copy"></dt-tornado-diagram>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #footer>
    <dt-button
      (click)="apply()"
      [disabled]="!isValid"
      icon="save"
      iconPosition="left"
      [matTooltip]="wrongOrderMessage"
      [matTooltipDisabled]="isCorrectSystemSidedIF()"
      matTooltipClass="custom-tooltip"
      [matTooltipPosition]="'above'"
      i18n
      >Übernehmen</dt-button
    >
    <dt-button (click)="close()" type="raised-less" i18n>Verwerfen</dt-button>
  </ng-template>
</dt-modal-content>
