<div class="header" [class.help-open]="isHelpOpen | async">
  <div class="left">
    <img class="logo" src="assets/klug-logo.jpg" />
  </div>
  <ng-container *ngIf="hasAccessToken() | async">
    <div class="center">
      <div class="navigation">
        <ng-container *ngFor="let step of STEPS" [ngSwitch]="stepLinkActive.isActive">
          <div [routerLink]="step.link" [routerLinkActive]="''" #stepLinkActive="routerLinkActive"></div>
          <button *ngSwitchCase="false" mat-button [routerLink]="step.link" [disabled]="!canAccess(step.link)"
            ><mat-icon *ngIf="step.icon || step.svgIcon" [svgIcon]="step.svgIcon">{{ step.icon }}</mat-icon
            ><span>{{ step.name }}</span></button
          >
          <button *ngSwitchCase="true" mat-stroked-button color="primary" [disabled]="!canAccess(step.link)"
            ><mat-icon *ngIf="step.icon || step.svgIcon" [svgIcon]="step.svgIcon">{{ step.icon }}</mat-icon
            ><span>{{ step.name }}</span></button
          >
        </ng-container>
      </div>
    </div>
    <div class="right">
      <div
        *ngIf="!projectService.isReadonlyProject"
        class="save-indicator"
        [ngSwitch]="autoSaveService.saveState$ | async"
        [matTooltip]="saveIndicatorTooltip$ | async"
      >
        <ng-container *ngSwitchCase="'saving'">
          <mat-icon class="rotate">sync</mat-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'errored'">
          <div class="save-error-container">
            <mat-icon class="error">cloud_off </mat-icon>
            <span>Speichern fehlgeschlagen!</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-icon>cloud_upload </mat-icon>
        </ng-container>
      </div>

      <div class="help" (click)="toggleHelp()">
        <div class="corner"></div>
        <span>Hilfestellungen</span><mat-icon class="expand-icon">expand_more</mat-icon></div
      >
    </div>
  </ng-container>
</div>
