<dt-extendable-header i18n-headerName variation="large" [initialOpening]="!onDetailedPage" headerName="Übersichtsseite">
  <p i18n
    >Auf dieser Übersichtsseite werden Deine Fundamentalziele dargestellt, die Skalen, auf denen sie gemessen werden und im Falle von
    Indikatorskalen kleine Infobuttons, mithilfe derer Du Dir die Indikatoren anzeigen lassen kannst. Darunter findest Du leere Balken.
    Vergebe zunächst pauschal Deine Zielgewichte, indem Du für jedes Ziel einzeln aus dem Bauch heraus einstellst, wie wichtig es für Dich
    ist. Klicke dazu in die Balken bzw. stelle diese durch Ziehen ein oder vergebe die Gewichte numerisch durch eine Zahleneingabe unterhalb
    der Balken. Um ein Zielgewicht direkt nach ganz oben zu verschieben, kannst Du den Button „Max.“ oberhalb der Balken nutzen.</p
  >
  <p i18n
    >Wenn Du auf diese Weise alle Zielgewichte eingestellt hast, erscheint unter den Balken der Button „Zielgewichte in Prozent berechnen“.
    Wenn Du auf diesen klickst, werden alle Deine Eingaben normiert und über den Balken als Prozentzahlen zwischen 0 und 100 % dargestellt.
    Wenn Du jedoch bei der pauschalen Eingabe der Zielgewichte bereits einen Balken auf das Maximum geschoben hast, wird die Normierung nach
    der Eingabe des letzten Zielgewichts automatisch vorgenommen und der Button erscheint nicht.</p
  >
  <p i18n
    >Nach der Normierung kannst Du Deine Zielgewichte auf dieser Seite durch Ziehen der Balken verändern. Um alle Eingaben zu löschen, nutze
    den „Zurücksetzen“ Button unterhalb der Balken.</p
  >
  <p i18n
    >Nach der Normierung wird das Ziel mit dem höchsten Zielgewicht automatisch als Referenzziel eingestellt. Mit diesem vergleichst Du alle
    weiteren Ziele im nächsten Schritt in den Trade-offs. Hier gibt es für jedes Ziel eine Detailseite, die Du durch Klicken auf die orangen
    „Trade-off“-Buttons erreichst (die Buttons werden weiß eingefärbt, wenn Du einmal einen Trade-off eingestellt hast). Beachte, dass eine
    Änderung der Zielgewichte auf dieser Seite evtl. vorgenommene Trade-off Einstellungen wieder aufhebt und Du in diesem Falle die
    Trade-offs neu eingeben musst.</p
  >
  <p i18n>Um Deine Zielgewichte zu kommentieren, kannst Du die Dreiecke oben rechts neben den Zielnamen verwenden.</p>
  <b i18n>Grundsätzlich wird ausdrücklich empfohlen, alle Trade-offs einzustellen!</b>
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Detailseite – Eingabe eines Trade-offs"
  [isLast]="true"
  [initialOpening]="onDetailedPage"
>
  <p i18n
    >Du siehst links im Diagramm eine Indifferenzkurve. Die auf dieser Kurve angezeigten Punkte sind Kombinationen von Zielausprägungen der
    betrachteten Skalen, die auf Basis Deiner Nutzenfunktionen zu demselben Nutzen führen. Links neben der Indifferenzkurve findest Du eine
    Tabelle, in der Dein Trade-off verbalisiert wird. Unter der Tabelle kannst Du im Feld links Deine Zielgewichtung verändern. Nutze dafür
    die „+“ und „–“ Buttons und stelle das Zielgewicht so ein, dass Du Dich mit den Aussagen in den Darstellungsarten identifizieren kannst.
    Rechts daneben kannst Du Deine Angaben mithilfe der Eingabefelder „Präzisionsintervall“ und „Zahlenrundung“ noch präziser formulieren,
    um Deinen Trade-off zu optimieren.</p
  >
  <p i18n>Dir stehen zwei Darstellungsarten zur Auswahl, die Dir helfen, Deinen persönlichen Trade-off richtig einzustellen:</p>
  <ol>
    <li i18n
      >In Darstellungsart I werden die Ausprägungen einer Deiner Alternativen mit einer anderen, fiktiven Alternative verglichen. Die oberen
      beiden Werte stammen aus dem Wirkungsmodell und sind die Bewertungen, die Du für die betrachtete Alternative in den beiden Zielen
      vorgenommen hast. Eine Änderung des Zielgewichts führt dazu, dass ich der Wert unten links verändert. Stelle das Zielgewicht so lange
      mithilfe der „+“ und „–“ Buttons ein, bis Du Dich mit der Indifferenzaussage in der Tabelle identifizieren kannst.</li
    >
    <li i18n
      >Darstellungsart II verbalisiert konkret die Verbesserungen bzw. Verschlechterungen, die Du in den einzelnen Zielen in Kauf nehmen
      würdest. Dies ist nichts anderes als eine rein textliche Darstellung der Informationen aus Darstellungsart I.</li
    >
  </ol>
  <br />
  <p i18n
    >Mithilfe des Sliders „Bezugspunkt“ kannst Du die Alternative ändern, die Du in Darstellungsart I mit der fiktiven Alternative
    vergleichst. Durch Verschieben des Vergleichspunkts bewegst Du Dich auf der Indifferenzkurve im Diagramm und änderst die Ausprägungen
    der Vergleichsalternative. Grundsätzlich gilt, dass Du bei jedem Trade-off überprüfen solltest, ob die resultierenden Aussagen auch bei
    verschiedenen Bezugspunkten und Vergleichspunkten für Dich passend sind oder nicht. Solltest Du hierbei Schwierigkeiten in der exakten
    Festlegung eines Trade-offs haben, kannst Du den Präzisionsgrad auf solch ein Intervall einstellen, dass Du Dich auch bei verschiedenen
    Parameterkonstellationen noch mit jeder der resultierenden Präferenzaussagen identifizieren kannst.</p
  >
  <b i18n
    >Beachte, dass eine Verschiebung des Bezugs- und Vergleichspunkts nicht zu einer Änderung des Zielgewichts führen! Dies passiert nur
    mithilfe der Buttons unter der Tabelle!</b
  >
  <br /><br />
  <p i18n
    >Über den ganz rechten Eingabebutton kannst Du Deinen Trade-off auf eine alternative Art und Weise grafisch eingeben. Nach Klick auf den
    Button öffnet sich ein Fenster, in dem Du für jedes Ziel eine Skala mit zwei Schiebereglern findest. A und B stehen hier für
    unterschiedliche Alternativen. Zudem findest Du neben den Skalen die Beschreibungen einzelner Ergebnisausprägungen, sofern Du diese
    vorgenommen hast. Um einen Trade-off einzustellen, vergibst Du durch Ziehen der Kreise für A und B jeweils Bewertungen in den beiden
    Zielen. Mithilfe der Lupenbuttons oben unter den Zielnamen kannst Du die Einstellungen präzise vornehmen. Auf diese Art und Weise kannst
    Du einen Trade-off nach Deinem Belieben und losgelöst von den Alternativen aus Deinem Wirkungsmodell einstellen. Durch den „Übernehmen“
    Button speicherst Du Deine Einstellungen. Auf der Detailseite der wird der Button nun transparent dargestellt, um anzuzeigen, dass der
    hier eingestellte Trade-off aktiv ist. Änderst Du auf der Detailseite das Zielgewicht, wird der Trade-off hier jedoch wieder
    überschrieben und der Button wird wieder orange. Die Daten bleiben dennoch gespeichert, sodass Du jederzeit Deinen Trade-off wieder
    einstellen kannst.</p
  >
</dt-extendable-header>
