:host {
  display: flex;
  flex-direction: column;

  max-height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.empty-message {
  padding: 16px;
  font-style: italic;
}

.table-wrapper {
  min-height: 0;

  overflow: auto;
}

table {
  width: 100%;

  &.hidden {
    display: none;
  }
}
