<div class="container" [dtWidthTrigger]="{ mobileLayout: 740 }" (dtWidthTriggerStateChange)="isMobileLayout = $event['mobileLayout']">
  <!-- Single header layout -->
  <div class="left-flex" [class.small]="decisionData.isProfessional()" *ngIf="!isMobileLayout && !isStartPage">
    <ng-container *ngTemplateOutlet="logoButton"></ng-container>
  </div>
  <div class="right-flex" *ngIf="!isMobileLayout">
    <ng-container *ngTemplateOutlet="templateProjectsButton"></ng-container>
    <div class="spacer"></div>
    <dt-project-area *ngIf="!isStartPage"></dt-project-area>
    <div class="spacer"></div>
    <ng-container *ngTemplateOutlet="rightButtons"></ng-container>
    <ng-container *ngTemplateOutlet="helpButton"></ng-container>
  </div>

  <!-- Two header layout -->
  <div class="two-header-layout" *ngIf="isMobileLayout">
    <!-- top header line-->
    <div class="top-header">
      <ng-container *ngTemplateOutlet="templateProjectsButton"></ng-container>
      <div class="spacer"></div>
      <div *ngIf="!isStartPage">
        <ng-container *ngTemplateOutlet="logoButton"></ng-container>
      </div>
      <div class="spacer"></div>
      <ng-container *ngTemplateOutlet="rightButtons"></ng-container>
    </div>

    <!-- bottom header line -->
    <mat-toolbar *ngIf="!decisionData.isProfessional()" color="primary">
      <div class="flex-container">
        <button *ngIf="!isStartPage" mat-button class="menu-button" (click)="hamburgerButtonClick.emit()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="spacer"></div>

        <dt-project-area *ngIf="!isStartPage"></dt-project-area>

        <div class="spacer"></div>
      </div>
      <ng-container *ngTemplateOutlet="helpButton"></ng-container>
    </mat-toolbar>
  </div>
</div>

<ng-template #userPopover let-close="close">
  <div class="user-popover mat-elevation-z3" *ngIf="authService.user$ | async as user">
    <div class="user-info">
      <div>{{ user.name || user.email }}</div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openAccountModal()" i18n>Profil</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openEventModal()" i18n>Veranstaltungen</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="close(); logout()" i18n>Abmelden</button>
  </div>
</ng-template>

<ng-template #updatePopover let-close="close">
  <div class="update-popover">
    <span i18n>Eine neue und verbesserte Version des Entscheidungsnavis ist jetzt verfügbar!</span>

    <button mat-raised-button color="accent" (click)="activateNaviUpdate()">
      <mat-icon>refresh</mat-icon>
      <span i18n>Jetzt aktualisieren</span>
    </button>

    <button mat-icon-button (click)="close()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #logoButton>
  <button data-cy="mode-switch-button" class="change-mode-button" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
    <div class="logo">
      <span>ENTSCHEIDUNGSNAVI</span>
      <div class="project-mode">
        <span>{{ decisionData.projectMode | titlecase }}</span>
      </div>
    </div>
    <ng-container>
      <mat-icon *ngIf="!menuTrigger.menuOpen">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="menuTrigger.menuOpen">keyboard_arrow_up</mat-icon>
    </ng-container>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <div data-cy="mode-switch-menu">
      <mat-radio-group [value]="decisionData.projectMode" class="menu">
        <mat-radio-button [value]="'starter'" *ngIf="decisionData.isStarter()"> Starter</mat-radio-button>
        <mat-radio-button [value]="'educational'" [dtModeTrigger]="'educational'"> Educational</mat-radio-button>
        <mat-radio-button [value]="'professional'" [dtModeTrigger]="'professional'"> Professional</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-menu>
</ng-template>

<ng-template #templateProjectsButton>
  <button
    *ngIf="projectService.getProjectType() !== 'embedded'"
    data-cy="project_mgmt"
    class="template-projects-button"
    (click)="openProjectModal()"
    mat-button
  >
    <span i18n>Projekte</span>
  </button>
</ng-template>

<ng-template #rightButtons>
  <ng-container *ngIf="projectService.getProjectType() !== 'embedded'">
    <button
      [class.no-display]="!isUpdateAvailable"
      #updateButton
      mat-button
      (click)="toggleUpdatePopover()"
      class="button update-button"
      i18n-matTooltip
      matTooltip="Update verfügbar"
      matTooltipShowDelay="1000"
      i18n
      >Neue Version verfügbar!</button
    >

    <ng-container [ngSwitch]="authService.loggedIn$ | async">
      <button *ngSwitchCase="false" (click)="openLoginModal()" mat-raised-button color="accent" class="login-button" i18n>Anmelden</button>

      <button
        *ngSwitchCase="true"
        #userButton
        class="button"
        i18n-matTooltip
        matTooltip="Profil"
        matTooltipShowDelay="1000"
        mat-button
        (click)="openUserPopover(userPopover)"
      >
        <mat-icon>person</mat-icon>
      </button>
      <!-- Show a spinner when we are loading (the async pipe returns undefined) -->
      <div *ngSwitchDefault class="login-spinner-wrapper">
        <mat-spinner color="accent" [diameter]="24"></mat-spinner>
      </div>
    </ng-container>

    <button class="button" mat-button (click)="openAppSettings()" matTooltip="Navi-Einstellungen" i18n-matTooltip matTooltipShowDelay="500">
      <mat-icon>settings</mat-icon>
    </button>

    <button class="button" mat-button [matMenuTriggerFor]="languageMenu" i18n-matTooltip matTooltip="Sprache" matTooltipShowDelay="1000">
      <mat-menu #languageMenu>
        <mat-radio-group class="menu" [value]="language">
          <mat-radio-button [value]="'de'" (click)="changeLanguage('de')"> Deutsch</mat-radio-button>
          <mat-radio-button [value]="'en'" (click)="changeLanguage('en')"> English</mat-radio-button>
        </mat-radio-group>
      </mat-menu>
      <ng-switch [ngSwitch]="language">
        <ng-container *ngSwitchCase="'en'"> EN</ng-container>
        <ng-container *ngSwitchCase="'de'"> DE</ng-container>
      </ng-switch>
    </button>
  </ng-container>
</ng-template>

<ng-template #helpButton>
  <button
    *ngIf="(sideBySideService.state === 'history' || !decisionData.isProfessional()) && !isStartPage"
    class="button side-by-side-button"
    mat-button
    (click)="toggleHelpAssistant()"
    [class.history-button]="sideBySideService.state === 'history'"
  >
    <mat-icon>{{ sideBySideService.state !== 'closed' ? 'close' : 'help' }}</mat-icon>
  </button>
</ng-template>
