@use '@angular/material' as mat;
@use 'widgets';
@use 'variables' as dt;

$screw-width: 150px;
$screw-header-height: 10px + 3 * (1.5 * 15px) + 10px;

:host {
  display: flex;
  justify-content: center;

  &.is-dragging-screw {
    pointer-events: none;

    .screw-connection-stripe {
      opacity: 0;
    }
  }

  &.is-pressing-shift {
    user-select: none;
  }
}

.blur-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.configuration-label-container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 300px;
  min-width: 250px;
  margin-top: $screw-header-height + 10px;

  overflow-y: auto;
  overflow-x: hidden;

  .configuration-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    line-height: 1.2;
    padding-left: 10px;

    cursor: pointer;

    .indicator {
      visibility: hidden;
      user-select: none;

      display: flex;
      align-items: center;
      justify-content: center;

      // for the bullet displayed when the alternative is only highlighted
      font-size: 25px;
      font-weight: bold;

      // to prevent vertical layout shift when we switch from 'highlighted' to 'selected'
      height: 25px;
      min-width: 20px;
      // for the ripple animation
      margin: 0 20px 0 20px;

      mat-icon {
        // for the lock icon when the alternative is selected
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      ::ng-deep .mat-ripple-element {
        background-color: rgba(248, 147, 30, 0.1);
      }
    }

    .name {
      text-align: right;
      min-width: 0;
    }

    &.highlighted {
      .name {
        color: dt.$orange;
      }

      .indicator {
        color: dt.$orange-lighten-5;
        visibility: visible;
      }
    }

    &.selected {
      .name {
        color: dt.$orange;
        font-weight: bold;
      }

      .indicator {
        color: dt.$orange;
        visibility: visible;
      }
    }
  }
}

.screw-list {
  display: flex;

  padding-bottom: 10px;

  overflow-x: auto;
  overflow-y: hidden;

  &.cdk-drop-list-dragging .screw:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.screw {
  position: relative;

  display: flex;
  flex-direction: column;

  background: white;

  min-width: $screw-width;
  max-width: $screw-width;

  border-radius: 5px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    // For the note button.
    position: relative;
    overflow: hidden;

    background: dt.$blue;
    color: white;

    height: $screw-header-height;

    padding: 10px 15px;
    border-radius: 5px;

    cursor: pointer;

    &:hover:not(:has(dt-note-btn:hover)) {
      background: darken(dt.$blue, 5%);
    }

    .name {
      display: -webkit-box;

      text-align: center;

      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .state {
    display: flex;

    justify-content: center;
    text-align: center;

    background: dt.$blue-lighten-9;
    border: 1px solid darken(dt.$blue-lighten-9, 5%);
    border-radius: 5px;

    padding: 10px + 1px;
    margin-top: 10px;

    cursor: pointer;
    overflow-y: auto;
    overflow-wrap: anywhere;

    .name {
      margin: auto 0;
      user-select: none;
    }

    &:not(.not-defined) {
      flex: 1;
    }

    &.not-defined {
      background: darken(dt.$blue-lighten-9, 5%);
      padding: 0px + 1px;
      height: 8px;

      &.selected,
      &.highlighted {
        padding: 0px;
      }
    }

    &.highlighted {
      border: 2px dashed dt.$orange;
      padding: 10px + 0px;
    }

    &.selected {
      border: 2px solid dt.$orange;
      padding: 10px + 0px;
    }

    &:hover {
      background: darken(dt.$blue-lighten-9, 5%);
    }
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }
}

.screw:not(.editable) .state.not-defined {
  display: none;
}

.state {
  @include widgets.thin-scrollbar;

  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #dde1e2;
    opacity: 0.8;
    border: none;
    border-radius: 0 5px 5px 0;
  }
}

.screw-connection-stripe {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1);

  path {
    fill: transparent;

    &.screw-state-connection-highlight-area {
      cursor: pointer;
      stroke: transparent;
      stroke-width: 25;
    }

    &.screw-state-connection {
      stroke: rgba(187, 187, 187, 0.7);
      stroke-width: 2px;

      &.highlighted {
        stroke: dt.$orange;
        stroke-width: 2px;
        stroke-dasharray: 3 4;
      }

      &.selected {
        stroke: dt.$orange;
        stroke-width: 2px;
        stroke-dasharray: none;
      }
    }
  }
}

.screw-append-button {
  display: flex;
  align-self: flex-start;
  margin-left: 15px;
  margin-top: calc($screw-header-height / 2);
  transform: translateY(-50%);

  ::ng-deep .mat-ripple-element {
    background-color: rgba(248, 147, 30, 0.1);
  }

  mat-icon {
    color: dt.$orange;
    font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48;
  }
}
