:host {
  display: flex;
  flex-direction: column;
  overflow: auto;

  min-height: 200px;
}

.assessment-grid-container {
  display: flex;
  justify-content: center;
  overflow: auto;

  .assessment-grid {
    display: grid;
    grid-auto-rows: max-content;

    gap: 2px;

    overflow: auto;
    border-radius: 5px;

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      padding: 5px;
      min-height: 50px;

      &.objective {
        position: sticky;
        top: 0;
      }

      &.alternative {
        position: sticky;
        left: 0;
      }

      &.header {
        position: sticky;
        top: 0;
        left: 0;

        z-index: 1;
      }

      &.outcome {
        cursor: pointer;
      }
    }
  }
}
