<div class="assessment-grid-container">
  <div class="assessment-grid" [style.grid-template-columns]="gridColumns">
    <div class="box header"> Bewerten der Optionen </div>
    <div *ngFor="let objective of objectives" class="box objective">
      {{ objective.name }}
    </div>
    <ng-container *ngFor="let alternative of alternatives; index as alternativeIndex">
      <div class="box alternative">
        {{ alternative.name }}
      </div>
      <div
        *ngFor="let objective of objectives; index as objectiveIndex"
        class="box outcome"
        [matMenuTriggerFor]="pointMenu"
        [class.unset]="outcomes[alternativeIndex][objectiveIndex].values[0][0][0] == null"
      >
        {{ outcomes[alternativeIndex][objectiveIndex].values[0][0][0] ?? '?' }}

        <mat-menu #pointMenu="matMenu">
          <button
            *ngFor="let outcome of possibleOutcomes"
            mat-menu-item
            (click)="outcomes[alternativeIndex][objectiveIndex].values = [[[outcome]]]"
          >
            <span>{{ outcome }}</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</div>
