@use 'variables' as dt;
@use '@angular/material' as mat;

dt-object-box {
  background-color: dt.$alternative;
}

.drag-handle {
  cursor: move;
}

.lock-icon {
  color: dt.$blue;
  font-size: 18px;

  width: 18px;
  height: 18px;

  margin: 0 3px;
}

.name-input {
  color: dt.$blue;
  font-weight: 500;

  flex: 1 0 100px;
  min-width: 100px;

  margin: 0 4px;
  padding: 2px 0;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  outline: none;

  &:focus {
    border-bottom: 1px solid dt.$orange;
  }

  &::placeholder {
    color: dt.$blue;
    opacity: 0.6;
    font-weight: normal;
  }
}

quill-editor {
  height: 150px;
  min-height: 100%;
}

.children-wrapper {
  background-color: dt.$alternative;

  width: 300px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;

  position: relative;
}

.no-children {
  position: absolute;
  left: 4px;
  right: 24px;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: dt.font-size-old(caption);
  color: rgba(0, 0, 0, 0.6);
}

.child {
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 24px;

  background-color: white;
  border: 1px solid dt.$blue;

  display: flex;
  align-items: center;

  &[draggable='true'] {
    cursor: move;
  }

  .child-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 1 0 0;
  }

  .delete-button {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
}
