:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-spinner {
  position: absolute;
}

iframe {
  z-index: 0;
  display: block;
  flex: 1;
  align-self: stretch;
}

.consent-container {
  padding: 20px;
}
